<!Programa HTML                                           >
<!Despliega el formulario para el Reporte de un Incidente >
<!Programado por Marco A. Villalobos M.                   >
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}

	{% block enc_activo %}
    <ul class="encabezado_B">
        <yy><strong>ANALISIS DE IMPACTO DE RIESGO (RIA) - ADMINISTRACION RIESGO / IMPACTO</strong></yy>
    </ul>
    <ul class="encabezado_B">
        <yy><strong>Definicion Riesgo / Impacto</strong></yy>
    </ul>
	{% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
        <p>Nombre del Riesgo .........: {{ form.nombre }}</p>
        <p>Descripcion : {{form.descripcion}}</p>
        <p>Ponderacion..........: {{form.ponderacion}} %</p>
        </table>
        <input type="submit" value="Graba" />
    </form>

{% endblock %}
