# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/

# Django
*.sqlite3
*.log
db.sqlite3

# Env files
.env
.env.*  

# IDEs
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Otros 
DEFCON5/settings copy.py
DEFCON5/settings copy 2.py