
{% extends "base_generic.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Por favor ingrese su cuenta y clave.</p>
    {% endif %}
{% endif %}


<!--------- Ingreso de Login + Password ----------------->
<div class="flex-container">
  <div class="flex-item">

  </div>
  <div class="flex-item" style="width: 300px;">
    <ul class='scr4' style="background: rgba(31, 92, 21, 0.634); 
    color:black; text-align: center; margin:0%">
    
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h5><strong><bn style="color:whitesmoke">Ingrese su nombre de usuario y clave</bn></strong></h5>
    <div>
      <p style="color:whitesmoke"><strong>Nombre Usuario Gestor:</strong></p>
      <p>{{ form.username }}</p>
    </div>
    <div>
      <p style="color:whitesmoke"><strong>Clave:</strong></p>
      <p>{{ form.password }}</p>
    </div>

    <br/>

    <div>
      <input type="submit" class="button" style="font-size: 1rem;"   value="Ingresar Sesion" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>

    {# Assumes you setup the password_reset view in your URLconf #}
    <br/>
    <a href="{% url 'olvido_clave' %}" style="color:whitesmoke">
    <strong>Olvidó su clave?</strong></a>



    </form>
    {% if form.errors %}
      <ul class="scr4" style="background-color: bisque;">
      <strong><rr class="blink_20" style="font-size: 1.3rem;">
        <p>Su nombre de usuario y clave no coinciden o su cuenta podría estar deshabilitada.</p>
      </rr></strong>
      </ul>
    {% endif %}
  </ul>

  </div>
</div><!--------- Fin Ingreso de Login + Password ----------------->
{% endblock %}
