<!Programa HTML>
<!Ingreso de Login y Password>

{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Su nombre de usuario y clave no coinciden o su cuenta puede estas deshabilitada.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Por favor ingrese su cuenta y clave.</p>
    {% endif %}
{% endif %}

<ul class='Fondo_C'>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td><strong>Nombre Usuario ....:</strong></td>
  <td>{{ form.username }}</td>
</div>

<br/>

<div>
  <td><strong>Clave ......................:</strong></td>
  <td>{{ form.password }}</td>
</div>

<br/>

<div>
  <input type="submit" value="Ingresar Sesion" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvido su clave?</a></p>

</ul>
{% endblock %}
