<!Programa HTML>
<!Lista los Servicios, Contactos y Pasos en el formulario de creacion de Procedimiento de Recuperacion (PC)>
<!Programado por Marco A. Villalobos M>
<!===============================================>


{%extends "base_generic.html"%}


   {% block encabezado3 %}
   <ul class="encabezado_B">
     <strong>PROCEDIMIENTOS DE RECUPERACION DE CONTINUIDAD (Parte 2)</strong>
   </ul>
  {% endblock %}
	
	
  {% block Servicios %}
                       
   <ul class="scr2">
   <table class="lta">

    <thead>
      <tr>
	<th scope="col">Nombre</th>
	<th scope="col">Objetivo</th>
	<th scope="col">Contacto</th>
	<th scope="col">Backup</th>
	<th scope="col">crea</th>
      </tr> 
    </thead>
    <tbody>
    
       {%for serv in proced.servicios_pc.all %}
	<tr>
      	  <th scope="row"><bb>{{serv.nombre}}</bb></th>
	  <th scope="row"><bb>{{serv.objetivo}}</bb></th>
	  <th scope="row"><bb>{{serv.contacto}}</bb></th>
	  <th scope="row"><bb>{{serv.contacto_bck}}</bb></th>
	  <th scope="row"><bb>borrar</bb></th>
	</tr>
        {% if not forloop.last %}
        {%endif%}
      {%endfor%}
    </tbody>

    </table>
  </ul>
 {%endblock%}
		

