<!Programa HTML>
<!Despliega el formulario para la creacion de un Proceso>
<!Programado por Marco A. Villalobos M.>
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}

	{% block encabezado_detalle %}
	<ul class="encabezado_A">
        <aa><strong>FORMULARIO DE CREACION DE PROCEDIMIENTO DE RECUPERACION </strong></aa>
        </ul>
	<ul class="encabezado_A">
	  <aa>{{proceso.path}}</aa>
	</ul>
	{% endblock %}


	{% block Proceso %}
	<!-- Bloque A -->
	<div class="flex-container">
	<!-- Columna izq ------>
	<div class="flex-item" style=" width: 50%;">
	<h5><strong>Proceso Asociado</strong></h5>
	<ul class="scr4" style="background: rgb(212, 230, 200);">
	<p><strong>Codigo...................:</strong>&emsp;{{proceso.proceso}}
	<p><strong>Nombre Proceso...:</strong>&emsp;{{proceso.nombre}}</p>
	<p><strong>Descripcion...........:</strong>&emsp;{{proceso.objetivo}}</p>
	</ul>
	</div><!--- Fin columna izq -->

	<!--- Columna der -->
	<div class="flex-item" style="text-align: center">
		<bb style="text-align: center">Puntaje:
			<ul class="scr4" style="background: rgb(212, 230, 200);"> {{proceso.subproceso.ranking}}</ul> 
		</bb>
	</div><!--- Fin Columna der -->

	</div> <!--- Fin Bloque A -->
	{% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        
	{% block A %}
	<h5><strong>Procedimiento de Contingencia</strong></h5>
	<ul class="scr4">
	<div class="flex-container">
		<div class="flex-item">
		<p><strong> CODIGO DE PROCEDIMIENTO ..:</strong>&emsp;</p>
		<!-- <p><strong> 2.2 Tipo..: </strong>&emsp;</p> -->
		</div>
		<div class="flex-item">
		<p><strong> <p>{{ form.nombre }}</p>
		<!-- <p><strong> <p>{{form.tipo}}</p> --> 
		</div>

	</div>
	</ul>
	{% endblock %}

	<!--- Boton de Salida ---->
    <input type="submit" class="button" value="Crear Procedimiento" />

    </form>
	<br/><br/>
	<!---- Despliega el nombre del codigo html -->
	<aa style="font-size: 8px;">[prcd_crea_A]</aa>
{% endblock %}
