<!Programa HTML>
<!Despliega el formulario para la especificacion de un Servicio Critico para el Proceso>
<!Programado por Marco A. Villalobos M.>
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}


	{% block enc_activo %}
	<ul class="encabezado_A">
        <aa><strong>5. INGRESO DE SERVICIO REQUERIDO</strong></aa>
	</ul>
	{% endblock %}

	{% block B %}
	<h5><strong>5. Servicios Requeridos</strong>( Indique todos los servicios/recursos que necesita el Procedimiento para su ejecucion)</h5>
		<table class="lta">
		   <thead>
		   <tr>
			<th scope="col" style="width: 400px;">Nombre Servicio</th>
			<th scope="col" style="width: 50%;">Objetivo</th>
			<th scope="col" style="width: 300px;">Contacto</th>
			<th scope="col" style="width: 300px;">Respaldo</th>
						
		   </tr>
		   </thead>

		   <tbody>
		   {% if servicios %}
		    {%for ser in servicios.all  %}
		    <tr>
			<th scope="row">{{ser.nombre}}</th>
			<th scope="row">{{ser.objetivo}}</th>
			<th scope="row">{{ser.contacto}}</th>
			<th scope="row">{{ser.contacto_bck}}</th>
			
		    </tr>
       		    {% if not forloop.last %}
        	    {%endif%}
      		    {%endfor%}
		   {%else%}
		     Sin servicios definidos.
		   {%endif%}
		   </tbody>
		</table>
	

	{% endblock %}

<br/>
    <form action="" method="post">
        {% csrf_token %}

		<!------------ Mensaje ---------------------------------------------->
		<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
		<h4><strong>5.1 Nombre del Servicio</strong></h4>
		<p>
			Este Campo registra el nombre de referencia del servicio critico requerido para la 
			correcta ejecucion del Procedimiento de Contingencia.  
		</p>
		<br/>
		<p>
			{{form.nombre}}
		</p>
		</div>
		<!------------ Fin Mensaje ---------------------------------------------->

		<!------------ Mensaje ---------------------------------------------->
		<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
		<h4><strong>5.2 Objetivo</strong></h4>
		<p>
			Este Campo registra el objetivo, rol o papel que cumple el servicio en funcion 
			de la ejecucion del Procedimiento de Contingencia.   
		</p>
		<p>
			Su aplicacion debe ser descrita claramente en la seccion <strong>7.Procedimiento 
			de Contingencia</strong> del Formulario.    
		</p>
		<br/>
		<p>
			{{form.objetivo}}
		</p>
		</div>
		<!------------ Fin Mensaje ---------------------------------------------->

		<!------------ Mensaje ---------------------------------------------->
		<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
		<h4><strong>5.3 Contacto</strong></h4>
		<p>
			Este Campo registra el nombre del ejecutivo de cuenta, responsable o enlace 
			con el proveedor del servicio.    
		</p>
		<p>
			Corresponde al <strong>Nombre y Apellidos de una  persona</strong> y no puede 
			corresponder a una instancia no natural (área, departamento, empresa u otra)    
		</p>

		<br/>
		<p>
			{{form.contacto}}
		</p>
		<p>
			Es recomendable registrar un contacto de respaldo al titular del proveedor:     
		</p>
		<p>
			{{form.contacto_bck}}
		</p>
		<p>
			Los datos de referencia (telefono, correo, etc.) del Contacto y su respaldo
			deben ser registrados en la seccion <strong>6. Indice de Contactos</strong> del 
			Formulario.     
		</p>


		</div>
		<!------------ Fin Mensaje ---------------------------------------------->




		<br/>
        <input type="submit" class="button" value="Graba" />
    </form>

<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
	<!-- Caja de Comentario -->

	<div id="comment-box" class="hidden" style="font-size: 13px;">
		<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
		<h5><strong>Comentario de Revision:</strong></h5>
		<textarea id="comment-text" rows="5" cols="30"></textarea>
		<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
		<button id="close-comment">Cerrar</button>
	</div>
	
	<!-- Globo de cómic -->
	<div id="comicBalloon"></div>

	<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
	<div id="confirmation-dialog" class="hidden">
		<div class="dialog-content">
			<p id="confirmation-message"></p>
			<button id="confirm-yes">Sí</button>
			<button id="confirm-no">No</button>
		</div>
	</div>
	

<!--------- Fin CSS para Scripts ------------------------->

<!-------- Nombre del programa --------->
<br/><br/><br/><br/>
<aa style="font-size: 8px;">[prcd_crea_serP5]</aa>





{% endblock %}
