<!Programa HTML>
<!Despliega el formulario para la creacion de un Proceso (Parte1)>
<!Programado por Marco A. Villalobos M.>
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}

	{% block encabezado_detalle %}
	<ul class="encabezado_A">
        <h4><aa><strong>FORMULARIO DE ESPECIFICACION DE PROCEDIMIENTO DE CONTINGENCIA</strong></aa></h4>
    </ul>
	{% endblock %}

	
	<!------------------------------------------- Bloque A -------------------------------->
	<div class="flex-container">

		<!-- Columna izq ------>
		<div class="flex-item" style="width: 80%;">

			<h5><strong>Proceso Asociado</strong></h5>
			<ul class="scr4 BarraScroll" style="background: rgb(212, 230, 200);">

				<p><strong>Codigo...................:</strong>&emsp;{{proceso.proceso}}
				<p><strong>Nombre Proceso...:</strong>&emsp;{{proceso.nombre}}</p>
				<p><strong>Descripcion...........:</strong>&emsp;{{proceso.objetivo}}</p>
				<br/>

				<h5><strong>Indicadores de Recuperacion</strong></h5>

					<table class="lta">
						<thead class="encabezado_C" style="background: blue; color: white;">
						<tr>
								<th scope="col">Indicador</th>
								<th scope="col">Nivel Asignado</th>
								<th scope="col">Descripcion</th>
						</tr>
						</thead>
			
						<tbody>
						
						{% for ind in proceso.subproceso.indicador_subp.all %}
			
						<tr>
							<th scope="row"><bb style="font-size: 10px;">{{ind.indicador.nombre}}</bb></th>
							<th scope="row"><aa style="font-size: 10px;">{{ind.nivel.nivel}}</aa></th>
							<th scope="row"><aa style="font-size: 10px;">{{ind.nivel.definicion}}</aa></th>
						</tr>
			
						{%endfor%}
			
							
						</tbody>
			
					</table>
				<br/>

				<h5><strong>Servicios Criticos</strong></h5>

					<table class="lta">
						<thead class="encabezado_C" style="background: rgb(255, 230, 0); color: white;">
						<tr style="color:black">
								<th scope="col">Tipo</th>
								<th scope="col">Nombre</th>
								<th scope="col">Descripcion</th>
						</tr>
						</thead>
			
						<tbody>
						
						{% for rec in proceso.subproceso.recursos.all %}
			
						<tr>
							<th scope="row"><bb style="font-size: 10px;">{{rec.tipo}}</bb></th>
							<th scope="row"><aa style="font-size: 10px;">{{rec.nombre}}</aa></th>
							<th scope="row"><aa style="font-size: 10px;">{{rec.descripcion}}</aa></th>
						</tr>
			
						{%endfor%}
			
							
						</tbody>
			
					</table>
				<br/>
			

				<h6><strong>Escenarios de Riesgo</strong></h6>
					<table class="lta">
					<thead class = 'encabezado_C'>
					<tr>
						<th scope="col">Escenario</th>
						<th scope="col">Descripcion</th>
						
					</tr>
					</thead>

					<tbody>
					{%for esc in escenarios.all  %}
					<tr>
						<th scope="row"><bb style="font-size: 10px;">{{esc.titulo}}<bb></th>
						<th scope="row"><bb style="font-size: 10px;">{{esc.descripcion}}<bb></th>
						
					</tr>
						{% if not forloop.last %}
						{%endif%}
						{%endfor%}
					<tbody>
					</table>



			</ul>
		</div><!--- Fin columna izq -->

		<!--- Columna der -->
		<div class="flex-item" style="width:200px; text-align: center;">
			
			<bn>Puntaje: <ul class="scr4" style="background: rgb(212, 230, 200);"> {{proceso.subproceso.ranking}}</ul></bn>
			<br/>
			<img src="/static/img/manual_pc.webp" width="100" height="100"></a>

		</div><!--- Fin Columna der -->

	</div> <!----------------------------------- Fin Bloque A ------------------------------>


	<br/>
	<ul class="encabezado_A" style="background: white;">
		<aa>ESPECIFICACION DEL PROCEDIMIENTO DE CONTINGENCIA (PC)</aa>
	</ul>
  

    <form action="" method="post">
        {% csrf_token %}
        
	<br/>
	<h5><strong>1. Ingrese datos de Identificacion del PC</strong></h5>
	<ul class="scr4">
	<p> Codigo del Procedimento..: {{ form.nombre }}</p>
	<p> <!-- 1.2 Tipo..: {{form.tipo}}</p> -->
	</ul>

	<br/>
	<ul class="scr4" style="background-color: white; line-break: normal;">

	<!------------ Mensaje ---------------------------------------------->
	<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
	<h4><strong>2. Escenario de Riesgo</strong></h4>
	<p>
		En esta sección se selecciona un determinado <strong>Escenario de Riesgo</strong>
		 asociado al <strong>Proceso relacionado</strong>
		que sera cubierto por este Procedimiento de Contingencia.    
	</p>
	<p>
		   
	</p>

	</div>
	<!------------ Fin Mensaje ---------------------------------------------->
	<p>{{form.escenarios}}</p>
	</ul>

	<br/>
	<ul class="scr4" style="background-color: white; line-break: normal;">

	<!------------ Mensaje ---------------------------------------------->
	<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
	<h4><strong>3. Estrategia de Recuperacion</strong></h4>
	<p>
		Esta sección detalla la estrategia especifica a aplicar para restaurar la 
		continuidad operativa que implementara el Procedimiento de Contingencia.   
	</p>
	<p>
		Debe corresponder a una especificacion de la Estrategia General definida para 
		cada Escenario de Riesgo.    
	</p>

	</div>
	<!------------ Fin Mensaje ---------------------------------------------->

	<p>{{form.estrategia}}</p>

	</ul>

<br/>
<ul class="scr4" style="background-color: white; line-break: normal;">

<!------------ Mensaje ---------------------------------------------->
<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
<h4><strong>4. Roles</strong></h4>
<p>
	Esta sección especifica la asignacion de gestores a los siguientes roles del 
	Procedimiento de Contingencia:  
</p>
<br/>
<p>
	<strong>Responsable</strong>: Es el responsable de nivel táctico superior 
	inmediato  (Gerente, Subgerente, Jefe de Area) del Proceso critico asociado 
	al Procedimiento. Es quien, durante el ciclo de aprobacion autoriza el 
	Procedimiento.   
</p>
<p>
	<strong>Ejecutor</strong>......: Corresponde al responsable de nivel operativo
	encargado de la operacion del Proceso y responsable de ejecutar el 
	Procedimiento de Contingencia durante un incidente asi como de su mantencion (actualizacion).  
</p>
	<strong>Enlace Comite de Crisis</strong>: Es el integrante del Comite de Crisis
	designado como enlace de comunicacion con esta instancia. Su rol es actuar como
	facilitador del area o unidad responsable del Proceso frente al Comite.   
</p>
<br/>
</p>
	Los gestores asignados a los roles <strong>Responsable</strong> y <strong>Ejecutor</strong>
	deben pertenecer a los grupos <strong>"Autorizadores"</strong> y/o <strong>"Ejecutores"</strong>.
	El gestor asignado al rol <strong>"Enlace Comite de Crisis"</strong> debe pertencer al grupo <strong>"
		Comite de Crisis"</strong>. El Sistema disponibiliza automaticamente estas definiciones
		el el box de seleccion de cada rol.    
</p>

</p>
	Opcionalmente a cada gestor asignado se le puede definir un <strong>Respaldo</strong> a quien acudir
	en caso de ausencia o dificultad de contacto del titular.    
</p>

</div>
<!------------ Fin Mensaje ---------------------------------------------->


	<ul class="scr4">
		<div class="flex-container">
			<div class="flex-item>" style="width: 50%; text-align: left;">
				<p><bn>Responsable: {{form.resp_proceso}}</bn></p>
				<p><bn>Ejecutor........: {{form.gestor_ejecutor}}</bn></p>
				<p><bn>Enlace...........: {{form.enlace_c_crisis}}</bn></p>
			</div>
			<div class="flex-item" style="width: 60%; text-align: left;">
				<p><bn>Respaldo: {{form.bck_resp}}</bn></p>
				<p><bn>Respaldo: {{form.bck_ejecutor}}</bn></p>
				<p><bn>Respaldo:&emsp;{{form.bck_enlace}}</bn></p>
			</div> 
		</div>
	<br/>
	</ul>
	</ul>

	<!---- Botones de Salida ----------->
	<br/>
		<a href="{% url 'Lista-Proced' 1 %}"><bb class="button">... Volver</bb></a>
        <input type="submit" class="button" value="Siguiente ..." />
    </form>

	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->


	<!---- Despliega el nombre del codigo html -->
	<br/><br/><br/>
	<aa style="font-size: 8px;">[proced_crea_B]</aa>

{% endblock %}
