<!Programa HTML>
<!Lista los  Procedimiento de Recuperacion (PC)>
<!Programado por Marco A. Villalobos M>
<!===============================================>


{%extends "base_generic.html"%}

defcon={{defcon_est}}

{% block content %}

	{% block encabezado2 %}
	<ul class="encabezado_B" style="background: rgba(255, 153, 0, 0.9);">
    		 <strong> PROCEDIMIENTOS DE RECUPERACION DE CONTINUIDAD (PC) </strong>
	</ul>  
	{% endblock %}
	
{%block lista%}

<ul class="BarraScroll">  
                         
{% if lista_procesos %}

	{{lista_procesos}}
	{% for proceso in lista_procesos.all %}
	<p><!inicio linea de despliegue por proceso>
		<! Indenta >
		{% for i in proceso.proceso %} &nbsp; {% endfor %}	
		
	   
	<!*****************************************>
	<!* Despliega codigo y nombre del Proceso *>
	<!*****************************************>
	{% if proceso.es_subproceso %}
		{% if proceso.subproceso.fase_status == 'E' and  proceso.subproceso.status == 'R' %}

			<!Opcion para crear Procedimiento>

			<a href="{% url 'crea-prcd-a' proceso.pk %}"
			class="link " data-message="Crea un Procedimiento de Contingencia para el Proceso de Negocio ...">
			<sa>&#10010</sa></a>
			<a href="{% url 'Detalle-Proceso' proceso.pk %}" class="link " data-message="Detalles del Proceso ..."><bb>&#128065</bb></a>

			   &#10149 <aa>{{ proceso.nombre }}</aa>	
			   [
			   	{% if proceso.subproceso.ranking <= tramo_1 %}
			   		<strong> {{proceso.subproceso.ranking}} </strong>
				{% elif  proceso.subproceso.ranking > tramo_1  and  proceso.subproceso.ranking <= tramo_2 %}
			  		<sa><strong> {{proceso.subproceso.ranking}} </strong></sa>
				{% elif  proceso.subproceso.ranking > tramo_2 %}
			   		<rr><strong> {{proceso.subproceso.ranking}} </strong></rr>
				{%endif%}
				
				]
			</p>

		{%endif%}

	{%else%}
		<aa><strong>{{ proceso.nombre }}</strong></aa>
		</p>
	{%endif%}
         		

			
	<!============================================>					
	<! Listado de Procedimientos (PC) del Proceso >
	<! ===========================================>
	
	{% if proceso.es_subproceso  %}
							
	   {% if proceso.subproceso.fase_status == 'E' and  proceso.subproceso.status == 'R' %}<!El Proceso completo el primer ciclo>

		{% if  proceso.subproceso.procedimientos_contingencia %}<!El Proceso tiene Procedimientos (PC) definidos>

			
			{% for proced in proceso.subproceso.procedimientos_contingencia.all %}
			<!lista Procedimientos>
			<p><!Inicio de la linea por procedimiento desplegado>
			 <! Indenta >
			 {% for i in proced.codigo %} &nbsp; {% endfor %}	

			<!**********************>
			<!* Despliega Opciones *>
			<!**********************>

			<!Muestra Procedimiento>

			

			<!En definicion>
			{% if proced.status == 'C' %}

				{% if request.user.pk == proced.gestor_consultor.user_pk %}
				<!--- Si el usuario de sesion es gestor consultor -->
			     	<!Opcion Ingresa parte B>
			      	<a href = "{% url 'crea-proced-B'  proced.pk %}"
					class="link blink" data-message="Especificacion del Procedimiento de Contingencia ...">
					<img src="/static/img/manual_pc.webp" width="17" height="17"></a>	
						
        		    <!Opcion Borra>
			      	<a href = "{% url 'index'  %}"><bb><strong>&#128465</bb></strong></a> <!Tarro de basura>

				{%else%}
					<a class="link" data-message="PC en Especificacion x Consultor ({{proced.gestor_consultor}})">
					<img src="/static/img/manual_pc.webp" width="17" height="17"></a> <!hoja sin lapiz>	


			    {% endif %}

			{% endif %}

			<!En Autorizacion>
			<!===============>			
			{% if proced.status == 'a' %}

				{% if request.user.pk == proced.resp_proceso.user_pk %}			
				   <! Mostrar Procedimiento>
				   <! ir a Autorizacion>
					<a href = "{% url 'aut-proced' proced.pk %}"
					class="link blink" data-message="Autorizar PC propuesto ... ">
					<img src="/static/img/pc_2.png" width="17" height="17">
					</a> 	
					
				{%else%}
					<a class="link" data-message="En Autorizacion por Gestor Responsable del Proceso de Negocio ... ({{proced.resp_proceso}}) ">
					<img src="/static/img/pc_2.png" width="17" height="17">
					</a> 	
			{%endif%}
				
			{% endif %}
			
			<!En correccion por Consultor>
			<!===========================>
			{% if proced.status == 'x' %}
			

				{% if request.user.pk == proced.gestor_consultor.user_pk %}
				<!----- Si usuario en sesion es Consultor ---------->
					<a href = "{% url 'rev-proced-b'  proced.pk %}"
					class="link blink" data-message="Revisar Comentarios y Corregir ... ">
						<img src="/static/img/En_Revision.png" width="17" height="17">
					</a>

				{%else%}
				<a class="link" data-message="En Revision y Correccion por Gestor Consultor ({{proced.gestor_consultor}})">
					<img src="/static/img/En_Revision.png" width="17" height="17">
				</a>


				{%endif%}
			{% endif %}

			<!Aprobado>
			<!===============>
			{% if proced.status == 'A'  %}

				{% if proced.esta_activo == False %}
					<a class="link" data-message="Procedimiento de Contingencia (PC Vigente)"
					>&#128215</a>

				{%else%}
					{% if request.user.pk == proced.gestor_ejecutor.user_pk %}
					<!------ Si el usuario de sesion es el Gestor Ejecutor ------->
						{% if proced.esta_confirmado %}
						<!--- Si PC fue confirmado ------->
							<a href="{% url 'ok-act-pc' proced.pk %}" class="link blink" data-message= "Procedimiento de Contingencia en Ejecucion. Haga Click para finalizar Ejecucion"
							>&#128214</a>
						{%else%}
						<!---- Si PC NO ha sido Confirmado por Gestor Ejecutor ------->
							<a href="{% url 'ok-act-pc' proced.pk %}" class="link blink" data-message="Procedimiento de Contingencia Activado por Comite de Crisis. Haga Click para Confirmacion al Comite"
							>&#128213</a>
						{% endif %}
						
					{%else%}
					<!--- Si no es Gestor Ejecutor --------->
						<a class="link" data-message="Procedimiento de Contingencia Activado por Comite de Crisis."
						>&#128213</a>

					{% endif %}


				{% endif %}


			{% endif %}
			
			<!-- Opcion para mostrar el detalle del Procedimiento-->
			<a href = "{% url 'det-proced' proced.pk  %}"><bn>&#128065</bn></a> <!ojo >
			&emsp;

			

			<!**************************>
			<!*Despliega  Procedimiento*>
			<!**************************>

			<sa><strong>{{proced.nombre}}</strong></sa>
			</p> <!Fin de la linea por procedimiento desplegado>

			{%endfor%}

		   {%else%}
			Sin Procedimientos definidos </p>
							
		   {%endif%}
			

		{% endif %}
                        
	{% endif %}
	 	
	{% endfor %}

{% else %}
      	<p>No hay Procesos definidos.</p>
{% endif %}
		
	</ul>
	{%endblock%}


	{%block pie%}
	<br/>
	<ul class="encabezado_B" style="background: rgba(255, 153, 0, 0.9)">
		<img src="/static/img/manual_pc.webp" width="20" height="20"></a>	</ul>
	{% endblock %}


	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon" ></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->


{%endblock%}
