<! Programa HTML>
<! Muestra Detalle del Procedimiento de Contingencia (PC)>
<!Programado por Marco A. Villalobos M>
<!============================================>

{% extends "base_generic.html" %}

{% block content %}


	{% block encabezado_auth %}
	<ul class="encabezado_B">
    	<strong> *** PROCEDIMIENTO DE RECUPERACION DE CONTINUIDAD  *** (PC - VIGENTE)</strong>
	</ul>  
	{% endblock %}

<a href="{{ request.META.HTTP_REFERER }}"><span style='font-size:30px;'>&#128281</span></a>


<!---- Identificacion Proceso Matriz ------------------------------->
<ul class='encabezado_SB'><h5><strong>PROCESO MATRIZ <strong></h5></ul>
<ul class="scr4" >
<p>&emsp;<strong>Codigo..........:</strong>&emsp;{{proceso.proceso}}&emsp;<strong>Nombre Proceso...:</strong>{{proceso.path}}</p>

<p>&emsp;<strong>Descripcion.....:</strong>{{proceso.objetivo}}</p>
<br/>

</ul>

<!---------------------BLOQUE A -------------------------------------------------->
<br/><br/>
<ul class='encabezado_SB'><h5><strong>1. PROCEDIMIENTO DE CONTINGENCIA <strong></h5></ul>

<div class="flex-container">
<!----------------Sector 1 / Bloque A -->
<div class="flex-item">
	<ul class="scr4" style="background: rgb(240, 223, 148);">
	<p><strong>1.1. Codigo del Procedimiento...: &emsp;</strong> {{proced.codigo}}</p>	
	<p><strong>1.2. Nombre del Procedimiento...: &emsp;</strong> {{proced.nombre}}</p>
	<p><strong>1.3. Tipo ........................................: &emsp;</strong> {{proced.tipo}}</p>
    </ul>
</div><!---------------- Fin Sector 1 / Bloque A -->  

<!----------------Sector 2 / Bloque A -->
<div class="flex-item">
	<ul class="scr4" style="background: rgb(240, 223, 148);">
	<p><strong>1.4. Version....................................: &emsp;</strong> {{proced.version}}</p>
	<p><strong>1.5. Fecha de Autorizacion ........: </strong> {{proced.fecha_c}}</p>
	<p><strong>1.6. Autorizado por ........: </strong> {{proced.resp_proceso}}</p>

	</ul>
</div><!---------------- Fin Sector 2 / Bloque A -->  
</div><!--------------------- FIN BLOQUE A -------------------------------------------------->

<br/>
<ul class='encabezado_SB'><h5><strong>2. ESTRATEGIA <strong></h5></ul>
<ul class="scr4" style="background: rgb(240, 223, 148);">
<p><strong>2.1. Escenario a cubrir.....................: &emsp;</strong> {{proced.escenarios}}</p>	
<p><strong>2.2. Estrategia del Procedimiento...: &emsp;</strong> {{proced.estrategia}}</p>	
</ul>

<br/>
<ul class='encabezado_SB'><h5><strong>3. ROLES <strong></h5></ul>
<ul class="scr4" style="background: rgb(240, 223, 148);">
	<p><strong>3.1.1.  Responsable del Proceso .......: &emsp;</strong> {{proced.resp_proceso}}</p>
	<p><strong>3.1.2.  Respaldo ...................................: &emsp;</strong> {{proced.bck_resp}}</p>
	<br/>
	<p><strong>3.2.1.  Gestor Ejecutor .........................: &emsp;</strong> {{proced.gestor_ejecutor}}</p>
	<p><strong>3.2.2.  Respaldo ....................................: &emsp;</strong> {{proced.bck_ejecutor}}</p>
	<br/>
	<p><strong>3.3.1.  Enlace Comite de Crisis ...........: &emsp;</strong> {{proced.enlace_c_crisis}}</p>
	<p><strong>3.3.2.  Respaldo ....................................: &emsp;</strong> {{proced.bck_enlace}}</p>	
	<br/>
	<p><strong>3.4.1.  Gestor Consultor .......................: &emsp;</strong> {{proced.gestor_consultor}}</p>

</ul>

	<br/>
	<ul class='encabezado_SB'><h5><strong>4. SERVICIOS / RECURSOS REQUERIDOS <strong></h5></ul>
		<ul class="BarraScroll" style="background: rgb(240, 223, 148);">
		<table class="lta">
		   <thead>
		   <tr>
			<th scope="col">Nombre</th>
			<th scope="col">Objetivo</th>
			<th scope="col">Contacto</th>
			<th scope="col">Respaldo</th>
						
		   </tr>
		   </thead>

		   <body>
		   {% if proced.servicios_pc %}
		    {%for ser in proced.servicios_pc.all  %}
		    <tr>
			<th scope="row"><bb>{{ser.nombre}}<bb></th>
			<th scope="row"><bb>{{ser.objetivo}}<bb></th>
			<th scope="row"><bb>{{ser.contacto}}<bb></th>
			<th scope="row"><bb>{{ser.contacto_bck}}<bb></th>
			
			
		    </tr>
       		    {% if not forloop.last %}
        	    {%endif%}
      		    {%endfor%}
		   {%else%}
		     *** Sin servicios definidos ***
		   {%endif%}
		   <tbody>
		</table>
	
	</ul>

	<br/>
	<ul class='encabezado_SB'><h5><strong>5. INDICE DE CONTACTOS <strong></h5></ul>
		<ul class="BarraScroll" style="background: rgb(240, 223, 148);">
		<table class="lta">
		   <thead>
		   <tr>
			<th scope="col">NOMBRE</th>
			<th scope="col">CORREO</th>
			<th scope="col">TELEFONO </th>
			<th scope="col">CELULAR</th>
			
			
		   </tr>
		   </thead>

		   <tbody>
		   {% if proced.contactos_pc %}
		    {%for con in proced.contactos_pc.all  %}
		    <tr>
			<th scope="row"><bb style="font-size: 10px;">{{con.nombre}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{con.correo}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{con.tel_lab}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{con.cel_lab}}<bb></th>
			
			
		    </tr>
       		    {% if not forloop.last %}
        	    {%endif%}
      		    {%endfor%}
		   {%else%}
		     *** Sin Contactos definidos ***.
		   {%endif%}
		   </tbody>
		</table>
	
	</ul>

	<br/><br/>
	<ul class='encabezado_SB'><h5><strong>6. PROCEDIMIENTO DE CONTINGENCIA (PC)<strong></h5></ul>
		<ul class="BarraScroll" style="background: rgb(240, 223, 148);">
		<table class="lta">
		   <thead style="background: rgb(184, 183, 183); color:black">
		   <tr>
			<th scope="col">PASO</th>
			<th scope="col">DESCRPCION</th>
			<th scope="col">EJECUTOR</th>
			<th scope="col">TIEMPO E (min)</th>
			
			
		   </tr>
		   </thead>

		   <tbody>
		   {% if proced.pasos %}
		    {%for pas in proced.pasos.all  %}
		    <tr>
			<th scope="row"><bb style="font-size: 10px;">{{pas.nro_paso}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{pas.descripcion}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{pas.ejecutor}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{pas.tiempo_esp}}<bb></th>
			
			
		    </tr>
       		    {% if not forloop.last %}
        	    {%endif%}
      		    {%endfor%}

		   {%else%}
		     *** Sin Procedimiento definido ***.
		   {%endif%}

		   </tbody>
		</table>
	
	</ul>

	<br/>
	<ul class='encabezado_SB'><h5><strong>7. CONTROL DE CAMBIOS<strong></h5></ul>
		<ul class="BarraScroll" style="background: rgb(240, 223, 148); height: 200px;">
			<table class="lta">
				<thead class='encabezado_D' style="font-size: 13px;">
				<tr>
				 <th scope="col">FECHA</th>
				 <th scope="col" style="width: 500px;">DESCRIPCION</th>
				 <th scope="col">AUTORIZADO POR:</th>
			 
							 
				</tr>
				</thead>
	 
				<tbody style="font-size: 10px;">
				{%for cc in c_cambio.all %}
				<tr >
				 <th scope="row"><bb style="font-size: 10px;">{{cc.fecha}}</bb></th>
				 <th scope="row"><bb style="font-size: 10px;">{{cc.descripcion}}</bb></th>
				 <th scope="row"><bb style="font-size: 10px;">{{cc.gestor_aut}}</bb></th>
								 
				</tr>
				 {%endfor%}
				<tbody>
			 </table>
		 
	</ul>

<a href="{{ request.META.HTTP_REFERER }}"><span style='font-size:30px;'>&#128281</span></a>

{% endblock %}

