<!Programa HTML>
<!Despliega el formulario para la revision de las observaciones de un Proceso (Parte1)>
<!Programado por Marco A. Villalobos M.>
<!====================================================================================>

{% extends "base_generic.html" %}
{% block content %}

	<ul class="encabezado_A">
        <aa><strong>REVISION DE PROCEDIMIENTO DE RECUPERACION :  {{proceso.path}} </strong></aa>
	</ul>

    <form action="" method="post">
	{% csrf_token %}
	
    <!---------------------------------- Bloque A ------------------------------------------>
	<div class="flex-container">
	
		<!--------- Seccion Datos --------------------->
		<div class="flex-item" style="width: 55%;">
	
		<ul class='encabezado_SB'>
		<h5><strong>1. Procedimiento de Recuperacion (PC)</strong></h5>
		</ul>
	
		<ul class="scr4">
			<p> <strong>Codigo..:</strong> {{ proced.codigo }}</p>
			<p> <strong>1.1 Nombre..:</strong> {{ form.nombre }}</p>
			<p> <strong>1.2 Version.:</strong> {{ form.version}}</p>
			<p> <strong>1.3 Tipo..: </strong>{{form.tipo}}</p>
		</ul>
			
		<bn>Revise los comentarios y observaciones realizadas por el Gestor Responsable 
			del Proceso de Negocio en el <strong>Block de Comentarios</strong>. Realice los cambios y marque en 
			(&#10067) en el comentario asociado. 
		</bn>

		</div><!--------- Fin Seccion Datos --------------------->
	
		<!---------- Seccion Block de Comentarios --------------->
		<div class="flex-item" style="width: 45%;">
			<ul class="scr4" style="text-align: center; background: rgb(236, 239, 63); font-size: 13px;">
				<strong>Block de Comentarios de Revision</strong>
			</ul>
		
			<ul class="BarraScroll" style="height: 350px; width: 100%; border-radius: 10px; border: 3px solid black; ">
				<!-- Log de Comentarios -->
				<table class="lta"> 
					<thead class="encabezado_C" style="text-align: center">
					<tr>
					<th scope="col" style="width: 20%;">Referencia.Dato</th>
					<th scope="col" style="width: 500px">Comentario</th>
					<th scope="col" style="width: 10px;">Fecha</th>
					</tr>
					</thead>
					
					<body>
					{% if comentarios %}
						{%for com in comentarios  %}
						<tr style="font-size: 9px;">
		
							<th scope="row" style="background: rgb(236, 239, 63); width: 20%;"><img src="/static/img/Pin.png" width="15" height="15">
								<p>{{com.campo}}</p>
								(
								
								{% if com.resuelto %}
								<a href="{% url 'OK-Rev-OC' com.pk %} " 
								class="link confirm-link" con-message="Confirma Desmarcar?"  
								data-message="Realizado (Haga Click para desmarcar)">&#9989
								{%else%}
								<a href="{% url 'OK-Rev-OC' com.pk %}" class="link confirm-link" con-message="Confirma Marcar como Realizado?"  
								data-message="Pendiente (Haga click para marcar  como Realizado)">&#10067
								{%endif%}
								)
								
							</th>
							<th scope="row" style="width: 500px";> {{com.comentario}}</th>
							<th scope="row" style="width: 10;"><bb>{{com.fecha}}<bb></th>
						{%endfor%}
					
					{%else%}
						<p> Sin  Observaciones</p>
					{%endif%}
					
						<tbody>
								
				</table>
							
					<!-- Fin Log Comentarios -->
					
			</ul>
	
		</div><!---------- Fin Seccion Block de Comentarios --------------->
	
		</div><!---------------------------------- Fin Bloque A ------------------------------------------>	



        

	<h5><strong>2. Escenarios cubiertos por el Procedimiento</strong></h5>
	<ul class="scr4">
	<p>{{form.escenarios}}</p>
	</ul>

	<h5><strong>3. Escenarios cubiertos por el Procedimiento</strong></h5>
	<ul class="scr4">
	<p>{{form.estrategia}}</p>
	</table>
	</ul>

	<br/>

	<h5><strong>4. Especificacion de Roles</strong></h5>
	<ul class="scr4">
		<p>4.1 Responsable: Corresponde al responsable funcional del Proceso Original contingenciado y quien aprueba el PC.
		<div class="flex-container">
		<div class="flex-item>" style="width: 50%; text-align: center;">
		{{form.resp_proceso}}
		</div>
		<div class="flex-item" style="width: 60%; text-align: left;">
		Respaldo:&emsp;{{form.bck_resp}}
		</div> 
		</div>
		<br/>
	
		<p>4.2 Ejecutor: Corresponde al Responsable de Ejecutar y mantener actualizado  el PC </p>
		<div class="flex-container">
		<div class="flex-item>" style="width: 50%; text-align: center;">
		{{form.gestor_ejecutor}}
		</div>
		<div class="flex-item" style="width: 60%; text-align: left;">
		Respaldo:&emsp;{{form.bck_ejecutor}}
		</div> 
		</div>
		<br/>
			
		<p>4.3 Enlace Comite Crisis: Es el integrante del Comite de Crisis a quien se debe informar la activacion del PC</p>
		<div class="flex-container">
		<div class="flex-item>" style="width: 50%; text-align: center;">
		{{form.enlace_c_crisis}}
		</div>
		<div class="flex-item" style="width: 60%; text-align: left">
		Respaldo:&emsp;{{form.bck_enlace}}
		</div> 
		</div>
		<br>
	
		<p>4.4 Gestor Consultor: Coordina y gestiona el diseño, Implementacion y mantencion del PC&emsp;</p>
		<p>{{proced.gestor_consultor}} </p>
		</ul>
	

	<!--------- SERVICIOS --------------------------------------------->
	<br/>
	<h5><strong>5. Servicios Requeridos</strong>( Indique todos los servicios/recursos que necesita el Procedimiento para su ejecucion)&emsp;[{{proced.sec_servicios}}]</h5>
	<ul class="scr4">
		<table class="lta">
		   <thead style="background: greenyellow; color:black">
		   <tr>
			<th scope="col">NOMBRE SERVICIO</th>
			<th scope="col">DESCRIPCION/OBJETIVO</th>
			<th scope="col">CONTACTO</th>
			<th scope="col">RESPALDO CONTACTO</th>
			<th scope="col"><a href="{% url 'crea-P5'  proced.pk 1  %}"
				class="link"  data-message="Registra un Servicio ..."><strong><am style="color:green">&#10010</am></strong></a></th>
			
		   </tr>
		   </thead>

		   <body>
			{% if servicios %}
	   
		    {%for ser in servicios.all  %}
		    <tr>
			<th scope="row"><bb>{{ser.nombre}}<bb></th>
			<th scope="row"><bb>{{ser.objetivo}}<bb></th>
			<th scope="row"><bb>{{ser.contacto}}<bb></th>
			<th scope="row"><bb>{{ser.contacto_bck}}<bb></th>
			<th scope="row"><bb><a href="{% url 'borra-P5'  ser.pk  1 %}"
				class="link confirm-link" con-message="* * *  Confirma Eliminacion del Servicio? * * *"  data-message="Elimina Servicio ...">
				<rr>&#128465</rr> </th>
			
		    </tr>
       		    {% if not forloop.last %}
        	    {%endif%}
      		{%endfor%}
			  {%else%}
			  Sin servicios definidos.
		  {%endif%}
	  
		   </body>
		</table>

	
	</ul>

	<!--------- FIN SERVICIOS --------------------------------------------->
	


	<!--------- CONTACTOS  --------------------------------------------->
	<br/>
	<h5><strong>6. Indice de Contactos</strong>( Registre  todos los datos de contacto de los responsables indicados en el Procedimiento)</h5>
	<ul class="scr4">
		<table class="lta" >
		   <thead >
		   <tr>
			<th scope="col">NOMBRE</th>
			<th scope="col">CORREO ELECTRONICO</th>
			<th scope="col">TELEFONO OFICINA</th>
			<th scope="col">TELEFONO CELULAR</th>
			<th scope="col"><a href="{% url 'crea-P6' proced.pk 1  %}"
				class="link"  data-message="Registra un Contacto ...">
				<strong><am>&#10010</am></strong></a></th>
			
		   </tr>
		   </thead>

		   <tbody>
		   {% if contactos %}
		    {%for con in contactos.all  %}
		    <tr>
			<th scope="row"><bb>{{con.nombre}}<bb></th>
			<th scope="row"><bb>{{con.correo}}<bb></th>
			<th scope="row"><bb>{{con.tel_lab}}<bb></th>
			<th scope="row"><bb>{{con.cel_lab}}<bb></th>
			<th scope="row"><bb><a href="{% url 'borra-P6' con.pk 1  %}"
				class="link confirm-link" con-message="* * *  Confirma Eliminacion del Contacto? * * *"  data-message="Elimina Contacto ..."> 
				<rr>&#128465</rr></th>
			
		    </tr>
       		    {% if not forloop.last %}
        	    {%endif%}
      		    {%endfor%}
		   {%else%}
		     Sin Contactos definidos.
		   {%endif%}
		   </tbody>
		</table>
	
	</ul>

	<!--------- FIN CONTACTOS --------------------------------------------->

	

	{% block D %}<!--------- PROCEDIMIENTOS CONT.-------------------------------------------->
	<br/>
	<h5><strong>7. Procedimiento de Contingencia (PC)</strong>&emsp;(Describa/Especifique cada uno de los pasos del Procedimiento de Contingencia (PC))&emsp;[{{proced.sec_pasos}}]</h5>
	<ul class="scr4">
		<table class="lta">
		   <thead style="background: rgb(184, 183, 183); color:black">
			<strong>
		   <tr style="font-size: 10px;">
			<th scope="col" style="width: 5px;">NRO.</th>
			<th scope="col" style="width: 400px;">DESCRIPCION</th>
			<th scope="col" style="width: 250px;">EJECUTOR RESP.</th>
			<th scope="col" style="width: 10px; font-size: 9px;" 
			class="link" data-message="Tiempo Esperado Ejec. ...">T.E.(min)</th>
			<th scope="col" style="width: 10px; text-align: center;">
				<a href="{% url 'crea-P7' proced.pk 1  %}" class="link"  data-message="Agrega Paso al PC ..."><strong><am style="color:brown">&#10010</am></strong></a></th>
			</strong>
		   </tr>
		   </thead>

		   <tbody>
		   {% if pasos %}
		    {%for pas in pasos.all  %}
		    <tr >
			<th scope="row" style="text-align: center;" ><bb style="font-size: 10px;">{{pas.nro_paso}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{pas.descripcion}}<bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{pas.ejecutor}}<bb></th>
			<th scope="row" style="text-align: center;"><bb style="font-size: 10px;">{{pas.tiempo_esp}}<bb></th>
			<th scope="row"><a href="{% url 'borra-P7' pas.pk 1  %}"
				class="link confirm-link" con-message="* * *  Confirma Eliminacion? * * *"  data-message="Elimina Paso ..."
				> <rr>&#128465<rr>

				</th>
			
		    </tr>
       		    {% if not forloop.last %}
        	    {%endif%}
      		    {%endfor%}
		   {%else%}
		     Sin servicios definidos.
		   {%endif%}
		   </tbody>
		</table>
	
	</ul>

	{% endblock %}<!--------- FIN PROCEDIMIENTOS CONT.----	------------------------------------>

	<br/>
	<!---- Botones de salida ---- -->
	<a href="{% url 'Lista-Proced' %} "><aa class="button">Volver ...</aa></a>
    <input type="submit" class="button"   value="Ir a Autorizacion " />

    </form>

	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->

<!-------- Nombre del programa --------->
<br/><br/><br/><br/>
<aa style="font-size: 8px;">[proced_rev_B]</aa>



{% endblock %}


