<! Programa HTML>
<! Observaciones Autorizacion de Procedimiento de Contingencia>
<!Programado por Marco A. Villalobos M>
<!============================================>

{% extends "base_generic.html" %}

{% block content %}


	{% block encabezado_auth %}
	<ul class="encabezado_C">
        <aa><strong> >> OBSERVACION AUTORIZACION DE PROCEDIMIENTO DE CONTINGENCIA</aa>
	</ul>
	{% endblock %}
 

	{% block Procedimiento %}
	
	<ul class="scr4">
	<p><strong>2.0. Codigo del Procedimiento...: &emsp;</strong> {{proced.codigo}}</p>	
	<p><strong>2.1. Nombre del Procedimiento...: &emsp;</strong> {{proced.nombre}}</p>
	
	<br/>

	</ul>
	{% endblock %}

        
	{% block A1 %}
	<h5><strong>Dato a Observar:</strong></h5>
	<ul class="scr4">

	<p><strong></strong> {{item}}....:&emsp;{{valor}}</p>
	{% endblock %} 

	<form action="" method="post">
       		{% csrf_token %}
       		<table>
       		{{ form }}
		</table>
       		<input type="submit" value="Registrar" />
    	</form>
	

{% endblock %}

