<!Programa HTML>
<!Despliega el formulario para la revision de las observaciones de un Proceso (Parte1)>
<!Programado por Marco A. Villalobos M.>
<!====================================================================================>

{% extends "base_generic.html" %}
{% block content %}

<ul class="encabezado_A">
<aa><strong>REVISION DE PROCEDIMIENTO DE CONTINGENCIA :  {{proceso.path}} </strong></aa>
</ul>

<form action="" method="post">
{% csrf_token %}

<!---------------------------------- Bloque A ------------------------------------------>
<div class="flex-container">

<!--------- Seccion Datos --------------------->
<div class="flex-item" style="width: 55%;">


<ul class="scr4" style="text-align: center; font-size: 13px; background: rgb(212, 230, 200);">
		<h5><strong>Proceso </strong></h5>
	</ul>
<ul class="scr4" style="background: rgb(212, 230, 200);">
<p><strong>Codigo...................:</strong>&emsp;{{proceso.proceso}}
<p><strong>Nombre Proceso...:</strong>&emsp;{{proceso.nombre}}</p>
<p><strong>Descripcion...........:</strong>&emsp;{{proceso.objetivo}}</p>
</ul>

<br/>
<bn>Revise los comentarios y observaciones realizadas por el Gestor Responsable 
	del Proceso de Negocio en el <strong>Block de Comentarios</strong>. Realice los cambios y marque en 
	(&#10067) en el comentario asociado. 
</bn>

</div><!--------- Fin Seccion Datos --------------------->

<!---------- Seccion Block de Comentarios --------------->
<div class="flex-item" style="width: 70%;">
	<ul class="scr4" style="text-align: center; background: rgb(236, 239, 63); font-size: 13px;">
		<strong>Block de Comentarios de Revision</strong>
	</ul>

	<ul class="BarraScroll" style="height: 350px; width: 100%; border-radius: 10px; border: 3px solid black; ">
		<!-- Log de Comentarios -->
		<table class="lta"> 
			<thead class="encabezado_C" style="text-align: center">
			<tr>
			<th scope="col" style="width: 30%;">Referencia:</th>
			<th scope="col" style="width: 70%">Comentario</th>
			</tr>
			</thead>
			
			<body>
			{% if comentarios %}
				{%for com in comentarios  %}
				<tr style="font-size: 9px;">

					<th scope="row" style="background: rgb(236, 239, 63); width: 20%;"><img src="/static/img/Pin.png" width="15" height="15">
						({{com.fecha}})
						<p>{{com.campo}}</p>
						<!-- (
						
						{% if com.resuelto %}
						<a href="{% url 'OK-Rev-OC' com.pk %} " 
						class="link confirm-link" con-message="Confirma Desmarcar?"  
						data-message="Realizado (Haga Click para desmarcar)">&#9989
						{%else%}
						<a href="{% url 'OK-Rev-OC' com.pk %}" class="link confirm-link" con-message="Confirma Marcar como Realizado?"  
						data-message="Pendiente (Haga click para marcar  como Realizado)">&#10067
						{%endif%}
					)-->
						
					</th>
					<th scope="row" style="width: 500px";> {{com.comentario}}</th>
				{%endfor%}
			
			{%else%}
				<p> Sin  Observaciones</p>
			{%endif%}
			
				<tbody>
						
		</table>
					
			<!-- Fin Log Comentarios -->
			
	</ul>

</div><!---------- Fin Seccion Block de Comentarios --------------->

</div><!---------------------------------- Fin Bloque A ------------------------------------------>	



		<ul class='encabezado_SB'>
		<h5><strong>Procedimiento de Contingencia (PC)</strong></h5>
		</ul>
	
		<ul class="scr4" style="background-color: bisque;">
			<p> <strong>Codigo Interno  ..:</strong> {{ proced.codigo }}</p>
			<p> <strong>Codigo asignado ..:</strong> {{ form.nombre }}</p>
		</ul>
        

	<br/>
	<ul class="scr4" style="background-color: white; line-break: normal;">
	<!------------ Mensaje ---------------------------------------------->
	<div class="alert alert-info" role="alert" style="font-size: 1.2rem; background-color: bisque;">
	<h4><strong>2. Escenario de Riesgo</strong></h4>
	<p>
		En esta sección se selecciona un determinado <strong>Escenario de Riesgo</strong>
		 asociado al <strong>Proceso relacionado</strong>
		que sera cubierto por este Procedimiento de Contingencia.    
	</p>
	<p>
		   
	</p>

	</div>
	<!------------ Fin Mensaje ---------------------------------------------->
	<p>{{form.escenarios}}</p>
	</ul>


	<br/>
	<ul class="scr4" style="background-color: white; line-break: normal;">

	<!------------ Mensaje ---------------------------------------------->
	<div class="alert alert-info" role="alert" style="font-size: 1.2rem; background-color: bisque;">
	<h4><strong>3. Estrategia de Recuperacion</strong></h4>
	<p>
		Esta sección detalla la estrategia especifica a aplicar para restaurar la 
		continuidad operativa que implementara el Procedimiento de Contingencia.   
	</p>
	<p>
		Debe corresponder a una especificacion de la Estrategia General definida para 
		cada Escenario de Riesgo.    
	</p>

	</div>
	<!------------ Fin Mensaje ---------------------------------------------->

	<p>{{form.estrategia}}</p>

	</ul>

<br/>
<ul class="scr4" style="background-color: white; line-break: normal;">

<!------------ Mensaje ---------------------------------------------->
<div class="alert alert-info" role="alert" style="font-size: 1.2rem; background-color: bisque;">
<h4><strong>4. Roles</strong></h4>
<p>
	Esta sección especifica la asignacion de gestores a los siguientes roles del 
	Procedimiento de Contingencia:  
</p>
<br/>
<p>
	<strong>Responsable</strong>: Es el responsable de nivel táctico superior 
	inmediato  (Gerente, Subgerente, Jefe de Area) del Proceso critico asociado 
	al Procedimiento. Es quien, durante el ciclo de aprobacion autoriza el 
	Procedimiento.   
</p>
<p>
	<strong>Ejecutor</strong>......: Corresponde al responsable de nivel operativo
	encargado de la operacion del Proceso y responsable de ejecutar el 
	Procedimiento de Contingencia durante un incidente asi como de su mantencion (actualizacion).  
</p>
	<strong>Enlace Comite de Crisis</strong>: Es el integrante del Comite de Crisis
	designado como enlace de comunicacion con esta instancia. Su rol es actuar como
	facilitador del area o unidad responsable del Proceso frente al Comite.   
</p>
<br/>
</p>
	Los gestores asignados a los roles <strong>Responsable</strong> y <strong>Ejecutor</strong>
	deben pertenecer a los grupos <strong>"Autorizadores"</strong> y/o <strong>"Ejecutores"</strong>.
	El gestor asignado al rol <strong>"Enlace Comite de Crisis"</strong> debe pertencer al grupo <strong>"
		Comite de Crisis"</strong>. El Sistema disponibiliza automaticamente estas definiciones
		el el box de seleccion de cada rol.    
</p>

</p>
	Opcionalmente a cada gestor asignado se le puede definir un <strong>Respaldo</strong> a quien acudir
	en caso de ausencia o dificultad de contacto del titular.    
</p>

</div>
<!------------ Fin Mensaje ---------------------------------------------->


	<ul class="scr4">
		<div class="flex-container">
			<div class="flex-item>" style="width: 50%; text-align: left;">
				<p><bn>Responsable: {{form.resp_proceso}}</bn></p>
				<p><bn>Ejecutor........: {{form.gestor_ejecutor}}</bn></p>
				<p><bn>Enlace...........: {{form.enlace_c_crisis}}</bn></p>
			</div>
			<div class="flex-item" style="width: 60%; text-align: left;">
				<p><bn>Respaldo: {{form.bck_resp}}</bn></p>
				<p><bn>Respaldo: {{form.bck_ejecutor}}</bn></p>
				<p><bn>Respaldo:&emsp;{{form.bck_enlace}}</bn></p>
			</div> 
		</div>
	<br/>
	</ul>
	</ul>
	
	
	
	
	<!---- Botones de salida ---- -->
	<a href="{% url 'Lista-Proced' 1  %} " onclick="event.stopPropagation();"><aa class="button">Volver ...</aa></a>
    <input type="submit" class="button" value="Siguiente ..." />
    </form>


	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->

<!-------- Nombre del programa --------->
<br/><br/><br/><br/>
<aa style="font-size: 8px;">[proced_rev_B]</aa>



{% endblock %}


