<!Programa HTML                                           >
<!Despliega el formulario para el Reporte de un Incidente >
<!Programado por Marco A. Villalobos M.                   >
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}

	{% block enc_activo %}
	<ul class="encabezado_C">
        <aa><strong> >> REPORTE DE INCIDENTE</strong></aa>
	</ul>
	{% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Graba" />
    </form>

{% endblock %}
