<!Programa HTML>
<!Despliega el formulario para la asignacion RACI >
<!Programado por Marco A. Villalobos M.>
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}


{% block encabezado_RACI %}
   <ul class="encabezado_B">
   	<aa><strong>FORMULARIO DE AUTORIZACIONES RACI - ( {{etapa}} )  </strong></aa>
   </ul> 
   <ul class='encabezado_SB'>
	<aa>{{proc_raci.path}}</aa>
   </ul>
{% endblock %}

<ul class="scr2">
<p><strong><h4>Roles RACI:</h4></strong></p>
<p>El Sistema de Autorizaciones <strong>RACI</strong> de <strong>defcon-5</strong>, permite establecer dos niveles de revision y autorizacion en cada etapa o fase del Ciclo de Mapeo 
(Procesos, Impacto, Servicios Criticos y Escenarios) para las especificaciones  que se haran a los Procesos de Negocio. Su objetivo es implementar un esquema que permita incorporar 
un control por oposicion (segregacion de funciones) para las distintas definiciones a ser registradas en la elaboracion del Plan de Continuidad de Negocio (bcp) asegurando 
que refleje en la mayor medida posible las caracteristicas de los Procesos criticos considerados.</p>
<p>En este esquema el <strong>Gestor Consultor</strong> es quien  define en primera  instancia el Proceso y da las primeras especificaciones durante todo el Ciclo 
de Mapeo. Estas especificaciones son sometidas a un primer nivel de Autorizacion por parte del <strong>Gestor Autorizador</strong> quien las revisa, aprueba u observa. Una vez pasado el 
primer nivel, son sometidas a un segundo nivel de Autorizacion por parte del <strong>Gestor Responsable</strong> quien tambien revisara, aprobara u observara la definicion propuesta. Cada 
ves que alguno de estos Gestores observe la definicion (no la autorice) volvera al <strong>Gestor Consultor</strong> para su correccion, iniciando nuevamente el Ciclo de Autorizacion
en cada paso del Ciclo de Mapeo.</p>
<p>De esta manera, los roles RACI establecidos por defcon-5 para el desarrollo del bcp/DRP se definen como sigue:
<br/>	   

<p><strong>R:</strong> Responsable del Proceso de Negocio. Su rol es autorizar en segunda instancia las especificaciones del Proceso visado por el rol A. Debe ser asociado a un cargo 
formal de nivel estrategico dentro de la estructura organizacional de la Empresa (Subgerente, Gerente, Gerente Divisional, etc.) relacionado por linea jerarquica con el Proceso en analisis.</p>

<p><strong>A:</strong> Responsable de gestionar las actividades de Continuidad de Negocios al interior del Area relacionada al Proceso. Su rol es autorizar en primera instancia las
especificaciones propuestas por el rol C.  Debe ser asociado  a un gestor facilitador o enlace con el equipo que conduce la definicion/actualizacion del bcp/DRP  asignado por el 
Responsable del Proceso de Negocio.</p>

<p><strong>C:</strong> Responsable de crear el Proceso en el Sistema defcon-5 y proponer las especificaciones iniciales en cada etapa del Ciclo de Mapeo. Corresponde al responsable de 
conducir el proceso de definicion/actualizacion del bcp/DRP (Area de Riesgo Operacional). </p>

<p><strong>I:</strong> Corresponde a la principal persona interesada que, en razon de la criticidad del Proceso, debiera ser informada. Este rol debiera ser asignado a gestores 
participantes a nivel de Gobierno Corporativo del bcp/DRP (Comite de Continuidad de Negocio, Comite de Crisis, Directorio, etc.). Puede ser omitido. </p> 
<br/>


</ul>

<ul class="scr4">
<p>Asignar a los gestores que asumiran los roles <strong>RACI</strong> para el proceso de -
    <strong>{{proc_raci.nombre }}</strong> - durante la etapa de <strong>{{etapa}}</strong> 
    de la <strong>Fase I - Evaluacion de Procesos:</strong></p>
<br/>

    <form action="" method="post">
        {% csrf_token %}
        <table>
        <p><strong>Gestor [R]esponsable.....:</strong>&emsp;{{ form.gestor_R }}</p>
	<p><strong>Gestor [A]utorizador.......:</strong>&emsp;{{ form.gestor_A }}&emsp;&emsp;Notifica por correo?&emsp; {{form.notifica}}&emsp; <span style='font-size:20px;'>&#128231</span></p>
    <p><strong>Gestor [C]onsultor  .........:&emsp;&nbsp;{{ proc_raci.subproceso.gestor_C }} </strong></p>   
    <p><strong>Persona [I]nteresada.......:</strong>&emsp;{{ form.gestor_I }}</p>   
	<br/>
	
	</table>

        <a href="{% url 'Lista-Procesos' %}"><bb class="button">... Vuelve a la lista de Procesos</bb> </a>
        <input type="submit" class="button" value="Envia a ciclo de Autorizacion" />
	
	{%if notifica %}
		<a>Enviando correo...</a>
	{%endif%}
	
    </form>
<br/>
</ul>

{% endblock %}

