<!DOCTYPE html>
<!Programa en HTTML>
<!base_generic>
<!Despliega el Menu de la pagina Index>
<!Programado por Marco A. Villalobos Michelson>
<!============================================>

<html lang="en">

<head>

  {% load static %}

  {% block title %}
  <title>
    defcon-5/bcp
  </title>
  {% endblock %}

<!----- Definicion original ----------------------------------->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
  <!-- Boostrap-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-pZ8+..." crossorigin="anonymous" referrerpolicy="no-referrer" />
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Para alertas de scripts-->

 <!----- Para el ingreso de Fechas y horas -----------> 
 <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
 <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
 <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/airbnb.css"/>
 <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> <!--- Para Ingreso de Fechas y horas -->

 
 <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

<!--- nueva ----------------------------------------------------------------->
<!-- Estaticos locales del Sistema -->
 <script> 
  window.URL_DETALLE_MODELO = "{% url 'api_detalle_modelo' %}";
</script>

  <script src="/static/js/main.js" defer></script>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- Add additional CSS in static file-->
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  

 <!-- <img src="{% static 'image/fondo_1.jpg' %}" >-->

{% block extra_head %}{% endblock %}
</head>
<body>


<ul class="encabezado">

<div class="flex-container" style="height: 40px; width: 100%;">
  <div class="flex-text" style="text-align: left; width: 50%;">
    
    <a href="{% url 'Declara-Incidente' %}" style="font-size: 30px; color: black;"
    class="link " data-message="***   D E C L A R A &nbsp;&nbsp;I N C I D E N T E   ***" >&nbsp;&#128222</a>
  </div>

  <div class="flex-text" style="text-align: right; width:100%;">
    <strong><ab>defcon5 </ab></strong>
  </div>


</div>
</ul>



<!--despliega la opcion Login o Logout dependiendo del estado de la sesion -->
{% block sesion %}
<ul class="sesion">
{% if user.is_authenticated %}
      
<li>
    <aa>Hola</aa>
    <strong>{{ user.get_full_name }}</strong>

    {% if user.gestor %}
      <!--====================== Icono Datos Modelo ======================-->
      {% with gestor=user.gestor %}
        {% comment %} Pasamos los datos seguros al JS {% endcomment %}
          <script id="gestor_data_{{ user.id }}" type="application/json">
          {
              "modelo": "Gestor",
              "id": "{{ gestor.id }}",
              "titulo": "<strong>Mis Datos de Gestor</strong><ul class='encabezado_D'></ul>",   
              "mensajeFinal": "<ul class='encabezado_D'></ul>",  
              "listaCampos": { 
                  "Nombre............. ": "user_gestor.first_name",
                  "Apellido........... ": "apellido",
                  "Usuario.............": "user_gestor.username",
                  "Cargo...............": "cargo",
                  "Área................": "area",
                  "Teléfono trabajo....": "fono_t",
                  "Teléfono celular....": "fono_c",
                  "Grupos..............": "user_gestor.groups"
              }
          }
          </script>

        <span style="cursor:pointer; margin-left:8px; font-size:1.3rem;"
              title="Ver mis datos"
              onclick="abrirDetalleModelo(JSON.parse(document.getElementById('gestor_data_{{ user.id }}').textContent))">
               <!-- Icono --> 
                <img src="/static/img/usuario.png" width="20" height="20">
        </span>
      {% endwith %}
      <!--====================== Fin Icono Datos Modelo ======================-->



    {% endif %}

    <a href="{% url 'logout' %}?next={{ request.path|urlencode }}">
        <strong><aa>\ Logout</aa></strong>
    </a>
</li>
    

  {% else %}
      <li><a href="{% url 'login'%}?next={{request.path}}"><aa>&#128477<strong>\ Login</aa></strong>&nbsp;&nbsp;</a></li>
  {% endif %}
  </ul>
{% endblock %}


<!--------------------------------------------------------------------------------------->
<!-----------------------------  NIVEL SUPERIOR ----------------------------------------->
<!--------------------------------------------------------------------------------------->


<!------ MENU DE OPCIONES ---------------->
<!---------------------------------------->
  <div class="container-fluid">
     <div class="row">
      <div class="col-sm-2">
      

      <!--- Define la barra de Menu de opciones -->
      <!--- ====================================-->
      {% block sidebar %}
      <nav class="sidebar-nav" style="width: 180px; font-size: 2rem;">
          <div class="menu-title" style="color: var(--accent-green);">MENU</div>

          <ul class="menu-list inline">
              <li><a href="{% url 'index' %}" class="menu-link">
                  <img src="/static/img/principal.jfif" class="icon" alt="Principal"> Principal
                  <!-- <span class="icon">&#8680;</span> Principal -->
              </a></li>
              <li><a href="{% url 'Mapeo' %}" class="menu-link">
                  <img src="/static/img/metodologia.png" class="icon" alt="Metodología"> Metodología
              </a></li>
          </ul>


          <div class="menu-section menu-title" style="color: var(--accent-green);"><strong>Gestion de Crisis</strong></div>
          <ul class="menu-list inline">
              <li><a href="{% url 'Lista-Incidentes' %}" class="menu-link" >
                <img src="/static/img/dashboard.png" class="icon" alt="Metodología"> Dashboard Panel&nbsp;de&nbsp;Control
              </a></li>
              <li><a href="{% url 'Define-Plan-Pruebas-A' %}" class="menu-link">
                <img src="/static/img/Autorizar.png" class="icon" alt="Metodologia" style="background-color: white;"> Plan&nbsp;de Pruebas
              </a></li>
              <li><a href="{% url 'Lista-Proced' %}" class="menu-link">
                <img src="/static/img/Evaluacion.jpg" class="icon" alt="Metodología">Mis&nbsp;Procedimientos de&nbsp;Contingencia
              </a></li>

            </ul>

          <div class="menu-section menu-title" style="color: var(--accent-green);"><strong>Gestión de Contingencia</strong></div>
          <div class="menu-section menu-title">Mapeo</div>
          <ul class="menu-list inline">
              <li><a href="{% url 'Lista-Procesos' %}" class="menu-link"><span class="icon">&#10146;</span> Definición&nbsp;Procesos</a></li>
              <li><a href="{% url 'Lista-Evaluaciones' %}" class="menu-link"><span class="icon">&#10146;</span> Análisis&nbsp;Impacto (RIA&nbsp;/&nbsp;BIA)</a></li>
              <li><a href="{% url 'Lista-Recursos' %}" class="menu-link"><span class="icon">&#10146;</span> Servicios&nbsp;Criticos Escenarios&nbsp;Riesgo</a></li>
              <!-- <li><a href="{% url 'Lista-Escenarios' %}" class="menu-link"><span class="icon">&#10146;</span> Escenarios Riesgo</a></li> -->
          </ul>

          <div class="menu-section menu-title" >Procedimientos Contingencia</div>
          <ul class="menu-list inline">
              <li><a href="{% url 'Lista-Proced' 0 %}" class="menu-link"><span class="icon">&#10146;</span> Procedimientos Negocio&nbsp;(BCP)</a></li>
              <li><a href="{% url 'Lista-DRP' %}" class="menu-link"><span class="icon">&#10146;</span>Procedimientos TI&nbsp;(DRP)</a></li>
          </ul>

          <div class="menu-section menu-title" style="color: var(--accent-green);"><strong>Configuración</strong></div>
          <ul class="menu-list inline">
              <li><a href="{% url 'menu-conf' %}" class="menu-link"><span class="icon">&#9965;</span> Configuración</a></li>
          </ul>
      </nav>
      {% endblock %}
      <!--- Fin Define la barra de Menu de opciones -->

      </div>
        <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      

      </div>
    </div>

  </div>

  <!----- Modales CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		
<!-- ================= MODAL DETALLE MODELO ================= -->
<div id="modal-detalle-overlay" class="detalle-overlay oculto">
    <div class="detalle-modal" style="width: 100px;">

        <div id="detalle-titulo" class="detalle-titulo"></div>

        <div class="detalle-separador"></div>

        <div id="detalle-contenido" class="detalle-contenido"></div>

        <div class="detalle-separador"></div>

        <div id="detalle-mensaje" class="detalle-mensaje"></div>

        <div class="detalle-footer">
            <button onclick="cerrarDetalle()" class="button">Cerrar</button>
        </div>

    </div>
</div>
<!-- ======================================================== -->

	<!--------- Fin CSS para Scripts ------------------------->

{% block extra_js %}{% endblock %}
</body>
</html>

