<!DOCTYPE html>
<!Programa en HTML>
<!reset>
<!Reinicia la Base de Datos: Borra todos las instancias transaccionales>
<!Programado por Marco A. Villalobos Michelson>

{% extends "base_generic.html" %}

{% load static %}

{% block content %}

 	{% block encabezado_detalle %}
	<ul class="encabezado_B">
        <aa class="blink"><strong>*** REINICIO DE LA BASE DE DATOS ***</strong></aa>
	</ul>
	{% endblock %}

    <br/>


    <form action="" method="post">
        {% csrf_token %}
        <ul class="scr4">
        <p><strong>Ingrese un nombre al Proceso Raiz..:</strong>&emsp;{{form.raiz}}</p>
        </ul>

        <input type="submit" value="REINICIAR BD" onclick="return confirm('¿Confirmas reiniciar la Base de Datos?');">
    </form>
      


<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->



{% endblock %}
