{% extends "base_generic.html" %}
{% block content %}
<div class="">
    <ul class="encabezado_B">
        <strong>DASHBOARD DE EJECUCION DE PRUEBAS</strong>
	</ul>
	<ul class='encabezado_SB'>
	INCIDENTE DE PRUEBA: {{incidente.codigo}} - {{incidente.descripcion}}
	</ul>

    <!----------- Bloque Superior : Datos globales -->
    <div class="flex-container">
        <!-- Seccion Totales de Resultados Pruebas-->
        <div class="flex-item" style="width: 50%; text-align: center;">
            <ul class="encabezado_SB"><strong><h5>Resultados de Pruebas</h5></strong></ul>

                <!--- Grafico ---------->
                <div class="chart-wrapper" data-chart-data="chart-data" data-chart-colors="chart-colors">
					<div class="chart-canvas" style="width: 150px; height: 150px;">
                        <canvas id="pieChart"></canvas>
                    </div>
					<div class="chart-legend"></div>
				</div>

                <!-- Inyección de datos desde Django -->
                {{ chart_data|json_script:"chart-data" }}
                {{ chart_colors|json_script:"chart-colors" }}
                <!--- Fin Grafico -------->
                <br/>

                <table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Nro de Pruebas:</th>
					<th style="border: 1px solid greenyellow ;">{{cont_pruebas}}</th>
                    <th style="border: 1px solid greenyellow ;">100%</th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ; text-align: left;">Nro de Pruebas Exitosas:</th>
					<th style="border: 1px solid greenyellow ;">{{cont_prbas_exitosas}}</th>
                    <th style="border: 1px solid greenyellow ;">{{P100_prbas_exitosas}} %</th>
                    <th style="border: 1px solid greenyellow ;">
                        <a href="{% url 'Lista-Prba-Eval' incidente.pk 'Exitosa'  %}"><aa style="color:greenyellow">></aa></a> 
                    </th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left; color:yellow;">Nro de Pruebas Parciales:</th>
					<th style="border: 1px solid greenyellow ; color:yellow;">{{cont_prbas_parciales}}</th>
                    <th style="border: 1px solid greenyellow ; color:yellow;">{{P100_prbas_parciales}} %</th>
                    <th style="border: 1px solid greenyellow ;">
                        <a href="{% url 'Lista-Prba-Eval' incidente.pk 'Parcial'  %}"><aa style="color:greenyellow">></aa></a> 
                    </th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ; text-align: left; color:red;">Nro de Pruebas Fallidas:</th>
					<th style="border: 1px solid greenyellow ; color:red;">{{cont_prbas_fallidas}}</th>
                    <th style="border: 1px solid greenyellow ; color:red;">{{P100_prbas_fallidas}} %</th>
                    <th style="border: 1px solid greenyellow ;">
                        <a href="{% url 'Lista-Prba-Eval' incidente.pk 'Fallida'  %}"><aa style="color:greenyellow">></aa></a> 
                    </th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow;text-align: left; color:rgb(18, 167, 231);">Nro de Pruebas en Ejecucion:</th>
					<th style="border: 1px solid greenyellow ; color:rgb(18, 167, 231);">{{cont_prbas_en_ejecucion}}</th>
                    <th style="border: 1px solid greenyellow ; color:rgb(18, 167, 231);">{{P100_prbas_en_ejecucion}} %</th>
                    <th style="border: 1px solid greenyellow ;">
                        <a href="{% url 'Lista-Prba-Eval' incidente.pk 'En Ejecucion'  %}"><aa style="color:greenyellow">></aa></a> 
                    </th>
				</tr>
                </table>
            

        </div>
        <!-- Seccion Totales de Alcance (Generales)-->
        <div class="flex-item" style="width: 50%;">
            <ul class="encabezado_SB"><strong><h5>Alcance</h5></strong></ul>
            <table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ;">Nro de Procesos Criticos:</th>
					<th style="border: 1px solid greenyellow ;">{{n_procesos}}</th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ;">Nro de Escenarios de Riesgo:</th>
					<th style="border: 1px solid greenyellow ;">{{n_escenarios}}</th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ;">Nro de Pruebas:</th>
					<th style="border: 1px solid greenyellow ;">{{cont_pruebas}}</th>
				</tr>



            </table>

            <!----- Estado del Incidente -->
            <br/>
            <ul class="encabezado_SB"><strong><h5>Estado del Incidente de Prueba</h5></strong></ul>
            <table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ;">Nro de Procedimientos (PC):</th>
					<th style="border: 1px solid greenyellow ;">{{cont_pc}}</th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ;">Nro. PC Activados por C.C.:</th>
					<th style="border: 1px solid greenyellow ;">{{cont_pc_activos}}</th>
				</tr>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow ;">Nro. PC Confirmados:</th>
					<th style="border: 1px solid greenyellow ;">{{cont_pc_confirm}}</th>
				</tr>

            </table>

            <br/> <br/> <br/>
            

        </div>

        </div><!--------- Fin Bloque ------->
        <br/><br/>
        <!------- Botones de Salida ------------>
            <a href="?formal=1" ><rr class="button" style="background-color: red; color:white">
                <img src="/static/img/baja_pdf.png" width="40" height="40"></img>
                REPORTE FINAL PDF</rr></a>
            <a href="{% url 'Perfil-Incidente' incidente.pk %}" ><rr class="button" style="background-color: red; color:white">
            DASHBOARD DE EJECUCION</rr></a>

    </div><!----------- Fin Bloque Superior : Datos globales -->


<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
	<!-- Caja de Comentario -->

	<div id="comment-box" class="hidden" style="font-size: 13px;">
		<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
		<h5><strong>Comentario de Revision:</strong></h5>
		<textarea id="comment-text" rows="5" cols="30"></textarea>
		<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
		<button id="close-comment">Cerrar</button>
	</div>
	
	<!-- Globo de cómic -->
	<div id="comicBalloon"></div>

	<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
	<div id="confirmation-dialog" class="hidden">
		<div class="dialog-content">
			<p id="confirmation-message"></p>
			<button id="confirm-yes">Sí</button>
			<button id="confirm-no">No</button>
		</div>
	</div>
	

<!--------- Fin CSS para Scripts ------------------------->

<br/><br/><br/>
<aa style="font-size: 8px;">[dashboard_ejecucion]</aa>


{% endblock %}