<!Programa HTML                                           >
<!Despliega el formulario para la creacion de un DRP >
<!Programado por Marco A. Villalobos M.                   >
<!========================================================>

{% extends "base_generic.html" %}
{% block content %}

	{% block enc_activo %}

	<ul class="encabezado_A">
	<p><bb><strong>***&emsp;CREA DRP&emsp; ***</strong></bb></p>
	</ul>

	{% endblock %}


	{% block declara %}

    	<form action="" method="post">
          {% csrf_token %}

			<ul class="scr4">
			<p>Nombre.........:&emsp;{{form.nombre }}</p>
			<br/>
			<p> <input type="submit" value="Crea DRP" /></p>
	 		
		</form>
			<a href="{{ request.META.HTTP_REFERER }}"><span style='font-size:30px;'>&#128281</span></a>
			</ul>
		
	
	
	{% endblock %}

{% endblock %}
