<!Programa en HTML>
<!Despliega el formulario para la revision de la Especificacion >
<!de Componentes de Configuracion del DRP>
<!Programado por Marco A. Villalobos Michelson>
<!==============================================>

{% extends "base_generic.html" %}
<!--- Politicas para prevenir retorno al formulario una vez emviado -->
{% block extra_js %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock %}
<!--- Fin Politicas para prevenir retorno al formulario una vez emviado -->


{% block content %}

{% block encabezado_auth %}
	 <ul class="encabezado_B">
        <p><aa><strong>FORMULARIO DE REVISION DE OBSERVACIONES A ESPECIFICACION DE COMPONENTES DE CONFIGURACION DEL DRP</aa></strong></p>
	 </ul>
	 <ul class="encabezado_SB">
	 <p><aa><strong>{{drp.codigo}}&nbsp;/&nbsp;{{drp.nombre}}</strong></aa></p>
	 {{Componentes.get_absolute_url}}
	 </ul>
	{% endblock %}

<!-------------------------------------- Bloque A ---------------------------------->
<div class="flex-container">
	
	<!------------- Seccion Datos del Proceso -------------------->
	<div class="flex-item" style="width: 45%;">
	<br/><br/><br/><br/>
	<bn><p>Revise las observaciones registradas en el <strong>Block de Comentarios</strong>  
		. Realice las modificaciones solicitadas y marquelo en el icono (&#10067). 
		Si desea dejar un comentario, utilice el icono 
		(<img src="/static/img/Comentario_1.png" width="10" height="10"> ).</p>
		<p>Al registrar las modificaciones seran enviadas al Gestor Autorizador para su revision.</p>  
	</bn>

	</div><!------------- Seccion Datos del Proceso -------------------->

	<!---------------------- Seccion Block de Comentarios -------------------->
	<div class="flex-item" style="width: 52%;"> 
		<ul class="scr4" style="text-align: center; background: rgb(236, 239, 63); font-size: 13px;">
			<strong>Block de Comentarios de Revision</strong>
		</ul>
		<ul class="BarraScroll" style="height: 300px; border-radius: 10px; border: 3px solid black; background: white;">
			<!-- Log de Comentarios -->
			<table class="lta"> 
				<thead class="encabezado_C" style="text-align: center">
				<tr>
				<th scope="col" style="width: 20%;">Referencia.Dato</th>
				<th scope="col" style="width: 500px">Comentario</th>
				</tr>
				</thead>
				
				<body>
				{% if comentarios %}
					{%for com in comentarios  %}
					<tr style="font-size: 9px;">
						{%if com.gestor_aut != drp.gestor_consultor_drp %}
						<!--- Si el usuario en sesion es el Gestor Consultor --->
							<th scope="row" style="background: rgb(236, 239, 63); width: 20%;"><img src="/static/img/Pin.png" width="15" height="15">
								(<strong>{{com.fecha}}</strong>)
								<p>{{com.campo}}</p>
								(
									{% if com.resuelto %}
									<a href="{% url 'OK-Rev-OC' com.pk %} " 
									class="link confirm-link" con-message="Confirma Desmarcar?"  
									data-message="Realizado (Haga Click para desmarcar)">&#9989
									{%else%}
									<a href="{% url 'OK-Rev-OC' com.pk %}" class="link confirm-link" con-message="Confirma Marcar como Realizado?"  
									data-message="Pendiente (Haga click para marcar  como Realizado)">&#10067
									{%endif%}
								)
							</th>
						{%else%}
							<th scope="row" style="background: rgb(237, 149, 226); width: 20%;"><img src="/static/img/Pin.png" width="15" height="15">
						(<strong>{{com.fecha}}</strong>)
						<p>{{com.campo}}</p>
							(<a href="{% url 'Borra-Rev-OC' com.pk  %}" class="link confirm-link" con-message="* * *  Confirma Eliminacion del Comentario? * * *"  data-message="Borra Comentario"><sa style="font-size:12px; color:green">&#128465</sa></a>)
							</p></th>
	
						{%endif%}
	
						<th scope="row" style="width: 500px";> {{com.comentario}}
							{%if com.gestor_aut != proceso.subproceso.gestor_C %}
	
								<p>
								<!---------  Comentario de Revision ----->
								<span class="comment-icon link" data-message="Hacer Comentario a '{{com.campo}}' ..."
								data-id="{{ drp.id }}"
								data-sec="D5"
								data-field="Comentario a '{{com.campo}}'" 
								>
								<img src="/static/img/Comentario_1.png" width="15" height="15">
								</span>
								<!---------  Fin Comentario de Revision ----->
								</p>
							{%endif%}
						</th>
					{%endfor%}
				
				{%else%}
					<p> Sin  Observaciones</p>
				{%endif%}
				
					<tbody>
							
			</table>
				
			<!-- Fin Log Comentarios -->
				
		</ul>
	
	</div><!----------- Fin Seccion der - Block de Comentarios ----------->


</div><!----- Bloque A ---------------------------------->

	<br/>
	<h5><strong>ASIGNACION DE COMPONENTES</strong></h5>
	<!===================================================>
	<P>Seleccione del listado de la izquierda aquellos Componentes de Hardware o Software Base 
	   asociados a la infraestructura del Site de Contingencias. 
	<br/>

	<!----- CAJAS DE DISPONIBLES Y ASIGNADOS ------->
	<!---------------------------------------------->

	<div data-asignacion
     data-model="bcp.Drp"         
     data-obj-id="{{ drp.id }}"   
     data-field="componentes" > 
	 
     <!-- data-model="bcp.Drp"       : formato app_label.ModelName; DEBE estar en ALLOWED_MODELS -->
     <!-- data-obj-id="{{ drp.id }}  : id del objeto base -->
     <!-- data-field="componentes"   : nombre exacto del campo M2M en el modelo -->


		<form method="post">
			{% csrf_token %}
			
			<!-- Filtros y tablas -->
			<div style="display:flex; gap:20px;">

				<!-- Servicios Disponibles -->
				<div style="flex:1;">
					<h5><strong>⏼ Componentes Disponibles</strong></h5>
					<input type="text" class="filtro-disponibles" placeholder="Filtrar ..." style="width: 100%; padding: 5px; background:#efefaa;">
					<br/><br/>
					<ul class="BarraScroll" style="background: #efefaa; height:250px;">
						<table class="tabla-disponibles styled-table" style="width:100%; margin-top:10px;">
							<thead style="background: greenyellow;">
								<tr style=color:black;">
									<th style="width:10%;">Codigo</th>
									<th style="width:30%;">Nombre</th>
									<th>Descripción</th>
									<th style="width:12%;" class="link" data-message="Selecciona"  style="align-content: center;">***⏩***</th>
								</tr>
							</thead>
							<tbody>
							{% for cmp_d in componentes_disponibles %}
								<tr data-id="{{ cmp_d.id }}">
									<td>{{ cmp_d.codigo}}</td>
									<td>{{ cmp_d.nombre }}</td>
									<td>{{ cmp_d.descripcion}}</td>
									<td>
										<button type="button" class="btn-mover button" data-destino="asignados" style="background: lightgreen; font-size:12px;">⏩</button>
									</td>
								</tr>
							{% empty %}
								<tr><td colspan="4" style="text-align:center;">No hay recursos disponibles.</td></tr>
							{% endfor %}
							</tbody>
						</table>
					</ul>
				</div>

				<!-- Servicios Asignados -->
				<div style="flex:1;">
					<h5><strong>⏼ Componentes Seleccionados</strong></h5>
					<input type="text" class="filtro-asignados" placeholder="Filtrar servicios..." style="width: 100%; padding: 5px; background:#efefaa;">
					<br/><br/>
					<ul class="BarraScroll" style="background: #efefaa; height:250px;">
					<table class="tabla-asignados styled-table" style="width:100%; margin-top:10px;">
						<thead style="background: lightblue;">
							<tr style="color:black">
								<th style="width:10%;">Tipo</th>
								<th style="width:30%;">Serv./Rec.</th>
								<th>Descripción</th>
								<th style="width:12%;" class="link" data-message="Descarta"  style="align-content: center;" >***⏪***</th>
							</tr>
						</thead>
						<tbody>
						{% for cmp_s in componentes_asignados %}
							<tr data-id="{{ cmp_s.id }}">
								<td>{{ cmp_s.codigo}}</td>
								<td>{{ cmp_s.nombre }}</td>
								<td>{{ cmp_s.descripcion}}</td>
								<td>
									<button type="button" class="btn-mover button"   data-destino="disponibles" style="background: red; color: white; font-size:12px;"><a class="link" data-message="Selecciona" >⏪</a></button>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</ul>
				</div>

			</div>

			<!-- Campo hidden para IDs -->
			<input type="hidden" name="componentes" class="input-seleccion" value="">

			<!-- Creacion de Componente en la BD-->
			 	<a href="{% url 'Lista-CMP' drp.pk origen  %}"
				class="link " data-message="Crea Componente ..."><sa>&#10010 </sa></a>: Crea/Elimina Componentes disponibles en BD. 			<!-- Fin Creacion de Componente en la BD-->
			<br/><br/>
			<!-- Boton de salida -->
			<button type="submit" class="button">Volver ... </button>
		</form>
	</div>
	<!----- FIN CAJAS DE ASIGNACION DISPONIBLES / ASIGNADOS -->



	<!----- CSS para Scripts --------------->
	<!-------------------------------------->

	<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
	<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

	<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------------Fin CSS ------------------------>

<!---- Datos del Template ------>
<br/><br/><br/><br/>
<aa style="font-size: 8px;">[drp_s5_rev]</aa>	


{% endblock %}
