<! Programa HTML>
<! Autorizacion de la definicion de la Especificacion de Servicios Criticos del DRP>
<!Programado por Marco A. Villalobos M>
<!=======================================================================>

{% extends "base_generic.html" %}
<!--- Politicas para prevenir retorno al formulario una vez emviado -->
{% block extra_js %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock %}
<!--- Fin Politicas para prevenir retorno al formulario una vez emviado -->

{% block content %}
	
	{% block encabezado_auth %}
	 <ul class="encabezado_B">
        <p><aa><strong>FORMULARIO DE AUTORIZACION  DE LA ESPECIFICACION DE SERVICIOS CRITICOS</aa></strong></p>
	 </ul>
	 <ul class="encabezado_SB">
		<p><aa><strong>{{drp.codigo}}&nbsp;/&nbsp;{{drp.nombre}}</strong></aa></p>
	 </ul>
	{% endblock %}

		
	
{%endblock%}



