<! Programa HTML>
<! Autorizacion de la definicion de la Especificacion de Servicios Criticos del DRP>
<!Programado por Marco A. Villalobos M>
<!=======================================================================>

{% extends "base_generic.html" %}

{% block content %}
	
	{% block encabezado_auth %}
	 <ul class="encabezado_B">
        <p><aa><strong>FORMULARIO DE AUTORIZACION  DE LA ESPECIFICACION DE SERVICIOS CRITICOS</aa></strong></p>
	 </ul>
	 <ul class="encabezado_SB">
		<p><aa><strong>{{drp.codigo}}&nbsp;/&nbsp;{{drp.nombre}}</strong></aa></p>
	 </ul>
	{% endblock %}

<!-- Observaciones -->
<!==========================>
<!Despliega Observaciones>
<!==========================>

<p><h5><strong>OBSERVACIONES</strong></h5>
<!================================================>
	<ul class="scr4">

		{%block A%}
		<h5><strong>Observaciones realizadas</strong></p>
		{%if drp.log_auth_drp.all %}
		<p>El siguiente cuadro muestra las observaciones realizadas por el Gestor Autorizador para ser revisadas e implementadas</p></h5>
		<br/>
		
		<table class="lta">

			<thead>
			  <tr>
			<th scope="col">Fecha</th>
			<th scope="col">Aprobador</th>
			<th scope="col">Estado</th>
			<th scope="col">Item</th>
			<th scope="col">Observacion</th>
			
			  </tr> 
			</thead>

			<body>
	
			   {%for log_auth in drp.log_auth_drp.all %}
			<tr>
					<th scope="row"><bb>{{log_auth.fecha}}</bb></th>
			<th scope="row"><bb>{{log_auth.gestor_aprobador}}</bb></th>
			<th scope="row">
				{% if log_auth.Aprobado %}
					<bb>Aprobado</bb>
				{%else%}
					<bb>Observado</bb>
				{%endif%}
			</th>
			<th scope="row"><bb>{{log_auth.item}}</bb></th>
			  <th scope="row"><bb>{{log_auth.observacion}}</bb></th>

		</tr>
			{% if not forloop.last %}
			{%endif%}
			  {%endfor%}
			<tbody>		
		</table>
		{%else%}
		   <p>Sin Observaciones</p></p></h5>
		{%endif%}
		{% endblock %}
	</ul>

	<h5><strong>ESPECIFICACION SERVICIOS CRITICOS PARA LA OPERACION DEL  DRP</strong></h5>
	
		
	<ul class="scr2">
		<p style="font-size:12px" >Revisar los Servicios criticos especificados para la operacion del DRP. 
			Si existe alguna observacion, registrela en (&#128221) frente al item correspondiente.</p>
	<br/>
	<h6><strong>2.1.&emsp;Servicios seleccionados para este DRP.</strong><h6>
									
			<table class="lta">
			<thead class='encabezado_A'>
			<tr>
					<th scope="col">NOMBRE SERVICIO</th>
					<th scope="col">OBJETIVO</th>
					<th scope="col">CONTACTO</th>
					<th scope="col">RESPALDO</th>
					<th scope="col">OBS.</th>
			</tr>
			</thead>
							
			<tbody>
			{%for srv in servicios_asig.all  %}
				<tr>
				 <th scope="row"><bb>{{srv.nombre}}<bb></th>
				 <th scope="row"><bb>{{srv.objetivo}}<bb></th>
				 <th scope="row"><bb>{{srv.contacto}}<bb></th>
				 <th scope="row"><bb>{{srv.contacto_bck}}<bb></th>
  				 <th scope="row"><a href = "{% url 'obs-drp' 'Servicio Especificado'  drp.pk  srv.nombre %}"><bb><strong>&#128221</bb></strong></a><bb>
				</th>
				</tr>
				{% if not forloop.last %}
				{%endif%}
			{%endfor%}
			</tbody>
			</table>
								
	<br/>
								
	</ul>
	
	<p><h5><strong>CONCLUSION</strong></h5>
		<ul class="scr4">
	
		<h5><strong>Observaciones realizadas</strong></h5></p>
		{%if drp.log_auth_drp.all %}
		
		<br/>
		
		<table class="lta">
	
			<thead class='encabezado_D'>
			  <tr>
			<th scope="col">Fecha</th>
			<th scope="col">Item</th>
			<th scope="col">Observacion</th>
			<th scope="col">Gestor</th>
			<th scope="col">X</th>
			
			  </tr> 
			</thead>
			<tbody>
	
		{%for log_auth in drp.log_auth_drp.all %}
		
			   <tr>
				<th scope="row"><bb>{{log_auth.fecha}}</bb></th>
				<th scope="row"><bb>{{log_auth.item}}</bb></th>
				  <th scope="row"><bb>{{log_auth.observacion}}</bb></th>
				<th scope="row"><bb>{{log_auth.gestor_aprobador}}</bb></th>
				{%if request.user.username == log_auth.gestor_aprobador.user_gestor.username %}
					<th scope="row"> <a href = "{% url 'borra-obs-proceso'  log_auth.pk  %}"> <rr>&#128465</rr></a>
				{%else%}
					<th scope="row"> <aa>...</aa>
				{%endif%}
				</th>
			</tr>
		  
			{% if not forloop.last %}
			{%endif%}
	
		{%endfor%}
	
			</tbody>		
		</table>
	
		<br/>
		<p>Las observaciones seran remitidas al <strong>Gestor Consultor</strong>, quien procedera a implementarlas para volver a ser puestas a su
			disposicion para su autorizacion u observacion.</p>
	
		{%else%}
		   <p>Sin Observaciones</p></p></h5>
		{%endif%}
	
		<br/>
		
			{% block C %}
			<form action="" method="post">
				{% csrf_token %}
					
				<p><strong>Indique <aa>(&#10004)</aa>:&emsp;{{ form.aprobacion }}&emsp; si los Componentes Especificados 
				para este DRP le parecen  correctos y desea autorizar.</strong></p>
				
				<p><strong>Comentario general:</strong>&emsp;{{ form.comentario }}</p>
				<br/>
				<br/>
				<input type="submit" value="Registrar" />
			</form>
			{%endblock%}
		</ul>
		
	
{%endblock%}



