<!Programa en HTML>
<!Despliega Indice del DRP>
<!Programado por Marco A. Villalobos Michelson>
<!==============================================>

{% extends "base_generic.html" %}

{%block content%}

<head>
    <meta http-equiv="refresh" content="30"> <!-- 🔄 Refrescar cada 30 segundos -->
</head>

{%block encabezado2%}
        <ul class="encabezado_B">
        <p><strong>P L A N&emsp;&emsp;D E&emsp;&emsp; R E C U P E R A C I O N&emsp;&emsp;D E L&emsp;&emsp;P R O C E S A M I E N T O&emsp;&emsp;D E&emsp;&emsp;D A T O S&emsp;&emsp;( D R P )</strong></p>
        </ul>
{%endblock%}


<ul class="scr4">

        <p><strong>Codigo ...........:&emsp;</strong> {{drp.codigo}}</strong>&emsp;&emsp;&emsp;
        <strong>Nombre ...........:&emsp;</strong> {{drp.nombre}}</p>
        <p><strong>Gestor Responsable ............:</strong>
        {% if drp.resp_drp %}
                &emsp;{{drp.resp_drp}}
        {%else%}
                &emsp;No asignado
        {%endif%}
        </p>
        <br/>
        <p><strong>INDICE DE CONTENIDOS</strong></p>
        <table class="lta">
        <thead class="encabezado_D">
        <tr>
                <th scope="col">Nro.</th>
                <th scope="col">Seccion</th>
                <th scope="col">Estado</th>
                <th scope="col">Accion</th>
        </tr>
        </thead>

        <tbody class="Fondo_T">
        
                
                
                <!-- 1.- Organizacion  DRP -->
                <!-- ===================== -->

                <tr>
                <th scope="row"><bb>1.<bb></th>
                <th scope="row"><bb>Organizacion</bb></th>

               <!-- Estado ----->
               <!--------------->
               <th scope="row">         
                {% if drp.status_2 == 'R' %}
                        <bb>Autorizado</bb>

                {%elif drp.status_2 == 'C' %}
                        <bb>En Definicion</bb>
                {%elif drp.status_2 == 'a' %}
                        <bb>En Autorizacion</bb>
                {%elif drp.status_2 == 'r' %}
                        <bb>En Autorizacion</bb>
                {%elif drp.status_2 == 'x' %}
                      <bb>En Revision</bb>
                {%endif%}
                </th>
                <!-- Fin Estado -----> 


                <!-- Opciones ------->
                <!-------------------> 
                <th scope="row">


                <!-- Detalle DRP -->
		<a href="{% url 'Detalle-DRP' drp.pk  %}"
		class="link " data-message="Muestra detalle del DRP ..."><bn>&#128065</bn></a>


                {% if drp.status_2 == 'R' %}
                              
                        <!--Aprobado -->
                        <a ><aa>&#9989</aa></a>

                {%elif drp.status_2 == 'C' %}

                        <!--- Define y Envia Autorizacion Reponsables -->

                        <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                <a class="link blink" data-message="Definir Roles del DRP ..." 
                                href="{% url 'Responsables-DRP' drp.pk %}"><aa>&#128209</aa></a>
                                
                                {% if drp.resp_drp != None  %}
                                        &nbsp;<a class="link blink" data-message="Envia a Autorizacion ..."
                                        href="{% url 'Envia-Aut-DRP' drp.pk 2  %}"><aa>&#128229</aa></a>
                                {%endif%}
                        {%endif%}

                {%elif drp.status_2 == 'a' %}
                        <!-- Autorizacion de los Roles x Gestor Ejecutor  -->

                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                        {% if request.user.pk == drp.gestor_ejecutor_drp.user_pk %}
                                <a class="link blink" data-message="Autorizar Roles DRP ..."
                                href="{% url 'Autoriza-DRP' drp.pk 2  %}"><aa>&#128273</aa></a> 
                        {%else%}
                                <a class="link" data-message="En Autorizacion por Jefe de Op.- {{drp.gestor_ejecutor_drp}}">&#128274</a>
                        {% endif %}

                {%elif drp.status_2 == 'r' %}
                        <!-- Autorizacion de los Roles x Gestor Responsable  -->

                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                        {% if request.user.pk == drp.resp_drp.user_pk %}
                                <a class="link blink" data-message="Autorizar Roles DRP ..."
                                href="{% url 'Autoriza-DRP-V' drp.pk 2  %}"><aa>&#128273</aa></a> 
                        {%else%}
                                <a class="link" data-message="En Autorizacion por Responsable DRP.- {{drp.resp_drp}}">&#128274</a>
                        {% endif %}

                {%elif drp.status_2 == 'x' %}
                       <!-- En Revision por Gestor Consultor  -->

                       <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                <a class="link blink" data-message="Revisar observaciones a Roles DRP asignados"
                                href="{% url 'Revisa-Resp-DRP' drp.pk %}"><aa>&#128270</aa></a>
                        {% else  %}
                                <a class="link" data-message="En Revision por Gestor de Continuidad - {{drp.gestor_consultor_drp}}">&#128274</a>
                        {%endif%}

                {%endif%}



                </th>
                <!-- Fin Opciones ------->

                </tr>


                <!-- ================================================ -->
                <!-- 2.- Objetivo del DRP ------------------------------>
                <!-- ================================================ -->
                <tr><!--Inicio linea -->
                        <th scope="row"><bb>2.<bb></th>
                        <th scope="row"><bb>Objetivo </bb></th>

                        <!-- Estado ----->
                        <!--------------->
                        <th scope="row">         
                                {% if drp.status_1 == 'R' %}
                                        <bb>Autorizado</bb>

                                {%elif drp.status_1 == 'C' %}
                                        <bb>En Definicion</bb>
                                {%elif drp.status_1 == 'a' %}
                                        <bb>En Autorizacion</bb>
                                {%elif drp.status_1 == 'r' %}
                                        <bb>En Autorizacion</bb>
                                {%elif drp.status_1 == 'x' %}
                                <bb>En Revision</bb>
                                {%endif%}
                        </th>
                        <!-- Fin Estado -----> 

                        <!-- Opciones ------->
                        <!-------------------> 
                        <th scope="row">


                                <!-- Detalle DRP -->
                                <a href="{% url 'Detalle-DRP' drp.pk  %}"
                                class="link " data-message="Muestra detalle del DRP ..."><bn>&#128065</bn></a>

                                {% if drp.status_2 == "R" %}
                                <!-- Verifica que la Estructura Organizacional del DRP este resuelta -->

                                        {% if drp.status_1 == 'R' %}
                                                
                                                <!--Aprobado -->
                                                <a ><aa>&#9989</aa></a>

                                        {%elif drp.status_1 == 'C' %}

                                                <!--- Define y Envia Autorizacion de Objetivos -->

                                                <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                                {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                                <a class="link blink" data-message="Definir Objetivo del DRP ..."
                                                        href="{% url 'Objetivo-DRP' drp.pk %}"><aa>&#128209</aa></a>

                                                        {% if  drp.introduccion != '' %}
                                                                &nbsp;<a class="link" data-message="Envia a Autorizar ..."
                                                                href="{% url 'Envia-Aut-DRP' drp.pk 1  %}"><aa>&#128229</aa></a>
                                                        {%endif%}
                                                {%endif%}

                                        {%elif drp.status_1 == 'a' %}
                                                <!-- Autorizacion de los Roles x Gestor Ejecutor  -->

                                                <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                                {% if request.user.pk == drp.gestor_ejecutor_drp.user_pk %}
                                                        <a class="link blink" data-message="Autorizar Declaracion de Objetivo del  DRP ..."
                                                        href="{% url 'Autoriza-DRP' drp.pk 1  %}"><aa>&#128273</aa></a> 
                                                {%else%}
                                                        <a class="link" data-message="En Autorizacion por Jefe de Op.- {{drp.gestor_ejecutor_drp}}">&#128274</a>
                                                {% endif %}

                                        {%elif drp.status_1 == 'r' %}
                                                <!-- Autorizacion de los Roles x Gestor Responsable  -->

                                                <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                                {% if request.user.pk == drp.resp_drp.user_pk %}
                                                        <a class="link blink" data-message="Autorizar Declaracion de Objetivo del  DRP ..."
                                                        href="{% url 'Autoriza-DRP-V' drp.pk 1  %}"><aa>&#128273</aa></a> 
                                                {%else%}
                                                        <a class="link" data-message="En Autorizacion por Responsable DRP.- {{drp.resp_drp}}">&#128274</a>
                                                {% endif %}

                                        {%elif drp.status_1 == 'x' %}
                                        <!-- En Revision por Gestor Consultor  -->

                                        <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                                {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                                        <a class="link blink" data-message="Revisar observaciones a declaracion de Objetivos del DRP"
                                                        href="{% url 'Revisa-Obj-DRP' drp.pk %}"><aa>&#128270</aa></a>
                                                {% else  %}
                                                        <a class="link" data-message="En Revision por Gestor de Continuidad - {{drp.gestor_consultor_drp}}">&#128274</a>
                                                {%endif%}

                                        {%endif%}


                                        {%endif%}
                        </th>
                        <!-- Fin Opciones ------->

                </tr><!--Fin linea -->



        
<!--------------------------------------------------------------------------------------------------------------------------------->


                <!-- 3.- Alcance del DRP -->
                <!-- =================== -->

                <tr>
                <th scope="row"><bb>3.<bb></th>
                <th scope="row"><bb>Alcance ( {{drp.procesos_drp.count}} )</bb></th>

                <!-- Estado ----->
                <!--------------->
                <th scope="row">         
                        {% if drp.status_3 == 'R' %}
                                <bb>Autorizado</bb>

                        {%elif drp.status_3 == 'C' %}
                                <bb>En Definicion</bb>
                        {%elif drp.status_3 == 'a' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_3 == 'r' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_3 == 'x' %}
                        <bb>En Revision</bb>
                        {%endif%}
                </th>
                <!-- Fin Estado -----> 


                <!-- Opciones ------->
                <!-------------------> 
                <th scope="row">


                        <!-- Detalle DRP -->
                        <a href="{% url 'Detalle-DRP' drp.pk  %}"
                        class="link " data-message="Muestra detalle del DRP ..."><bn>&#128065</bn></a>


                        {% if drp.status_2 == "R" %}
                        <!-- Verifica que la Estructura Organizacional del DRP este resuelta -->

                                {% if drp.status_3 == 'R' %}
                                        
                                        <!--Aprobado -->
                                        <a ><aa>&#9989</aa></a>

                                {%elif drp.status_3 == 'C' %}

                                        <!--- Define y Envia Autorizacion de Alcance  -->

                                        <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                        <a class="link blink" data-message="Definir Alcance del DRP ..."
                                                href="{% url 'Alcance-DRP' drp.pk %}"><aa>&#128209</aa></a>


                                                {% if  drp.procesos_drp.count > 0 %}
                                                        &nbsp;<a class="link" data-message="Envia a Autorizar ..."
                                                        href="{% url 'Envia-Aut-DRP' drp.pk 3  %}"><aa>&#128229</aa></a>
                                                {%endif%}
                                        {%endif%}

                                {%elif drp.status_3 == 'a' %}
                                        <!-- Autorizacion de los Roles x Gestor Ejecutor  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.gestor_ejecutor_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Alcance del  DRP ..."
                                                href="{% url 'Autoriza-DRP' drp.pk 3  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Jefe de Op.- {{drp.gestor_ejecutor_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_3 == 'r' %}
                                        <!-- Autorizacion de los Roles x Gestor Responsable  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.resp_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Roles DRP ..."
                                                href="{% url 'Autoriza-DRP-V' drp.pk 3  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Responsable DRP.- {{drp.resp_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_3 == 'x' %}
                                <!-- En Revision por Gestor Consultor  -->

                                <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                                <a class="link blink" data-message="Revisar observaciones al Alcance del DRP"
                                                href="{% url 'Revisa-Alcance-DRP' drp.pk %}"><aa>&#128270</aa></a>
                                        {% else  %}
                                                <a class="link" data-message="En Revision por Gestor de Continuidad - {{drp.gestor_consultor_drp}}">&#128274</a>
                                        {%endif%}

                                {%endif%}

                                

                                {%endif%}
                </th>
                <!-- Fin Opciones ------->

                </tr><!--Fin linea -->



                <!-- 4.- Estrategia de Recuperacion -->
                <!-- ============================== -->


                <tr>
                <th scope="row"><bb>4.<bb></th>
                <th scope="row"><bb>Estrategia de Recuperacion </bb></th>

                <!-- Estado ----->
                <!--------------->
                <th scope="row">         
                        {% if drp.status_4 == 'R' %}
                                <bb>Autorizado</bb>

                        {%elif drp.status_4 == 'C' %}
                                <bb>En Definicion</bb>
                        {%elif drp.status_4 == 'a' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_4 == 'r' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_4 == 'x' %}
                        <bb>En Revision</bb>
                        {%endif%}
                </th>
                <!-- Fin Estado -----> 


                <!-- Opciones ------->
                <!-------------------> 
                <th scope="row">

                        <!-- Detalle DRP -->
                        <a href="{% url 'Detalle-DRP' drp.pk  %}"
                        class="link " data-message="Muestra detalle del DRP ..."><bn>&#128065</bn></a>




                        {% if drp.status_2 == "R" %}
                        <!-- Verifica que la Estructura Organizacional del DRP este resuelta -->

                                {% if drp.status_4 == 'R' %}
                                        
                                        <!--Aprobado -->
                                        <a ><aa>&#9989</aa></a>

                                {%elif drp.status_4 == 'C' %}

                                        <!--- Define y Envia Autorizacion de Alcance  -->

                                        <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                        <a class="link blink" data-message="Definir Estrategia del DRP ..."
                                                href="{% url 'Estrategia-DRP' drp.pk %}"><aa>&#128209</aa></a>

                                                {% if   drp.desc_estrategia != ''  %}
                                                        &nbsp;<a class="link" data-message="Envia a Autorizar ..."
                                                        href="{% url 'Envia-Aut-DRP' drp.pk 4  %}"><aa>&#128229</aa></a>
                                                {%endif%}
                                        {%endif%}

                                {%elif drp.status_4 == 'a' %}
                                        <!-- Autorizacion de los Roles x Gestor Ejecutor  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.gestor_ejecutor_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Estrategia del DRP ..."
                                                href="{% url 'Autoriza-DRP' drp.pk 4  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Jefe de Op.- {{drp.gestor_ejecutor_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_4 == 'r' %}
                                        <!-- Autorizacion de los Roles x Gestor Responsable  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.resp_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Estrategia del DRP ..."
                                                href="{% url 'Autoriza-DRP-V' drp.pk 4  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Responsable DRP.- {{drp.resp_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_4 == 'x' %}
                                <!-- En Revision por Gestor Consultor  -->

                                <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                                <a class="link blink" data-message="Revisar observaciones a Estrategia del DRP"
                                                href="{% url 'Revisa-Estrategia-DRP' drp.pk %}"><aa>&#128270</aa></a>
                                        {% else  %}
                                                <a class="link" data-message="En Revision por Gestor de Continuidad - {{drp.gestor_consultor_drp}}">&#128274</a>
                                        {%endif%}

                                {%endif%}

                                

                                {%endif%}
                </th>
                <!-- Fin Opciones ------->

                </tr><!--Fin linea -->





                <!-- 5.- Especificacion Tecnica -->
                <!-- ========================== -->

                <tr>
                <th scope="row"><bb>5.<bb></th>
                <th scope="row"><bb>Especificacion Tecnica Site de Contingencia </bb></th>

                <!-- Estado ----->
                <!--------------->
                <th scope="row">         
                        {% if drp.status_5 == 'R' %}
                                <bb>Autorizado</bb>

                        {%elif drp.status_5 == 'C' %}
                                <bb>En Definicion</bb>
                        {%elif drp.status_5 == 'a' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_5 == 'r' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_5 == 'x' %}
                        <bb>En Revision</bb>
                        {%endif%}
                </th>
                <!-- Fin Estado -----> 

                
                <!-- Opciones ------->
                <!-------------------> 
                <th scope="row">

                        <!-- Detalle DRP -->
                        <a href="{% url 'Detalle-DRP' drp.pk  %}"
                        class="link " data-message="Muestra detalle del DRP ..."><bn>&#128065</bn></a>


                        {% if drp.status_2 == "R" %}
                        <!-- Verifica que la Estructura Organizacional del DRP este resuelta -->

                                {% if drp.status_5 == 'R' %}
                                        
                                        <!--Aprobado -->
                                        <a ><aa>&#9989</aa></a>

                                {%elif drp.status_5 == 'C' %}

                                        <!--- Define y Envia Autorizacion de Especificacion Tecnica DRP   -->

                                        <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                        <a class="link blink" data-message="Definir la Especificacion Tecnica del DRP ..."
                                                href="{% url 'Asigna-CMP' drp.pk %}"><aa>&#128209</aa></a>

                                                {% if  drp.componentes %}
                                                        &nbsp;<a class="link" data-message="Envia a Autorizar ..."
                                                        href="{% url 'Envia-Aut-DRP' drp.pk 5  %}"><aa>&#128229</aa></a>
                                                {%endif%}
                                        {%endif%}

                                {%elif drp.status_5 == 'a' %}
                                        <!-- Autorizacion de los Roles x Gestor Ejecutor  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.gestor_ejecutor_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Especificacion Tecnica del DRP ..."
                                                href="{% url 'Autoriza-DRP' drp.pk 5  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Jefe de Op.- {{drp.gestor_ejecutor_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_5 == 'r' %}
                                        <!-- Autorizacion de los Roles x Gestor Responsable  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.resp_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Especificacion Tecnica del DRP ..."
                                                href="{% url 'Autoriza-DRP-V' drp.pk 5  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Responsable DRP.- {{drp.resp_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_5 == 'x' %}
                                <!-- En Revision por Gestor Consultor  -->

                                <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                                <a class="link blink" data-message="Revisar observaciones a Especificacion Tecnica ..."
                                                href="{% url 'Revisa-Especif_Tec-DRP' drp.pk %}"><aa>&#128270</aa></a>
                                        {% else  %}
                                                <a class="link" data-message="En Revision por Gestor de Continuidad - {{drp.gestor_consultor_drp}}">&#128274</a>
                                        {%endif%}

                                {%endif%}

                                

                                {%endif%}
                </th>
                <!-- Fin Opciones ------->

                </tr><!--Fin linea -->



                <!-- 6.- Servicios Criticos -->
                <!-- ====================== -->


                <tr>
                <th scope="row"><bb>6.<bb></th>
                <th scope="row"><bb>Servicios criticos </bb></th>

                
                <!-- Estado ----->
                <!--------------->
                <th scope="row">         
                        {% if drp.status_6 == 'R' %}
                                <bb>Autorizado</bb>

                        {%elif drp.status_6 == 'C' %}
                                <bb>En Definicion</bb>
                        {%elif drp.status_6 == 'a' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_6 == 'r' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_6 == 'x' %}
                        <bb>En Revision</bb>
                        {%endif%}
                </th>
                <!-- Fin Estado -----> 

                <!-- Opciones ------->
                <!-------------------> 
                <th scope="row">

                        <!-- Detalle DRP -->
                        <a href="{% url 'Detalle-DRP' drp.pk  %}"
                        class="link " data-message="Muestra detalle del DRP ..."><bn>&#128065</bn></a>


                        {% if drp.status_2 == "R" %}
                        <!-- Verifica que la Estructura Organizacional del DRP este resuelta -->

                                {% if drp.status_6 == 'R' %}
                                        
                                        <!--Aprobado -->
                                        <a ><aa>&#9989</aa></a>

                                {%elif drp.status_6 == 'C' %}

                                        <!--- Define y Envia Autorizacion de Servicios Criticos del  DRP   -->

                                        <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                        <a class="link blink" data-message="Definir Servicios Criticos del DRP ..."
                                                href="{% url 'Lista-SC' drp.pk %}"><aa>&#128209</aa></a>

                                                {% if  drp.servicios_drp  %}
                                                        &nbsp;<a class="link" data-message="Envia a Autorizar ..."
                                                        href="{% url 'Envia-Aut-DRP' drp.pk 6  %}"><aa>&#128229</aa></a>
                                                {%endif%}
                                        {%endif%}

                                {%elif drp.status_6 == 'a' %}
                                        <!-- Autorizacion de los Roles x Gestor Ejecutor  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.gestor_ejecutor_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Servicios Criticos del DRP ..."
                                                href="{% url 'Autoriza-DRP' drp.pk 6  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Jefe de Op.- {{drp.gestor_ejecutor_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_6 == 'r' %}
                                        <!-- Autorizacion de los Roles x Gestor Responsable  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.resp_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Servicios Criticos del DRP ..."
                                                href="{% url 'Autoriza-DRP-V' drp.pk 6  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Responsable DRP.- {{drp.resp_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_6 == 'x' %}
                                <!-- En Revision por Gestor Consultor  -->

                                <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                                <a class="link blink" data-message="Revisar observaciones a Servicios Criticos del  DRP ..."
                                                href="{% url 'Revisa-SC-DRP' drp.pk %}"><aa>&#128270</aa></a>
                                        {% else  %}
                                                <a class="link" data-message="En Revision por Gestor de Continuidad - {{drp.gestor_consultor_drp}}">&#128274</a>
                                        {%endif%}

                                {%endif%}

                                

                                {%endif%}
                </th>
                <!-- Fin Opciones ------->

                </tr><!--Fin linea -->




                
                <!-- 7.- Procedimiento de Recuperacion -->
                <!-- ================================= -->


                <tr>
                <th scope="row"><bb>7.<bb></th>
                <th scope="row"><bb>Procedimiento de Recuperacion</bb></th>



                <!-- Estado ----->
                <!--------------->
                <th scope="row">         
                        {% if drp.status_7 == 'R' %}
                                <bb>Autorizado</bb>

                        {%elif drp.status_7 == 'C' %}
                                <bb>En Definicion</bb>
                        {%elif drp.status_7 == 'a' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_7 == 'r' %}
                                <bb>En Autorizacion</bb>
                        {%elif drp.status_7 == 'x' %}
                        <bb>En Revision</bb>
                        {%endif%}
                </th>
                <!-- Fin Estado -----> 

                <!-- Opciones ------->
                <!-------------------> 
                <th scope="row">

                        <!-- Detalle DRP -->
                        <a href="{% url 'Detalle-DRP' drp.pk  %}"
                        class="link " data-message="Muestra detalle del DRP ..."><bn>&#128065</bn></a>


                        {% if drp.status_2 == "R" %}
                        <!-- Verifica que la Estructura Organizacional del DRP este resuelta -->

                                {% if drp.status_7 == 'R' %}
                                        
                                        <!--Aprobado -->
                                        <a ><aa>&#9989</aa></a>

                                {%elif drp.status_7 == 'C' %}

                                        <!--- Define y Envia Autorizacion de Procedimiento de Recuperacion  del  DRP   -->

                                        <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                        <a class="link blink" data-message="Definir Procedimiento de Recuperacion ..."
                                                href="{% url 'Lista-SC' drp.pk %}"><aa>&#128209</aa></a>

                                                {% if  drp.pasos_drp != None %}
                                                        &nbsp;<a class="link" data-message="Envia a Autorizar ..."
                                                        href="{% url 'Envia-Aut-DRP' drp.pk 7  %}"><aa>&#128229</aa></a>
                                                {%endif%}
                                        {%endif%}

                                {%elif drp.status_7 == 'a' %}
                                        <!-- Autorizacion de los Roles x Gestor Ejecutor  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.gestor_ejecutor_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Procedimiento de Recuperacion ..."
                                                href="{% url 'Autoriza-DRP' drp.pk 7  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Jefe de Op.- {{drp.gestor_ejecutor_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_7 == 'r' %}
                                        <!-- Autorizacion de los Roles x Gestor Responsable  -->

                                        <!--Verifica si el usuario de sesion es el Gestor Responsable -->
                                        {% if request.user.pk == drp.resp_drp.user_pk %}
                                                <a class="link blink" data-message="Autorizar Procedimiento de Recuperacion ..."
                                                href="{% url 'Autoriza-DRP-V' drp.pk 7  %}"><aa>&#128273</aa></a> 
                                        {%else%}
                                                <a class="link" data-message="En Autorizacion por Responsable DRP.- {{drp.resp_drp}}">&#128274</a>
                                        {% endif %}

                                {%elif drp.status_7 == 'x' %}
                                <!-- En Revision por Gestor Consultor  -->

                                <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                        {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                                <a class="link blink" data-message="Revisar observaciones al Procedimiento de Recuperacion ..."
                                                href="{% url 'En-Construccion' %}"><aa>&#128270</aa></a>
                                        {% else  %}
                                                <a class="link" data-message="En Revision por Gestor de Continuidad - {{drp.gestor_consultor_drp}}">&#128274</a>
                                        {%endif%}

                                {%endif%}

                                

                                {%endif%}
                </th>
                <!-- Fin Opciones ------->

                </tr><!--Fin linea -->




                <!-- Anexo A.- Nomina de Contactos  -->
                <!-- ============================== -->


                <tr>
                <th scope="row"><bb>Anexo-A<bb></th>
                <th scope="row"><bb>Nomina de Contactos</bb></th>



                        {% if drp.status_A == 'C' %}
                                <th scope="row"><bb>En Definicion</bb></th>
                                <th scope="row">
                                <!-- Verifica si el usuario sesion es el Gestor Consultor -->
                                {% if request.user.pk == drp.gestor_consultor_drp.user_pk %}
                                        <a href="{% url 'Lista-Contactos-DRP' drp.pk %}"><aa>&#128209</aa></a>
                                {% if drp.resp_drp and drp.status_2 == 'A'  %}
                                        &nbsp;<a href="{% url 'Envia-Aut-DRP' drp.pk 8  %}"><aa>&#128229</aa></a>
                                {%endif%}
                                {%endif%}
                                </th>
                        {%elif drp.status_A == 'a' %}
                                <th scope="row"><bb>En Autorizacion</bb></th>
                                <th scope="row">
                                <!--Verifica si el usuario de sesion es el gestor responsable -->
                                {% if request.user.pk == drp.resp_drp.user_pk %}
                                        <a ><aa>&#128273</aa></a> 
                                {%else%}
                                        <a ><aa>&#128274</aa></a>
                                {% endif %}
                                </th>
                        
                        {%endif%}
                 
                        </tr>


        </tbody>

</table>
<br/>
<a href="{% url 'Lista-DRP' %}"><span style='font-size:30px;'>&#128281</span></a>
<br/>


<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
        <!-- Caja de Comentario -->

        <div id="comment-box" class="hidden" style="font-size: 13px;">
                <p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
                <h5><strong>Comentario de Revision:</strong></h5>
                <textarea id="comment-text" rows="5" cols="30"></textarea>
                <button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
                <button id="close-comment">Cerrar</button>
        </div>
        
        <!-- Globo de cómic -->
        <div id="comicBalloon"></div>

        <!-- Contenedor del cuadro de confirmación de Eliminacion  -->
        <div id="confirmation-dialog" class="hidden">
                <div class="dialog-content">
                        <p id="confirmation-message"></p>
                        <button id="confirm-yes">Sí</button>
                        <button id="confirm-no">No</button>
                </div>
        </div>
        

<!--------- Fin CSS para Scripts ------------------------->
{% endblock %}



<!--- Script ad-hoc --------------------------->
{% block extra_js %}
<script>
    // 🚫 Evita volver al formulario anterior desde cualquier navegador
        console.log('Entra a inhibicion de vuelta atras...')
    // 1️⃣ Detecta Back-Forward Cache y fuerza recarga
    window.addEventListener("pageshow", function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });

    // 2️⃣ Evita retroceso con flecha atrás
    window.history.pushState(null, "", window.location.href);
    window.addEventListener("popstate", function() {
        window.location.replace(window.location.href);
    });

    // 3️⃣ Extra: detecta back/forward tradicional y recarga
    if (performance && performance.navigation && performance.navigation.type === 2) {
        window.location.reload(true);
    }
</script>
{% endblock %}

