<!Programa en HTML>
<!Despliega lista los Servicios Criticos para el DRP>
<!Programado por Marco A. Villalobos Michelson>
<!==============================================>

{% extends "base_generic.html" %}

 
{% block content %}

{% block encabezado_auth %}
	 <ul class="encabezado_A">
        <p><aa><strong>FORMULARIO DE DECLARACION DE SERVICIOS CRITICOS DEL DRP</aa></strong></p>
	 </ul>
	 <ul class="encabezado_SB">
	 <p><aa><strong>{{drp.codigo}}&nbsp;/&nbsp;{{drp.nombre}}</strong></aa></p>
	 </ul>
	{% endblock %}


	<ul class="scr4">	

		<p>Especificar todos aquellos <strong>Servicios Criticos</strong> requeridos para aplicar el DRP. Tambien indicar 
		el Ejecutivo del Proveedor encargado y un contacto de respaldo en caso de no estar disponible.</p>
		<br/>
		<table class="lta">
		   <thead class="">
		   <tr>
			<th scope="col" style="width: 400px;">Nombre Servicio</th>
			<th scope="col" style="width: 50%;">Objetivo</th>
			<th scope="col" style="width: 300px;">Contacto</th>
			<th scope="col" style="width: 300px;">Respaldo</th>
			
								<!-- 'crea-P5-DRP' drp.pk 'crea' -->
			<th scope="col" style="width: 200px;"><a href="{% url 'crea-P5-DRP' drp.pk  %}?next={{ request.get_full_path|urlencode  }}"><strong><am style="font-size: 15px;">&#10010</am></strong></a></th>
			
		   </tr>
		   </thead>

		   <body>
			{% if lista_sc %}

		    	{%for sc in lista_sc.all  %}
		    	<tr>
				<th scope="row">{{sc.nombre}}</th>
				<th scope="row">{{sc.objetivo}}</th>
				<th scope="row">{{sc.contacto}}</th>
				<th scope="row">{{sc.contacto_bck}}</th>
							<!--'borra-P5-DRP' sc.pk  'crea'-->
				<th scope="row" style="width: 80px; text-align: center;">
					<a href="{% url 'mod-P5-DRP' sc.pk %}?next={{ request.get_full_path|urlencode  }}"
					class="link"  data-message="Modifica Servicio Critico">
					<aa>&#128393</aa></a>

					<a href="{% url 'borra-P5-DRP' sc.pk %}?next={{ request.get_full_path|urlencode  }}"
					class="link confirm-link" con-message="*** Confirma Eliminacion ? ***" data-message="Elimina Servicio Critico">
					<rr>&#128465</rr></a>
				
				</th>

				</tr>
       		        {% if not forloop.last %}
        	        {%endif%}
      		    {%endfor%}
		   
			{%else%}
				  <p> No hay Componentes definidos</p>
		  	{%endif%}

		   	<tbody>
			
		</table>
		<br/>
		<br/>
		<a href="{{ drp.get_absolute_url }}"><span style='font-size:30px;'>&#128281</span></a>
	</ul>



{%block pie%}
	<br/>
	<ul class="encabezado_A">

	</ul>
{% endblock %}

	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->

<br/>
<aa style="font-size: 8px;">[lista_sc]</aa>
{% endblock %}
