<!Programa en HTML>
<!Despliega lista de DRPs definidos>
<!Programado por Marco A. Villalobos Michelson>
<!==============================================>

{% extends "base_generic.html" %}


{% block content %}

{% block encabezado2 %}
	<ul class="encabezado_B">
        <strong>P L A N E S&emsp;&emsp;D E&emsp;&emsp; R E C U P E R A C I O N&emsp;&emsp;D E L&emsp;&emsp;P R O C E S A M I E N T O&emsp;&emsp;D E&emsp;&emsp;D A T O S&emsp;&emsp;( D R P )</strong>
	</ul>
{% endblock %}

	<ul class="scr">
		<br/>	

		<table class="lta">
		   <thead class="encabezado_A">
		   <tr>
			<th scope="col">Codigo</th>
			<th scope="col">Nombre</th>
			<th scope="col">Estado</th>
			<th scope="col">DRP</th>
			<th scope="col"><a href="{% url 'Crea-DRP' %}"><strong><am>&#10010</am></strong></a></th>
			
			
		   </tr>
		   </thead>

		   <body>
			{% if lista_drp %}

		    	{%for drp in lista_drp.all  %}
		    	<tr>
				<th scope="row"><bb>{{drp.codigo}}<bb></th>
				<th scope="row"><bb>{{drp.nombre}}<bb></th>
				<th scope="row"><bb>{{drp.status_t}}<bb></th>
				<th scope="row"><a href="{% url 'En-Construccion' %}">
				<img class="link" src="/static/img/drp.webp" width="20" height="20"
					data-message="DRP vigente...">
				</a></th>

				<!-- Opciones -->
				<th scope="row">
					<!-- Definicion/Actualizacion DRP -->
					<a href="{% url 'Indice-DRP' drp.pk %}"
					class="link " data-message="DRP en Desarrollo / Actualizacion ...">&#128213</a>

					<!-- Borra DRP (Si no existen definiciones )-->
					{% if not drp.status_t %}
						<a href="{% url 'Borra-DRP' drp.pk %}"
					class="link " data-message="Borra DRP ..."><rr>&#128465</rr></a>
					{%else%}
						<rr>..</rr>
					{%endif%}
					
				</th>
				<!-- Fin Opciones -->
		    	</tr>
       		        {% if not forloop.last %}
        	        {%endif%}
      		    {%endfor%}
		   
			{%else%}
				  <p> No hay DRPs definidos</p>
		  	{%endif%}

		   	<tbody>
			
		</table>

		<!-- Creacion de Componente en la BD-->
		<a href="{% url 'Lista-CMP' 0  0  %}"
		class="link " data-message="Administra la BD de Componentes ..."><sa><strong>&#10010 </sa></strong></a>: Base de Componentes. 			<!-- Fin Creacion de Componente en la BD-->
	<br/><br/>

		    
	</ul>



{%block pie%}
	<br/>
	<ul class="encabezado_SB">
	
	<strong><p><am>&#10010</am>:<tm>Crear DRP&emsp;</tm></strong> 
	<strong>&#128065 :<tm>Consultar &emsp;</tm></strong>
	<strong><rr>&#128465</rr> :<tm>Borrar &emsp;</tm></strong>
	<strong>&#128270 :<tm>Revisar Obs. &emsp;</tm></strong> 
	<strong>&#128273 :<tm>Autorizar &emsp;</tm></strong>
	<strong>&#128274 :<tm>En autorizacion &emsp;</tm></strong>
	
	<strong>&#9989 :<tm>Aprobado</tm></strong>
	</ul>
{% endblock %}


	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->

<!--- Despliega el nombre del programa -->
<p style="font-size: 8px; color:green">lista_drp</p>


{% endblock %}
