<!Programa en HTML>
<!Despliega lista Pasos del Procedimiento del DRP>
<!Programado por Marco A. Villalobos Michelson>
<!==============================================>

{% extends "base_generic.html" %}


{% block content %}

{% block encabezado_auth %}
	 <ul class="encabezado_A">
        <p><aa><strong>FORMULARIO DE DECLARACION DEL PROCEDIMIENTO DE OPERACION  DEL DRP</aa></strong></p>
	 </ul>
	 <ul class="encabezado_SB">
	 <p><aa><strong>{{drp.codigo}}&nbsp;/&nbsp;{{drp.nombre}}</strong></aa></p>
	 </ul>
	{% endblock %}


	<ul class="scr4">	

		<p>Especificar todos los <strong>Pasos del Procedimiento </strong> requeridos para levantar el Site alternativo de Procesamiento 
		 de Datos.</p>
		<br/>
		<table class="lta">
		   <thead class="encabezado_E">
		   <tr>
			<th scope="col">Nro.</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Ejecutor</th>
			<th scope="col">Tiempo Estimado</th>
			
			<th scope="col"><a href="{% url 'crea-P7-DRP' drp.pk  %}"><strong><am>&#10010</am></strong></a></th>
			
			
		   </tr>
		   </thead>

		   <body>
			{% if lista_pasos %}

		    	{%for pas in lista_pasos.all  %}
		    	<tr>
				<th scope="row"><bb>{{pas.nro_paso}}<bb></th>
				<th scope="row"><bb>{{pas.descripcion}}<bb></th>
				<th scope="row"><bb>{{pas.ejecutor}}<bb></th>
				<th scope="row"><bb>{{pas.tiempo_esp}}<bb></th>
				<th scope="row"><a href="{% url 'borra-P7-DRP' pas.pk  %}"><rr>&#128465</rr></a></th>

				</tr>
       		        {% if not forloop.last %}
        	        {%endif%}
      		    {%endfor%}
		   
			{%else%}
				  <p> No hay Componentes definidos</p>
		  	{%endif%}

		   	<tbody>
			
		</table>
		<br/>
		<br/>
		<a href="{{ drp.get_absolute_url }}"><span style='font-size:30px;'>&#128281</span></a>
	</ul>



{%block pie%}
	<br/>
	<ul class="encabezado_A">
	
	<strong><p><am>&#10010</am>&nbsp;:<tm>Crea Paso de Procedimiento</tm></strong>&emsp;&emsp; 
	<strong><rr>&#128465</rr> &nbsp;:<tm>Borra Servicio Critico</tm></strong> 
	
	</ul>
{% endblock %}


{% endblock %}
