<!Programa en HTML>
<!Despliega lista los Componentes de Configuracion del DRP>
<!Programado por Marco A. Villalobos Michelson>
<!==============================================>

{% extends "base_generic.html" %}


{% block content %}

{% block encabezado_auth %}
	 <ul class="encabezado_A">
        <p><aa><strong>FORMULARIO DE DECLARACION DE LINEA BASE DE CONFIGURACION DEL COMPONENTE </aa></strong></p>
	 </ul>
	 <ul class="encabezado_SB">
		<p><aa><strong>{{comp.codigo}}&nbsp;/&nbsp;{{comp.nombre}}&nbsp;/&nbsp;{{comp.descripcion}}</strong></aa></p>
	 </ul>
	{% endblock %}

	<ul class="scr4">
		
		<p>Especificar los Parametros de Configuracion, su descripcion u objetivo, el metodo mediante el cual se hace la 
			definicion (p.e. mediante la ejecucion de un comando, la edicion de un archivo, etc.) y el valor que debe 
			tener asignado el parametro para la correcta operacion del Componente de Configuracion asociado	</p>
			<br/>

		<table class="lta">
			<thead class="encabezado_N">
		   <tr>
			<th scope="col">Codigo</th>
			<th scope="col">Nombre Parametro</th>
			<th scope="col">Descripcion/Objetivo</th>
			<th scope="col">Metodo de Acceso</th>
			<th scope="col">Valor Parametro</th>
			<th scope="col"><a href="{% url 'Crea-LBC' comp.pk drp.pk  %}"><strong><am>&#10010</am></strong></a></th>
	
			
		   </tr>
		   </thead>

		   <body>
			{% if lista_lbc %}

		    	{%for lbc in lista_lbc.all  %}
		    	<tr>
				<th scope="row"><bb>{{lbc.codigo}}<bb></th>
				<th scope="row"><bb>{{lbc.nombre}}<bb></th>
				<th scope="row"><bb>{{lbc.descripcion}}<bb></th>
				<th scope="row"><bb>{{lbc.metodo_acceso}}<bb></th>
				<th scope="row"><bb>{{lbc.valor}}<bb></th>
				<th scope="row">
					<a href="{% url 'Borra-LBC' lbc.pk %}"
					class="link confirm-link"
					con-message="* * *  Confirma Eliminación de la Configuracion ? * * *"
					data-message="Elimina Configuracion"
					style="margin-left: 8px;">
					<strong><rr style="font-size: 15px;">&#128465;</rr></strong>
					</a>
				</th>
		    	</tr>
       		        {% if not forloop.last %}
        	        {%endif%}
      		    {%endfor%}
		   
			{%else%}
				  <p> No hay LsBC definidos</p>
		  	{%endif%}

		   	<tbody>
			
		</table>
		<br/>	
		<a href="{{ drp.get_absolute_url }}"><span style='font-size:30px;'>&#128281</span></a>	    

	</ul>



{%block pie%}
	<br/>
	<ul class="encabezado_A">
	
	<strong><p><am>&#10010</am>&nbsp;:<tm>Definir Parametro</tm></strong>&emsp;&emsp; 
	<strong><rr>&#128465</rr>&nbsp; :<tm>Borrar &emsp;&emsp;</tm></strong>
	 
	
	</ul>
{% endblock %}

<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
	<!-- Caja de Comentario -->

	<div id="comment-box" class="hidden" style="font-size: 13px;">
		<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
		<h5><strong>Comentario de Revision:</strong></h5>
		<textarea id="comment-text" rows="5" cols="30"></textarea>
		<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
		<button id="close-comment">Cerrar</button>
	</div>
	
	<!-- Globo de cómic -->
	<div id="comicBalloon"></div>

	<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
	<div id="confirmation-dialog" class="hidden">
		<div class="dialog-content">
			<p id="confirmation-message"></p>
			<button id="confirm-yes">Sí</button>
			<button id="confirm-no">No</button>
		</div>
	</div>
	

<!--------- Fin CSS para Scripts ------------------------->

{% endblock %}
