<! Programa HTML>
<! Autorizacion de la asignacion de Activos/Recursos al Proceso>
<!Programado por Marco A. Villalobos M>
<!============================================>

{% extends "base_generic.html" %}

{% block content %}


	{% block encabezado_auth %}
	 <ul class="encabezado_B">
        <p><aa><strong>FORMULARIO DE DECLARACION DE OBJETIVOS DEL DRP</aa></strong></p>
	 </ul>
	 <ul class="encabezado_SB">
		<p><aa><strong>{{drp.codigo}}&nbsp;/&nbsp;{{drp.nombre}}</strong></aa></p>
	 </ul>
	{% endblock %}


		{%block C%}
		<form action="" method="post">
        {% csrf_token %}
        		
        <p><strong>Objetivos del DRP</strong>:&emsp;{{ form.objetivo }} 
			
        <input type="submit" value="Registrar" />
		<a href="{{ request.META.HTTP_REFERER }}"><span style='font-size:30px;'>&#128281</span></a>
	    </form>
		
		{%endblock%}
		</ul>

	

{% endblock %}

