<!Programa HTML>
<!Lista los Checklist de Ejecucion de Casos de Prueba de un Procedimiento Vigente>
<!Programado por Marco A. Villalobos M>
<!===============================================>

{%extends "base_generic.html"%}
{% load static %}


{% block content %}
<!----------------- ENCABEZADOS ------------------>
<ul class="encabezado_B">
	<p><strong>PRUEBA DE PROCEDIMIENTO DE CONTINGENCIA</strong></p>
</ul>

	<table class="lta" style="width: 100%; border-collapse: collapse;">

      <!-- Encabezado superior -->
		<!-- Encabezado de columnas -->
		<thead class="encabezado_N" style="background: rgb(65, 1, 1);">
			<tr style="background-color: green; border-bottom: 1px solid #ccc;">
				<th scope="col">INCIDENTE</th>
				<th scope="col">PROCEDIMIENTO</th>
				<th scope="col">ESCENARIO RIESGO</th>
				<th scope="col">ESTRATEGIA</th>
			</tr>
		</thead>

      <tbody style="border-top: none;">

            <tr style="border-bottom: 1px solid #ccc;">
				<td><strong>{{checklist.incidente.codigo}}:</strong>{{checklist.incidente.descripcion}}</td>
				<td>{{proc.nombre }}</td>
				<td>{{proc.escenarios}}</td>
				<td>{{proc.estrategia}}</td>
            </tr>

      </tbody>
    </table>

	
<!---- Prueba Asociada ----------->
<br/>
	<table class="ita" style="width: 100%; border-collapse: collapse;
	padding: 0px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.1rem;">
      <!-- Encabezado superior -->
		<!-- Encabezado de columnas -->
		 
		<thead class="encabezado_N" style="color:white ">
			
			<tr style="background-color: green; border-bottom: 1px solid #ccc;">
					<!--------- Columna Plan de Prueba  -->
					<th scope="col" style="width: 50px; background-color:RED;" >Codigo</th>
					<th scope="col" style="width: 100px; background-color:RED;">Objetivo</th>
					<th scope="col" style="width: 200px; background-color:RED;">Alcance</th>
					<!--------- Columna Resultados de Prueba -->
					<th scope="col" style="width: 30px;">Nro.</th>
					<th scope="col" style="width: 100px;">Fecha</th>
					<th scope="col">Resultados</th>
					<th scope="col">Incidentes</th>
					<th scope="col">Conclusion</th>
				</div>
				</div>

			</tr>
		</thead>

      <tbody style="border-top: none;">

		<tr style="border-bottom: 1px solid #ccc;">
				<!--- Datos de la Prueba Planificada vigente ----->
				<td>{{ejec.prueba.codigo}}</td>
				<td>{{ejec.prueba.objetivo}}</td>
				<td>{{ejec.prueba.alcance}}</td>
			<!------ Datos de la Prueba ---------->
				<td>{{ejec.nro_ejecucion}}</td>
				<td>{{ejec.fecha_creacion}}</td>
				<td>
					{%if ejec.resultados_obtenidos%}
						{{ejec.resultados_obtenidos}}
					{%else%}
						Pendiente...
					{%endif%}
				</td>
				<td>
					{%if ejec.incidentes%}
						{{ejec.incidentes}}
					{%else%}
						Pendiente...
					{%endif%}
				</td>
				<td>
					{%if ejec.evaluacion_final %}
						{{ejec.evaluacion_final}}
					{%else%}
						Pendiente...
					{%endif%}
				</td>
		
		</tr>
	</tbody>
    </table>

<!---- Fin Prueba Asociada ----------->

<!----------------- FIN  ENCABEZADOS ------------------>
<br/><br/><br/>
<!--- Mensaje seccion 1 - Lista de Casos ----------------->
	<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
	<h5 class="alert-heading"><strong>Seccion 1 - Casos de Prueba</strong></h5>
	<p> En esta seccion debe desarrollar los casos de prueba planificados.</p>
	</div>

<!--- Mensaje seccion 1 - Lista de Casos ----------------->


<!---------------- LISTADO DE CASOS DE PRUEBAS -------------------------------------->
	<ul class="scr4 BarraScroll" style="height: 250px;">
	
    <table class="ita" style="width: 100%;">

      <!-- Encabezado superior -->
		<!-- Encabezado de columnas -->
		 
		<thead class="encabezado_N" style="color:white ">
			
			<tr style="background-color: green; border-bottom: 1px solid #ccc;">
					<!--------- Columna Casos del Plan de Prueba  -->
					<th scope="col" style="width: 50px; background-color:RED;" >Codigo</th>
					<th scope="col" style="width: 100px; background-color:RED;">Descripcion</th>
					<th scope="col" style="width: 200px; background-color:RED;">Resultado Esperado</th>
					<th scope="col" style="width: 20px; background-color:RED;">Prioridad</th>
					<!--------- Columna Resultados Casos de Prueba -->
					<th scope="col" style="width: 20px; text-align: center; text-align: center;">Evaluacion</th>
					<th scope="col">Observaciones</th>
					<th scope="col" style="width: 20px; text-align: center;">Evidencia</th>
					<th scope="col" style="width: 20px; text-align: center;">Detalle</th>
			</tr>
		</thead>

      <tbody style="border-top: none;">

        {% if lista_ejec_casos %}
          {% for ejec in lista_ejec_casos %}
            <tr style="border-bottom: 1px solid #ccc;">
					<!--- Datos de la Prueba Planificada vigente ----->
					<td>{{ejec.caso.codigo}}</td>
					<td>{{ejec.caso.descripcion}}</td>
					<td>{{ejec.caso.resultado_esperado}}</td>
					<td>
					<strong>
						{%if ejec.caso.prioridad == 'Baja' %}
							<p class="" style="color:green"> {{ejec.caso.prioridad}}</p>
						{%elif ejec.caso.prioridad == 'Alta' %}
							<p class="blink" style="color: red"> {{ejec.caso.prioridad}}</p>
						{%else%}
							<p class="" style="color: rgb(240, 221, 77)"> {{ejec.caso.prioridad}}</p>
						{%endif%}
					</strong>
					</td>
				<!------ Datos de la Prueba ---------->
					<td>
					<strong>
						{%if ejec.resultado == 'Exitosa' %}
							<p class="" style="color:green"> {{ejec.resultado}}</p>
						{%elif ejec.resultado == 'Fallida' %}
							<p class="blink" style="color: red"> {{ejec.resultado}}</p>
						{%else%}
							<p class="" style="color: rgb(240, 221, 77)"> {{ejec.resultado}}</p>
						{%endif%}
					</strong>
					</td>
					<td>{{ejec.observaciones}}</td>
					<td>
						{% if ejec.evidencia %}
							<a href="{{ ejec.evidencia.url }}" target="_blank">
								<img src="/static/img/Comentario_1.png" width="25" height="25">
							</a>
						{% else %}
							Sin evidencia
						{% endif %}
					</td>
					
				<td><!------------ Checklist de Ejecucion de Pruebas  ----------------->
					<a class="link blink" data-message="Revisar Evaluacion y Autorizar u Observar ..." 
					href="{% url 'Ejec-Caso'   ejec.pk  %}">
					<img src="/static/img/Evaluacion.jpg" width="25" height="25"></img>
					</a>
				</td>
				</div>
           </tr>
          {%endfor%}
        {%else%}
            Sin Pruebas definidas ....
        {%endif%}

      </tbody>
    </table>
</ul>
		
<!---------------- FIN LISTADO DE CASOS DE PRUEBAS -------------------------------------->

<br/><br/>
<!--- Mensaje seccion 2 - Conclusion General de la Prueba ----------------->
	<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
	<h5 class="alert-heading"><strong>Seccion 2 - Conclusion</strong></h5>
	<p> En esta seccion debe concluir respecto de la evaluacion final de la prueba 
		<strong>{{ejec.prueba.codigo}}</strong> correspondiente al Procedimiento 
		<strong>{{proc.nombre}}</strong>
		en base a los resultados obtenidos de la ejecucion de los Casos de Prueba.</p>
	</div>
<!--- Mensaje seccion 1 - Lista de Casos ----------------->

<!---  INGRESO DE DATOS DE CONCLUSION DE LA PRUEBA  ----------------->
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

	<!------ Linea 1 de Conclusion -------->
	<div class="flex-container">
		
		<div class="flex-item">
		<!--------  Columna 1 ----------------->
			
			<!--- Registro Resultados Obtenidos ----------------->
			<br/>
			<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
			<h5 class="alert-heading"><strong>2.1 Descripcion de la Ejecucion</strong></h5>
			<p> Describa cómo se ejecutó la prueba en terminos de su aplicacion y diseño (actividades, contexto, observaciones relevantes).</p>
			{{form.descripcion_ejecucion}}
			</div>



		</div><!-----  Fin Columna 1 ----------------->
		<!-------------------------------------------->
		
		<div class="flex-item">
		<!--------  Columna 2 ----------------->

			<!--- Registro de Incidentes ----------------->
			<br/>
			<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
			<h5 class="alert-heading"><strong>2.2 Incidentes de la Ejecucion</strong></h5>
			<p> En caso de haberlos, describa los incidentes ocurridos durante la ejecucion de la prueba en 
				terminos contexto.(actividades, contexto, observaciones relevantes).</p>
			{{form.incidentes}}
			</div>
			
		</div> <!-------- Fin Columna 2 ----------------->

	</div><!------ Fin Linea 1 de Conclusion -------->



	<!------ Linea 2 de Conclusion -------->
	<div class="flex-container">
		
		<div class="flex-item">
		<!--------  Columna 1 ----------------->
			
		<!--- Registro Resultados Obtenidos ----------------->
		<br/>
		<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
		<h5 class="alert-heading"><strong>2.3 Resultados Obtenidos</strong></h5>
		<p> Describa todos aquellos eventos relevantes observados en los resultados de la 
			aplicacion de la prueba. Considerar los <strong>resultados esperados</strong>
		del (os) casos definidos versus sus <strong>evaluaciones</strong> y  <strong>observaciones</strong></p>
		{{form.resultados_obtenidos}}
		</div>


		</div><!-----  Fin Columna 1 ----------------->
		<!-------------------------------------------->
		
		<div class="flex-item" style="width: 100%;">
		<!--------  Columna 2 ----------------->
			<!--- Registro Resultados Obtenidos ----------------->
			<br/>
			<!--- Registro Evaluacion Final ----------------->
			<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
			<h5 class="alert-heading"><strong>2.4 Evaluacion Final</strong></h5>
			<p> Evalue en general el resultado de la Prueba: </p>
			
			<ul class="scr4" style="font-size: 0.9rem;">
			<p> <strong>Exitosa:</strong> El  100% de los casos son calificados como <strong>Exitosos</strong>.</p>
			<p> <strong>Parcial:</strong> Todos los casos de <strong>prioridad Alta</strong> son calificados <strong>Exitosos</strong>
				pero hay algunos de menor prioridad calificados como <strong>Fallidos</strong>. </p>
			<p> <strong>Fallida:</strong> Una o mas de los casos de <strong>prioridad Alta</strong> son calificados <strong>Fallidos</strong></p>
			<p> <strong>En Ejecucion:</strong> Uno o mas de los casos de <strong>prioridad Alta</strong> son calificados <strong>En Proceso</strong></p>
			</ul>
			<br/>
			{{form.evaluacion_final}}
			</div>
 			
		</div> <!-------- Fin Columna 2 ----------------->


	</div><!------ Fin Linea 2 de Conclusion -------->


	<!------ Linea 3 de Conclusion -------->
	<div class="flex-container">
		
		<div class="flex-item" style="width: 100%;">
		<!--------  Columna 1 ----------------->
			
		<!--- Registro Lecciones Aprendidas ----------------->
		<br/>
		<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
		<h5 class="alert-heading"><strong>2.5 Lecciones Aprendidas</strong></h5>
		<p> Lecciones aprendidas, oportunidades de mejora o recomendaciones</p>
		{{form.lecciones_aprendidas}}
		</div>

		</div><!-----  Fin Columna 1 ----------------->
		<!-------------------------------------------->
		
		<div class="flex-item">
		<!--------  Columna 2 ----------------->
		<!--- Registro Datos Adjuntos ----------------->
		<br/>
		<div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
		<h5 class="alert-heading"><strong>2.6 Evidencia General</strong></h5>
		<p> En caso de ser necesario, adjunte archivo con evidencias general. Para <strong>eliminar</strong> evidencia marca la casilla <strong>Clear</strong> </p>
		<p>Para <strong>cambiar</strong> el actual archivo seleccionado señalado en <strong>Currently</strong>, solo selecciones otro en <strong>Change</strong>.</p>
		<ul class="scr4"  style="color: white;  background-color: green;">
			{{form.evidencia_general}}</ul>
		</div>
 			
		</div> <!-------- Fin Columna 2 ----------------->


	</div><!------ Fin Linea 3 de Conclusion -------->

<!----- Botones de Salida ------------------------------------------->
	<button class="button btn-primary mt-3" type="submit">Graba ...</button>

	</form>



<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
	<!-- Caja de Comentario -->

	<div id="comment-box" class="hidden" style="font-size: 13px;">
		<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
		<h5><strong>Comentario de Revision:</strong></h5>
		<textarea id="comment-text" rows="5" cols="30"></textarea>
		<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
		<button id="close-comment">Cerrar</button>
	</div>
	
	<!-- Globo de cómic -->
	<div id="comicBalloon"></div>

	<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
	<div id="confirmation-dialog" class="hidden">
		<div class="dialog-content">
			<p id="confirmation-message"></p>
			<button id="confirm-yes">Sí</button>
			<button id="confirm-no">No</button>
		</div>
	</div>

<br/>
<aa style="font-size: 8px;">[ejec_casos_list]</aa>


{%endblock%}

