<!Programa HTML>
<!Lista los Checklist de Ejecucion de Pruebas de un Procedimiento Vigente>
<!Programado por Marco A. Villalobos M>
<!===============================================>

{%extends "base_generic.html"%}
{% load static %}

{% block content %}
<!----------------- ENCABEZADOS ------------------>
<ul class="encabezado_B">
	<p><strong>LISTA DE EJECUCION DE PRUEBAS DE PROCEDIMIENTO DE CONTINGENCIA</strong></p>
</ul>

	<table class="lta" style="width: 100%; border-collapse: collapse;">

      <!-- Encabezado superior -->
		<!-- Encabezado de columnas -->
		<thead class="encabezado_N" style="background: rgb(65, 1, 1);">
			<tr style="background-color: green; border-bottom: 1px solid #ccc;">
				<th scope="col">INCIDENTE</th>
				<th scope="col">PROCEDIMIENTO</th>
				<th scope="col">ESCENARIO RIESGO</th>
				<th scope="col">ESTRATEGIA</th>
			</tr>
		</thead>

      <tbody style="border-top: none;">

            <tr style="border-bottom: 1px solid #ccc;">
				<td><strong>{{checklist.incidente.codigo}}:</strong>{{checklist.incidente.descripcion}}</td>
				<td>{{proc.nombre }}</td>
				<td>{{proc.escenarios}}</td>
				<td>{{proc.estrategia}}</td>
            </tr>

      </tbody>
    </table>


<!----------------- FIN  ENCABEZADOS ------------------>
	
<!---- Lista de Checklist  --------- -->
<br/>
	<ul class="BarraScroll" style="height: 250px;">	

	<table
	class="" style="width: 100%; border-collapse: collapse;
	padding: 0px;
    border-collapse: collapse;
    border: 0px solid rgb(0, 0, 102);
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 1.1rem;">
		<thead class="encabezado_N" style="color:white ">
			<tr style=" border-bottom: 1px solid #ccc;">
			 <div class="flex-container" >
				<div class="flex-item">
				  <th style="width: 350px; text-align: center;background-color:RED;">PLAN DE PRUEBA</th>
				</div>
				<div class="flex-item">
				  <th style="width: 470px; text-align: center;background-color: green;">RESULTADOS EJECUCION</th>
				</div>
			</div>
			</tr>
		</thead>
		<tbody></tbody>

	</table>
	
    <table class="" style="width: 100%; border-collapse: collapse;
	padding: 0px;
    border-collapse: collapse;
    
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 1.1rem;">

      <!-- Encabezado superior -->
		<!-- Encabezado de columnas -->
		 
		<thead class="encabezado_N" style="color:white ">
			
			<tr style="background-color: green; border-bottom: 1px solid #ccc;">
				<div class="flex-container">
				<div class="flex-item">
					<!--------- Columna Plan de Prueba  -->
					<th scope="col" style="width: 50px; background-color:RED;" >Codigo</th>
					<th scope="col" style="width: 100px; background-color:RED;">Objetivo</th>
					<th scope="col" style="width: 200px; background-color:RED;">Alcance</th>
				</div>
				<div class="flex-item">
					<!--------- Columna Resultados de Prueba -->
					<th scope="col" style="width: 30px;">Nro.</th>
					<th scope="col">Fecha</th>
					<th scope="col">Resultado</th>
					<th scope="col">Comentario</th>
					<th scope="col">Conclusion</th>
					<th scope="col">Detalle</th>
				</div>
				</div>

			</tr>
		</thead>

      <tbody style="border-top: none;">

        {% if lista_ejec_prbas %}
          {% for ejec in lista_ejec_prbas %}
            <tr style="border-bottom: 1px solid #ccc;">
				<div class="flex-container">
				<div class="flex-item">
					<!--- Datos de la Prueba Planificada vigente ----->
					<td>{{ejec.prueba.codigo}}</td>
					<td>{{ejec.prueba.objetivo}}</td>
					<td>{{ejec.prueba.alcance}}</td>
				</div>
				<div class="flex-item">
				<!------ Datos de la Prueba ---------->
					<td>{{ejec.nro_ejecucion}}</td>
					<td>{{ejec.fecha_creacion}}</td>
					<td>
						{%if ejec.resultados_obtenidos%}
							{{ejec.resultados_obtenidos}}
						{%else%}
							Pendiente...
						{%endif%}
					</td>
					<td>
						{%if ejec.incidentes%}
							{{ejec.incidentes}}
						{%else%}
							Pendiente...
						{%endif%}
					</td>
					<td>
						{%if ejec.evaluacion_final %}
							{{ejec.evaluacion_final}}
						{%else%}
							Pendiente...
						{%endif%}
					</td>
					
				<td><!------------ Checklist de Ejecucion de Pruebas  ----------------->
					<a class="link blink" data-message="Revisar Evaluacion y Autorizar u Observar ..." 
					href="{% url 'Lista-Ejec-Casos'  ejec.pk  %}">
					<img src="/static/img/Evaluacion.jpg" width="25" height="25"></img>
					</a>
				</td>
				</div>
           </tr>
          {%endfor%}
        {%else%}
            Sin Pruebas definidas ....
        {%endif%}

      </tbody>
    </table>
		<br/>
		<br/>
		
	</ul>
<!-- Fin Lista de Checklist ----------->

<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
	<!-- Caja de Comentario -->

	<div id="comment-box" class="hidden" style="font-size: 13px;">
		<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
		<h5><strong>Comentario de Revision:</strong></h5>
		<textarea id="comment-text" rows="5" cols="30"></textarea>
		<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
		<button id="close-comment">Cerrar</button>
	</div>
	
	<!-- Globo de cómic -->
	<div id="comicBalloon"></div>

	<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
	<div id="confirmation-dialog" class="hidden">
		<div class="dialog-content">
			<p id="confirmation-message"></p>
			<button id="confirm-yes">Sí</button>
			<button id="confirm-no">No</button>
		</div>
	</div>

<br/>
<aa style="font-size: 8px;">[ejec_prbas_list]</aa>


{%endblock%}

