<!Programa HTML>
<!Lista los Procesos del Mapa en modalidad Scrool>
<!Programado por Marco A. Villalobos M>
<!===============================================>


{%extends "base_generic.html"%}


{% block content %}

<!----------------- ENCABEZADOS ------------------>
<ul class="encabezado" style="background-color:red; color:yellow; text-align: center;border-radius: 10px;">
<h4 class="blink"><strong>GESTION DE INCIDENTES</strong></h4></ul>

<!----------------- fin ENCABEZADOS ------------------>
	
	<ul class="BarraScroll" style="height: 300px; background-color: black;">  

		<table class="ita">
        <thead>
            <tr>
                <th>Dashboard</th>
                <th>Actualizacion</th>
                <th>Codigo</th>
				<th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for incid in lista_incidentes %}
            <tr>
                <td><!---- Dashboard ------>
					<a href="{% url 'Perfil-Incidente' incid.inc.pk %}" >
					{% if incid.inc.estado == True %}<aa class="blink">{%else%} <aa> {%endif%}
					
						{% if incid.inc.test %}
							
							<aa class="link" data-message="Panel de Control de la Prueba (Dashboard)">
								<img src="/static/img/Autorizar.png" width="20" height="20">
							</aa>
						{% else %}
							<aa class="link" data-message="Panel de Control del Incidente (Dashboard)">
								<img src="/static/img/dashboard.png" width="20" height="20">
							</aa>
						{%endif%}

					</aa>
				</a>
				</td>

                <td><!---- Actualizacion/Eliminacion ----->
				<!Opcion Modifica>
				{% if incid.inc.test %}
					<a href="{% url 'Modi-Plan-Pruebas' incid.inc.pk %}"
					class="link" data-message="Actualiza Reporte de Incidente"><rr><bb>&#128222</bb></rr></a>

				{% else %}
					<a href="{% url 'Modifica-Incidente' incid.inc.pk %}"
					class="link" data-message="Actualiza Reporte de Incidente"><rr><bb>&#128222</bb></rr></a>
				{%endif%}	
				
        		<!Opcion Borra>
				{% if not incid.activo %}
					<a href="{% url 'Borra-Incidente' incid.inc.pk %}?next={{ request.path|urlencode }}"
					class="link confirm-link" data-message="Borra Reporte de Incidente" 
					con-message="Confirma Eliminacion del Reporte de Incidente ...?"><rr>&#128465</rr></a>
				{%endif%}

				</td>
                <td>{{incid.inc.codigo}}</td>
                <td>{{incid.inc.descripcion}}</td>

            </tr>
            {% empty %}
            <tr><td colspan="4" style="text-align:center; font-style:italic; padding: 20px;">*** No se han declarado Incidentes ***</td></tr>
            {% endfor %}
        </tbody>
    </table>
    </ul>               
		

	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>

<br/>
<aa style="font-size: 8px;">[incidentes_list]</aa>


{%endblock%}

