<!Programa HTML                                           >
<!Despliega el formulario para la m odificacion del Reporte de un Incidente >
<!Programado por Marco A. Villalobos M.                   >
<!==========================================================================>

{% extends "base_generic.html" %}
{% block content %}

	{% block enc_activo %}

	<ul class="encabezado_C">
	<aa><strong> >> REPORTE DE INCIDENTE</strong></aa>
	</ul>

	{% endblock %}


	{% block declara %}

    	<form action="" method="post">
          {% csrf_token %}
          

	  {% block A %}
	  <ul class="scr4">
	   <p>Codigo................:&emsp;{{incidente.codigo}}</p>
	   <p>Fecha del Reporte ....:&emsp;{{incidente.fecha }}</p>
	   <p>Reportado por ........:&emsp;{{incidente.nombre_r }}</p>
	   <p>Area..................:&emsp;{{incidente.area_r}}</p>
	   <p>Descripcion...........:&emsp;{{incidente.descripcion}}</p>
	 </ul>

	 {% endblock %}
        
	 {% block B %}

	 <ul class="scr3">
	  {{ form.media}}
	  <p>{{form.amenazas_i}}</p>
	  <br/>
          <p> <input type="submit" value="Graba Reporte" /></p>
	 </br>
	 </ul>

	 {% endblock %}
    	</form>
	
	
	{% endblock %}

{% endblock %}
