<!Programa HTML                                           >
<!Despliega el formulario para el Reporte de un Incidente >
<!Programado por Marco A. Villalobos M.                   >
<!========================================================>

{% extends "base_generic.html" %}
{% load static %}

<!----- Actualiza la pagina cada 30 minutos ------------------------------>
{% block extra_head %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block content %}

<!--------- Inhibe actualizacion del scroll principal -->
<meta name="inhibir-scroll-principal" content="true">


	<ul class="encabezado_B">
		<!-- <p><img src="/static/img/dashboard.png" class="icon" width="70" height="50"></p> -->
        <rr class="blink"><strong>PANEL DE CONTROL DE INCIDENTE :&nbsp;{{incidente.codigo}}
		{%if incidente.test == True %}
			(Prueba BCP/DRP)
		{%endif%}
		</strong></rr>
	</ul>


<!-- /******************************* Bloque 0 *************************************/ -->
<div class="flex-container">

	<!------------ Seccion 1 Reporte ---------->
	<div class="flex-item" style="width: 100%;">
		<ul class="encabezado_SB" ><h5><strong>REPORTE</strong></h5></ul>
		<ul class="BarraScroll" style="width: 100%; height: 400px;background-color: black; color:whitesmoke">
			<br/>
				<table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Codigo:</th>
					<th style="border: 1px solid greenyellow ;">{{incidente.codigo}}</th>

				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Fecha</th>
					<th style="border: 1px solid greenyellow ;">{{incidente.fecha_creacion}}</th>

				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Reportado por:</th>
					<th style="border: 1px solid greenyellow ;">{{incidente.nombre_r}}</th>

				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Area:</th>
					<th style="border: 1px solid greenyellow ;">{{incidente.area_r}}</th>

				</tr>
				<br/>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Descripcion:</th>
					<th style="border: 1px solid greenyellow ;">{{incidente.descripcion}}</th>

				</tr>
		</table>


		<br/>
		
		<h5><strong>Amenazas reportadas:</strong></h5>
		
		<table class="lta">
			<thead>
				<tr>
				<th scope="col">Titulo</th>
				<th scope="col">Descripcion</th>
		
				</tr> 
			</thead>
		
			<tbody>
				{%for amn in amenazas.all %}
			<tr>
				<th scope="row"><bb style="font-size: 10px;">{{amn.titulo}}</bb></th>
					<th scope="row"><bb style="font-size: 10px;">{{amn.descripcion}}</bb></th>
				
			</tr>
				{% if not forloop.last %}
				{%endif%}
				{%endfor%}
			</tbody>
		
			</table>
				
	
		</ul>

		<!--- Activa / Desactiva el Incidente -->
		<br/>
		<table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;
					width: 100px; height: 80px;"
					>
						<!----Switch Activa/Desactiva -->
						<label class="switch switch-large">
						<input type="checkbox"
								class="toggle-switch"
								data-app="bcp"
								data-model="incidentes"
								data-id="{{incidente.id}}"
								data-field="estado"
								data-confirm-On="Confirma Activacion del Incidente?."
								data-confirm-Off="Confirma Desactivacion del Incidente?"
								{% if incidente.estado %}checked{% endif %}>
						<span class="slider"></span>
						</label>
						<!----Fin Switch Activa/Desactiva -->

					</th>
					<th style="border: 1px solid greenyellow; font-size: 1.5rem;">Activa / Desactiva Incidente</th>

				</tr>
		</table><!--- Fin Activa / Desactiva el Incidente -->

	
		</div><!------------ Fin Seccion 1 Reporte  ---------->
	

	<!------------ Seccion 2 Lista del Comite de Crisis ---------->
	<div class="flex-item" style="width: 50%;">
	<ul class="encabezado_SB" ><h5><strong>COMITE DE CRISIS</strong></h5></ul>
	<table class="lta">
		<thead>
			<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Correo</th>
			<th scope="col">Telefono</th>

			</tr> 
		</thead>
	
		<tbody>
		   {%for int in comite %}
		<tr  style="background-color: black; color:whitesmoke">
			<th scope="row" ><bb style="font-size: 10px; color:whitesmoke">{{int.user_gestor.last_name}},{{int.user_gestor.first_name}}</bb></th>
		  	<th scope="row"><bb style="font-size: 10px; color:whitesmoke">{{int.user_gestor.email}}</bb></th>
			<th scope="row"><bb style="font-size: 10px; color:whitesmoke">{{int.fono_c}}</bb></th>

		  
		</tr>
			{% if not forloop.last %}
			{%endif%}
		  {%endfor%}
		</tbody>
	
		</table>
	
	<br/>

	<!--Grafico 1 ------->
	<br/><br/>
	<!--- Grafico Activados  vs No Activados ---------------->
		<ul class="encabezado_SB" ><h5><strong>Procedimientos Activados vs No Activados</strong></h5></ul>
		
		<div class="flex-container">
		<div class="flex-item" style="width: 50%;">
			<div class="chart-wrapper" data-chart-data="chart-data-1" data-chart-colors="chart-colors-1">
				<div class="chart-canvas" style="width: 120px; height: 120px;">
						<canvas id="pieChart-1"></canvas>
				</div>
				<div class="chart-legend"></div>
			</div>
		</div>
		<div class="flex-item" style="width: 50%;">
			<table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Nro. Procedimientos:</th>
					<th style="border: 1px solid greenyellow ;">{{cont_procedimientos}}</th>
				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Activados</th>
					<th style="border: 1px solid greenyellow ;">{{cont_proced_act}}</th>
				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">No Activados</th>
					<th style="border: 1px solid greenyellow ;">{{cont_proced_ina}}</th>
				</tr>
				
			</table>
		</div>
		</div>

		<br/><br/>
		<!--- Grafico de Confirmados vs No Confirmados ---------------------------->
		<ul class="encabezado_SB" ><h5><strong>Procedimientos Activos Confirmados vs No Confirmados</strong></h5></ul>
		<div class="flex-container">
			<div class="flex-item">
			<div class="chart-wrapper" data-chart-data="chart-data-2" data-chart-colors="chart-colors-2">
				<div class="chart-canvas" style="width: 120px; height: 120px;">
					<canvas id="pieChart-2"></canvas>
				</div>
				<div class="chart-legend"></div>
			</div>
			</div>
			<div class="flex-item">
			<table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Activados:</th>
					<th style="border: 1px solid greenyellow ;">{{cont_proced_act}}</th>
				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Confirmados</th>
					<th style="border: 1px solid greenyellow ;">{{cont_proced_con}}</th>
				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">No Confirmados</th>
					<th style="border: 1px solid greenyellow ;">{{cont_proced_no_con}}</th>
				</tr>
				
			</table>
			</div>
		</div>
		{{ chart_data_1|json_script:"chart-data-1" }}
		{{ chart_colors_1|json_script:"chart-colors-1" }}
		{{ chart_data_2|json_script:"chart-data-2" }}
		{{ chart_colors_2|json_script:"chart-colors-2" }}



	</div><!------------ Fin Seccion 2 Lista del Comite de Crisis ---------->


</div><!-- /******************************* Fin Bloque 0 *************************************/ -->



<br/><br/>
<ul class="encabezado_SB"><h5><strong>ALCANCE DEL INCIDENTE</strong></h5></ul>
<br/>

<ul class="encabezado_SB">
<!-- /******************************* Bloque A *************************************/ -->
<div class="flex-container" style="width: 100%;">

	<!-- COLUMNA IZQUIERDA ----->
	<div class="flex-item" style="width: 35%;">
	<ul class="encabezado_SB" ><h5><strong>GENERALES</strong></h5></ul>
	<br/>
	<ul class="scr4" style="background-color: black; color:whitesmoke; font-size: 1.2rem;">
		<br/>
		
		<table>
                <tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Nro de Procesos Alcanzados:</th>
					<th style="border: 1px solid greenyellow ;">{{n_procesos}}</th>

				</tr>
				<tr style="color:greenyellow; background-color: black; ">
					<th style="border: 1px solid greenyellow; text-align: left;">Puntaje Promedio:</th>
					<th style="border: 1px solid greenyellow ;">{{puntaje_x |floatformat:2}}</th>

				</tr>
		</table>
	
	
	</ul>

		


	</div><!------------ FIN COLUMNA IZQUIERDA ---------->

	<!------------ COLUMNA CENTRAL  ---------->
	<div class="flex-item"style="width: 36%;">
		<!------------ Indicadores de Impactos ---------->
		<ul class="encabezado_SB" ><h5><strong>Indicadores de Impacto</strong></h5></ul>
		<br/>
		<table class="lta">
			<thead>
				<tr>
				<th scope="col">Tipo</th>
				<th scope="col">Nivel</th>
				<th scope="col" style="width: 110px;">Alcance</th>
	
				</tr> 
			</thead>
		
			<tbody>
				{% for tipo, niveles in estadistica_impactos.items %}
					{% for nivel, cantidad in niveles.items %}
						<tr style="background-color: black; color:whitesmoke">
							<td>{{ tipo }}</td>
							<td>{{ nivel }}</td>
							<td>
								<!-- Indicador LED -->
								<div class="led-panel" data-value="{{ cantidad }}"></div>
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>		
			</table>
		<!------------ Fin Indicadores de Impactos ---------->

	</div><!------FIN COLUMNA CENTRAL  --------->

	<!------------ COLUMNA DERECHA   ---------->
	<div class="flex-item"style="width: 34%;">
	<!----- Indicadores de Recuperacion ------------->
	<ul class="encabezado_SB" ><h5><strong>Indicadores de Recuperacion</strong></h5></ul>
	<br/>
	<table class="lta">
		<thead>
			<tr>
			<th scope="col">Tipo</th>
			<th scope="col">Nivel</th>
			<th scope="col" style="width: 110px;">Alcance</th>

			</tr> 
		</thead>
	
		<tbody>
			{% for tipo, niveles in estadistica_indicadores.items %}
				{% for nivel, cantidad in niveles.items %}
					<tr style="background-color: black; color:whitesmoke">
						<td>{{ tipo }}</td>
						<td>{{ nivel }}</td>
						<td>
								<!-- Indicador LED -->
								<div class="led-panel" data-value="{{ cantidad }}"></div>
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>		
	</table>
	<!----- Fin Indicadores de Recuperacion ------------->



	</div><!-------- FIN COLUMNA DERECHA ---------->

</div>
<!-- /******************************* Fin Bloque A  *************************************/ -->

<!-- /******************************* Bloque B *************************************/ -->
<div class="flex-container">
	<!------------ COLUMNA IZQUIERDA ---------->
	<div class="flex-item" style="width: 33%;">
			
		<!---- Escenarios de Riesgo ---------->
		<ul class="encabezado_SB" ><h5><strong>Escenarios de Riesgo </strong></h5></ul>
		<br/>
		<table class="lta">
			<thead>
				<tr>
				<th scope="col" style="width: 200px;">Escenario</th>
				<th scope="col" style="width: 110px;">Alcance</th>
	
				</tr> 
			</thead>
		
			<tbody>
				{% for escenario, cantidad  in estadistica_escenarios.items %}
						<tr style="background-color: black; color:whitesmoke">
						{%if escenario in escenarios_inc %}
							<td><strong class="" style="color: red;">{{ escenario }}</strong></td>
							<td>
								<!-- Indicador LED -->
								<div class="led-panel" data-value="{{ cantidad }}"></div>
						</td>
						{%endif%}
						</tr>
				{% endfor %}
			</tbody>		
		</table>
		<!---- Fin Escenarios de Riesgo ---------->

	</div><!------FIN COLUMNA IZQUIERDA  ---------->

	<!------------ COLUMNA CENTRO ---------->
	<div class="flex-item" style="width: 33%;">

		<!------------- Servicios / Recursos ------->
		<ul class="encabezado_SB" ><h5><strong>Servicios / Recursos </strong></h5></ul>
		<br/>
		<table class="lta">
				<thead>
					<tr>
					<th scope="col">Servicios/Recursos</th>
					<th scope="col" style="width: 110px;">Alcance</th>
		
					</tr> 
				</thead>
			
				<tbody>
					{% for recurso, cantidad  in estadistica_recursos.items %}
							<tr style="background-color: black; color:whitesmoke">
								<td>{{ recurso }}</td>
								<td>
								<!-- Indicador LED -->
								<div class="led-panel" data-value="{{ cantidad }}"></div>
								</td>
							</tr>
					{% endfor %}
				</tbody>		
				</table>
		<!------------- Fin Servicios / Recursos ------->


	</div><!------FIN COLUMNA CENTRO  ---------->

	<!------------ COLUMNA DERECHA ---------->
	<div class="flex-item" style="width: 33%;">
			

	</div><!------FIN COLUMNA DERECHA  ---------->


</div>
<!-- /******************************* Bloque B *************************************/ -->
</ul>

<br/>
<br/>
<ul class="encabezado_SB"><h5><strong>MATRIZ DE CONTINGENCIAS</strong></h5></ul>

<ul class="BarraScroll" style="height: 350px; background-color : black; color:whitesmoke">
<table class="lta">
	<thead>
		<tr> <!--- Encabezado ------>
			<th scope="col" style="background: green; width: 300px; height: 30px; padding: 3px; font-size: 20px;">PROCESO</th>
			<th scope="col" style="background: green; width: 200px; height: 30px; padding: 3px; font-size: 20px; text-align: center;">RTO</th>

			<th scope="col" style="background: black;"></th>

			<!-- Despliega Columnas con Escenarios -->
			{% for escenario, _ in estadistica_escenarios.items %}
				{% if escenario in escenarios_inc %}
				<th scope="col" style="background: black; width: 100px; height: 100px;" >{{ escenario}}</th>
				{%endif%}
			{% endfor %}

		</tr> 
	</thead><!--- Fin Encabezado ------>

	<tbody>
		{% for proc in procesos.all %}
		<tr>
			<td scope="row" style="width: 300px; padding: 1px  5px;">
				<a href="{% url 'Detalle-Proceso-V2'  proc.pk %}" style="color:green">{{proc.path}}</a></td>
			{%for ind in proc.indicador_subp.all %} <!-- Busca indicador RTO -->
				{%if ind.indicador.nombre == 'RTO' %}
					<td scope="row" style="width: 200px; padding: 1px  5px; color:black">{{ind.nivel.nivel}}: {{ind.nivel.definicion}}</td>
				{%endif%}
			{%endfor%}

			<td scope="row" style="background: black;"></td>
			
			{% for escenario, _ in estadistica_escenarios.items %}

				{%if escenario in escenarios_inc %}

					<!---- Inicio de la Fila ------>
					<td scope="row" style="text-align: center; padding: 1px  5px; width: 100px; height: 100px;">
					
						{% for prc in proc.procedimientos_contingencia_v.all %}
											
							<!--- Si el escenario es igual al escenario del Procedimiento -->
							{% if escenario == prc.escenarios.titulo %}
								{{prc.nombre}}
								<a href="{% url 'det-proced-v' prc.pk %}" 
								class="link" 
								data-message="Ver Procedimiento: {{ prc.nombre }}">
								{% if prc.esta_confirmado == False%}
									<p style="font-size: 25px;">&#128215</p>
								{%else%}
									<p class="blink link"  
									data-message="Ver Procedimiento: {{ prc.nombre }} - Confirmado!!"
									style="font-size: 25px;">&#128217</p>
								{%endif%}
								</a>

								<!--- Activa / Desactiva Procedimiento -->
								{%if incidente.estado %}
								<label class="switch">
									<input type="checkbox" id="toggle-activo-{{ prc.id }}" 
										data-id="{{ prc.id }}"
										data-incidente="{{ incidente.id }}"
										{% if prc.esta_activo %}checked{% endif %}>  
									<span class="slider link" 
										data-message="Activa/Desactiva el PC .: {{ prc.nombre }}">
									</span>
								</label>
								{%endif%}
								<!--- Fin Activa/Desactiva ----->
								<!---- Estado del procedimiento -->
							
							{% endif %}
						{% endfor %}
					</td> <!---- Fin de la Fila ------>

				{%endif%}
			{% endfor %}


		</tr>
		{% endfor %}
	</tbody>		
</table>
</ul>
<br/>


<br/>

{% if incidente.test %}
	<!----- Link  Dashboard de Pruebas-->
	<a href="{% url 'dashboard-prueba'  incidente.pk %}"
	class="link" data-message="Dashboard Reporte de Incidente" style="padding:5px;">
	<aa class="button" style="background-color:red; color:white">DASHBOARD EJECUCION DE PRUEBAS</aa>
	</a>
{%endif%}
<br/><br/>



<!----- CSS para Scripts ----------------------------------->
<!---------------------------------------------------------->
	<!-- Caja de Comentario -->

	<div id="comment-box" class="hidden" style="font-size: 13px;">
		<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
		<h5><strong>Comentario de Revision:</strong></h5>
		<textarea id="comment-text" rows="5" cols="30"></textarea>
		<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
		<button id="close-comment">Cerrar</button>
	</div>
	
	<!-- Globo de cómic -->
	<div id="comicBalloon"></div>

	<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
	<div id="confirmation-dialog" class="hidden">
		<div class="dialog-content">
			<p id="confirmation-message"></p>
			<button id="confirm-yes">Sí</button>
			<button id="confirm-no">No</button>
		</div>
	</div>
	

<!--------- Fin CSS para Scripts ------------------------->

<br/>
<p style="font-size: 8px;">[perfil_inc]</p>


{% endblock %}
