<!Programa HTML                                           >
<!Despliega el formulario para el Reporte de un Incidente >
<!Programado por Marco A. Villalobos M.                   >
<!========================================================>

{% extends "base_generic.html" %}
{% load static %}

<!----- Actualiza la pagina cada 30 minutos ------------------------------>
{% block extra_head %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block content %}

<!--------- Inhibe actualizacion del scroll principal -->
<meta name="inhibir-scroll-principal" content="true">


	{% block enc_activo %}
	<ul class="encabezado_B">
		<p><img src="/static/img/dashboard.png" class="icon" width="70" height="50"></p>
        <rr class="blink"><strong>PANEL DE CONTROL DE INCIDENTE :&nbsp;{{incidente.codigo}}</strong></rr>
	</ul>
	{% endblock %}


<!-- /******************************* Bloque 0 *************************************/ -->
<div class="flex-container">

	<!------------ Seccion 1 Reporte ---------->
	<div class="flex-item" style="width: 100%; height: 300px;">
		<ul class="encabezado_SB"><h5><strong>REPORTE</strong></h5></ul>
		<ul class="BarraScroll" style="width: 100%; height: 300px;">
			<br/>
				<p><strong>Codigo...............:<strong>&emsp;{{incidente.codigo}}</p>
				<p><strong>Fecha................:<strong>&emsp;{{incidente.fecha_creacion}}</p>
				<p><strong>Reportado por...:<strong>&emsp;{{incidente.nombre_r}}</p>
				<p><strong>Area/Gerencia...:<strong>&emsp;{{incidente.area_r}}</p>
				<br/>
				
				<h5><strong>Descripcion:</strong></h5>
				<ul>{{incidente.descripcion}}</ul>
				<br/>
				
				<h5><strong>Amenazas reportadas:</strong></h5>
				
				<table class="lta">
					<thead>
						<tr>
						<th scope="col">Titulo</th>
						<th scope="col">Descripcion</th>
				
						</tr> 
					</thead>
				
					<tbody>
					   {%for amn in amenazas.all %}
					<tr>
						<th scope="row"><bb style="font-size: 10px;">{{amn.titulo}}</bb></th>
						  <th scope="row"><bb style="font-size: 10px;">{{amn.descripcion}}</bb></th>
					  
					</tr>
						{% if not forloop.last %}
						{%endif%}
					  {%endfor%}
					</tbody>
				
					</table>
				
	
		</ul>
	
		</div><!------------ Fin Seccion 1 Reporte  ---------->
	

	<!------------ Seccion 2 Lista del Comite de Crisis ---------->
	<div class="flex-item" >
	<ul class="encabezado_SB" style="width: 400px;"><h5><strong>COMITE DE CRISIS</strong></h5></ul>
	<ul class="BarraScroll" style="width: 400px; height: 300px;">
	<table class="lta">
		<thead>
			<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Correo</th>
			<th scope="col">Telefono</th>

			</tr> 
		</thead>
	
		<tbody>
		   {%for int in comite %}
		<tr>
			<th scope="row" ><bb style="font-size: 10px;">{{int.user_gestor.last_name}},{{int.user_gestor.first_name}}</bb></th>
		  	<th scope="row"><bb style="font-size: 10px;">{{int.user_gestor.email}}</bb></th>
			<th scope="row"><bb style="font-size: 10px;">{{int.fono_c}}</bb></th>

		  
		</tr>
			{% if not forloop.last %}
			{%endif%}
		  {%endfor%}
		</tbody>
	
		</table>
	</ul>
	
	<br/>


	</div><!------------ Fin Seccion 2 Lista del Comite de Crisis ---------->


</div><!-- /******************************* Fin Bloque 0 *************************************/ -->



<br/>
<ul class="encabezado_SB"><h5><strong>ALCANCE DEL INCIDENTE</strong></h5></ul>
<br/>
<ul class="scr3">


<!-- /******************************* Bloque A *************************************/ -->
<div class="flex-container" style="width: 100%;">

	<!-- COLUMNA IZQUIERDA ----->
	<div class="flex-item" style="width: 35%;">
	<ul class="encabezado_SB" style="background: yellow;"><h5><strong>GENERALES</strong></h5></ul>
	<br/>
	<ul class="scr4" style="background: white;">
		<br/>
		<p><strong>Numero de Procesos Alcanzados :&ensp;{{n_procesos}}</strong></p>
		<p><strong>Puntaje Promedio ...........:&ensp;{{puntaje_x |floatformat:2}}</strong></p>
	</ul>

		


	</div><!------------ FIN COLUMNA IZQUIERDA ---------->

	<!------------ COLUMNA CENTRAL  ---------->
	<div class="flex-item"style="width: 36%;">
		<!------------ Indicadores de Impactos ---------->
		<ul class="encabezado_SB" style="background: yellow;"><h5><strong>Indicadores de Impacto</strong></h5></ul>
		<br/>
		<table class="lta">
			<thead>
				<tr>
				<th scope="col">Tipo</th>
				<th scope="col">Nivel</th>
				<th scope="col"># Procesos</th>
	
				</tr> 
			</thead>
		
			<tbody>
				{% for tipo, niveles in estadistica_impactos.items %}
					{% for nivel, cantidad in niveles.items %}
						<tr>
							<td>{{ tipo }}</td>
							<td>{{ nivel }}</td>
							<td>{{ cantidad }}</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>		
			</table>
		<!------------ Fin Indicadores de Impactos ---------->

	</div><!------FIN COLUMNA CENTRAL  --------->

	<!------------ COLUMNA DERECHA   ---------->
	<div class="flex-item"style="width: 34%;">
	<!----- Indicadores de Recuperacion ------------->
	<ul class="encabezado_SB" style="background: yellow;"><h5><strong>Indicadores de Recuperacion</strong></h5></ul>
	<br/>
	<table class="lta">
		<thead>
			<tr>
			<th scope="col">Tipo</th>
			<th scope="col">Nivel</th>
			<th scope="col"># Procesos</th>

			</tr> 
		</thead>
	
		<tbody>
			{% for tipo, niveles in estadistica_indicadores.items %}
				{% for nivel, cantidad in niveles.items %}
					<tr>
						<td>{{ tipo }}</td>
						<td>{{ nivel }}</td>
						<td>{{ cantidad }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>		
	</table>
	<!----- Fin Indicadores de Recuperacion ------------->



	</div><!-------- FIN COLUMNA DERECHA ---------->

</div>
<!-- /******************************* Fin Bloque A  *************************************/ -->

<!-- /******************************* Bloque B *************************************/ -->
<div class="flex-container">
	<!------------ COLUMNA IZQUIERDA ---------->
	<div class="flex-item" style="width: 33%;">
			
		<!---- Escenarios de Riesgo ---------->
		<ul class="encabezado_SB" style="background: yellow;"><h5><strong>Escenarios de Riesgo </strong></h5></ul>
		<br/>
		<table class="lta">
			<thead>
				<tr>
				<th scope="col">Escenario</th>
				<th scope="col"># Procesos</th>
	
				</tr> 
			</thead>
		
			<tbody>
				{% for escenario, cantidad  in estadistica_escenarios.items %}
						<tr>
						{%if escenario in escenarios_inc %}
							<td><strong class="blink" style="color: red;">{{ escenario }}</strong></td>
							<td style="text-align: center;"><strong class="blink" style="color: red;">{{ cantidad }}</strong></td>
						{%else%}
							<td><a style="color: grey;">{{ escenario }}</a></td>
							<td style="text-align: center;"><a style="color: grey;">{{ cantidad }}</a></td>

						{%endif%}
						</tr>
				{% endfor %}
			</tbody>		
		</table>
		<!---- Fin Escenarios de Riesgo ---------->

	</div><!------FIN COLUMNA IZQUIERDA  ---------->

	<!------------ COLUMNA CENTRO ---------->
	<div class="flex-item" style="width: 33%;">

		<!------------- Servicios / Recursos ------->
		<ul class="encabezado_SB" style="background: yellow;"><h5><strong>Servicios / Recursos </strong></h5></ul>
		<br/>
		<table class="lta">
				<thead>
					<tr>
					<th scope="col">Servicios/Recursos</th>
					<th scope="col"># Procesos</th>
		
					</tr> 
				</thead>
			
				<tbody>
					{% for recurso, cantidad  in estadistica_recursos.items %}
							<tr>
								<td>{{ recurso }}</td>
								<td>{{ cantidad }}</td>
							</tr>
					{% endfor %}
				</tbody>		
				</table>
		<!------------- Fin Servicios / Recursos ------->


	</div><!------FIN COLUMNA CENTRO  ---------->

	<!------------ COLUMNA DERECHA ---------->
	<div class="flex-item" style="width: 33%;">
			

	</div><!------FIN COLUMNA DERECHA  ---------->


</div>
<!-- /******************************* Bloque B *************************************/ -->



</ul>	

<br/>
<br/>
<ul class="encabezado_SB"><h5><strong>MATRIZ DE CONTINGENCIAS</strong></h5></ul>

<ul class="BarraScroll" style="height: 350px;">
<table class="lta">
	<thead>
		<tr> <!--- Encabezado ------>
			<th scope="col" style="background: green; width: 300px; height: 30px; padding: 3px; font-size: 20px;">PROCESO</th>
			<th scope="col" style="background: green; width: 200px; height: 30px; padding: 3px; font-size: 20px; text-align: center;">RTO</th>

			<th scope="col" style="background: black;"></th>

			<!-- Despliega Columnas con Escenarios -->
			{% for escenario, _ in estadistica_escenarios.items %}
				{% if escenario in escenarios_inc %}
				<th scope="col" style="background: black; width: 100px; height: 100px;" >{{ escenario}}</th>
				{%endif%}
			{% endfor %}

		</tr> 
	</thead><!--- Fin Encabezado ------>

	<tbody>
		{% for proc in procesos.all %}
		<tr>
			<td scope="row" style="width: 300px; padding: 1px  5px;">
				<a href="{% url 'Detalle-Proceso-V2'  proc.pk %}" style="color:green">{{proc.path}}</a></td>
			{%for ind in proc.indicador_subp.all %} <!-- Busca indicador RTO -->
				{%if ind.indicador.nombre == 'RTO' %}
					<td scope="row" style="width: 200px; padding: 1px  5px;">{{ind.nivel.nivel}}: {{ind.nivel.definicion}}</td>
				{%endif%}
			{%endfor%}

			<td scope="row" style="background: black;"></td>
			
			{% for escenario, _ in estadistica_escenarios.items %}

				{%if escenario in escenarios_inc %}

					<!---- Inicio de la Fila ------>
					<td scope="row" style="text-align: center; padding: 1px  5px; width: 100px; height: 100px;">
					
						{% for prc in proc.procedimientos_contingencia_v.all %}
											
							<!--- Si el escenario es igual al escenario del Procedimiento -->
							{% if escenario == prc.escenarios.titulo %}
							
								<a href="{% url 'det-proced-v' prc.pk %}" 
								class="link" 
								data-message="Ver Procedimiento: {{ prc.nombre }}">
								{% if prc.esta_confirmado == False%}
									<p style="font-size: 25px;">&#128215</p>
								{%else%}
									<p class="blink link"  
									data-message="Ver Procedimiento: {{ prc.nombre }} - Confirmado!!"
									style="font-size: 25px;">&#128217</p>
								{%endif%}
								</a>

								<!--- Activa / Desactiva Procedimiento -->
								<label class="switch">
									<input type="checkbox" id="toggle-activo-{{ prc.id }}" 
										data-id="{{ prc.id }}"
										data-incidente="{{ incidente.id }}"
										{% if prc.esta_activo %}checked{% endif %}>  
									<span class="slider link" 
										data-message="Activa/Desactiva el PC .: {{ prc.nombre }}">
									</span>
								</label>
								<!--- Fin Activa/Desactiva ----->
								<!---- Estado del procedimiento -->
							
							{% endif %}
						{% endfor %}
					</td> <!---- Fin de la Fila ------>

				{%endif%}
			{% endfor %}


		</tr>
		{% endfor %}
	</tbody>		
</table>
</ul>
<br/>

<div class="flex-container" style="width: 100%;">
	<div class="flex-item" style="text-align: right; width:50%;">
		<!----Switch Activa/Desactiva -->
		<label class="switch switch-large">
		<input type="checkbox"
				class="toggle-switch"
				data-app="bcp"
				data-model="incidentes"
				data-id="{{incidente.id}}"
				data-field="estado"
				data-confirm-On="Confirma Activacion del Incidente?."
				data-confirm-Off="Confirma Desactivacion del Incidente?"
				{% if incidente.estado %}checked{% endif %}>
		<span class="slider"></span>
		</label>
		<!----Fin Switch Activa/Desactiva -->

	</div>
	<div class="flex-item" style="text-align: left; width: 50%;">
		<bn style="font-size: 1.8rem;">: Activa/Desactiva el Incidente</bn> 
	</div>
</div>

<br/><br/>



	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->

<br/>
<p style="font-size: 8px;">[perfil_inc]</p>


{% endblock %}
