<!Programa HTML>
<!Lista los Procedimientos x Usuario sesion >
<!Programado por Marco A. Villalobos M>
<!===============================================>

{%extends "base_generic.html"%}
{% load static %}

<!----- Actualiza la pagina cada 30 minutos ------------------------------>
{% block extra_head %}<meta http-equiv="refresh" content="30">{% endblock %} 



{% block content %}
<!----------------- ENCABEZADOS ------------------>
<ul class="encabezado" style="background-color:red; color:yellow; text-align: center;border-radius: 10px;">
<img src="/static/img/Evaluacion.jpg" class="icon" width="70" height="40">
<h4 class="blink"><strong>PANEL DE PROCEDIMIENTOS DE CONTINGENCIA</strong></h4></ul>

<!----------------- FIN  ENCABEZADOS ------------------>
	
<!---- Lista de Servicios/Recursos --------- -->

	<ul class="BarraScroll" style="height: 350px;">	

    <table class="lta" style="width: 100%; border-collapse: collapse;">

      <!-- Encabezado superior -->
            <!-- Encabezado de columnas -->
            <thead class="encabezado_N" style="background: rgb(65, 1, 1);">
              <tr style="background-color: #eaeaea; border-bottom: 1px solid #ccc;">
				<th></th>
                 <th scope="col" style="width: 200px;">Procedimiento</th>
                 <th scope="col">Tipo</th>
                 <th scope="col">Rol Asignado</th>
                 <th scope="col">RTO</th>
                 <th scope="col">RPO</th>
				 <th scope="col">Comite Cr.</th>
				 <th scope="col">Confirmacion</th>
				 <th scope="col">CheckList</th>
              </tr>
            </thead>

      <tbody style="border-top: none;">

        {% if lista_procedimientos %}
          {% for prcd in lista_procedimientos %}

            <tr style="border-bottom: 1px solid #ccc;">
				<td>
					<!-- Opcion para mostrar el Procedimiento vigente -->
					<a href = "{% url 'det-proced-v' prcd.pc.pk  %}" 
					class="link" data-message="Ver Procedimiento de Contingencia Vigente (Aprobado) ...">
					<bn>&#128215</bn></a>
				</td>
				<td><strong>{{prcd.pc.nombre }}</strong>-[{{prcd.pc.escenarios.titulo}}]</td>
				
				</td>
				<td>{{prcd.tipo }}</td>
				<td>{{prcd.rol}}</td>
				<td>{{prcd.rto}}</td>
				<td>{{prcd.rpo}}</td>
				<!--- Estado: Activado/Desactivado por el Comite de Crisis -->
				<td style="text-align: center;"><strong >
						{% if prcd.activado %}
							{% if prcd.confirmado %}
								<rr class="blink">Activado</rr>
							{%else%}
								<rr class="blink">ACTIVAR!</rr>
							{%endif%}
						{%else%}
							<aa>Inactivo</aa>
						{%endif%}	
					</strong>
				</td>

				</td>
				<!----- Estado: Confirmado/No Confirmado por Responsable o Ejecutor ---------------->
				<td style="text-align: center; width: 30px;">
			   {% if prcd.activado  %}
					<!----Switch Activa/Desactiva -->
					<label class="switch">
					<input type="checkbox"
							class="toggle-switch"
							data-app="bcp"
							data-model="procedimientos_v"
							data-id="{{prcd.pc.id}}"
							data-field="esta_confirmado"
							data-confirm-On="Confirma Activacion del Procedimiento?."
							data-confirm-Off="Confirma Desactivacion del Procedimiento?"
							{% if prcd.pc.esta_confirmado %}checked{% endif %}>
					<span class="slider"></span>
					</label>
					<!----Fin Switch Activa/Desactiva -->
				{%endif%}
				</td>
				<!-----  Lista de CheckList  ---------------->
				<td style="text-align: center; width: 30px;">
			   {% if prcd.confirmado  %} <!-- Si esta confirmado -->
					<a class="link blink" data-message="Revisar Evaluacion y Autorizar u Observar ..." 
					href="{% url 'Lista-Checklist' prcd.pc.pk  %}">
					<img src="/static/img/Evaluacion.jpg" width="25" height="25"></img>
					</a>
				{%endif%}
				</td>
				



               <!------ Fin Opciones ------------------->
            </tr>
          {%endfor%}
        {%else%}
            Usted no tiene asignados Procedimientos de Contngencia ....
        {%endif%}

      </tbody>
    </table>
		<br/>
		<br/>
		
	</ul>
<!-- Fin Lista de Servicios / Recursos ----------->

	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>

<br/>
<aa style="font-size: 8px;">[proced_list]</aa>


{%endblock%}

