<!Programa HTML>
<!Despliega el formulario para la creacion de un Activo o Recurso>
<!Programado por Marco A. Villalobos M.>
<!========================================================>

{% extends "base_generic.html" %}
{% load static %} 

{% block content %}

	{% block enc_activo %}
	<ul class="encabezado_B">
        <p><aa><strong>FORMULARIO DE ASIGNACION DE SERVICIOS CRITICOS:</strong></aa></strong></p>
	</ul>
	<ul class="encabezado_SB">
	<p><aa>{{proceso.path}}</aa></p>
	</ul>
	{% endblock %}

	
	{% block d_asigna_recu %}
	<h5><strong>DATOS DEL PROCESO</strong></h5>
	<!=======================================>

	<ul class="scr4">
	  <p><strong>Nombre........:</strong> &emsp;{{ proceso.nombre }}</p>
	  <p><strong>Objetivo......:</strong> &emsp;{{ proceso.objetivo }}</p>
	</ul>
	{% endblock %}

	{% block asigna_proc %}
	<br/>
	<h5><strong>ASIGNACION DE SERVICIOS CRITICOS</strong></h5>
	<!===================================================>
	<P>Seleccione del listado de la izquierda aquellos Servicios o Recursos que son indispensables para la 
	operacion del Proceso -<strong> {{proceso.nombre}}</strong>-.</p>
	
	<!---- Bloque A --------------------------------------------------------------->
	<div class="flex-container">
	<!--- Seccion Disponibles --------------------------------------->
	<div class="flex-item" style="width: 50%;">

	<h4><strong>Servicios/Recursos Disponibles</strong></h4>
	<input type="text" id="filtro_disponibles" placeholder="Filtrar Servicios..." style="background: rgb(239, 239, 170);">
	<br/><br/>
	<table id="tabla_disponibles" class="styled-table">
		<thead style="background: greenyellow;">
			<tr style="color:black">
				<th style="font-size: 12px; padding: 1px 5px; width: 10px;">TIPO</th>
				<th style="font-size: 12px; padding: 1px 5px; width: 30px;">NOMBRE</th>
				<th >DESCRIPCION</th>
				<th>  </th>
			</tr>
		</thead>
		<tbody>
			{% for recurso in recursos_disponibles %}
				<tr data-id="{{ recurso.id }}" >
					<td style="font-size: 12px; padding: 1px 5px;">{{ recurso.tipo.nombre }}</td>
					<td style="font-size: 12px; padding: 1px 5px;">{{ recurso.nombre }}</td>
					<td style="font-size: 12px; padding: 1px 5px;">{{ recurso.descripcion }}</td>
					<td ><button class="button link " data-message="Asigna Servicio {{ recurso.nombre }} ..." onclick="moverRecurso(this, 'id_tabla_asignados')"
						style="font-size: 12px; padding: 1px 3px; background: rgb(157, 240, 157);">▶</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/><br/><br/>
	</div><!--- Fin Seccion Disponibles --------------------------------------->

	<!--- Seccion Asignados --------------------------------------->
	<div class="flex-item" style="width: 50%;">

	<h4><strong>Servicios/Recursos Criticos Asignados</strong></h4>
	<input type="text" id="filtro_asignados" placeholder="Filtrar Servicios..." style="background: rgb(239, 239, 170);">
	<br/><br/>
	<table id="tabla_asignados" class="styled-table">
		<thead>
			<tr style="color:black">
				<th style="font-size: 12px; padding: 1px 5px; width: 10px;">TIPO</th>
				<th style="font-size: 12px; padding: 1px 5px; width: 30px;">NOMBRE</th>
				<th >DESCRIPCION</th>
				<th>  </th>
			</tr>
		</thead>
		<tbody id="id_tabla_asignados">
			{% for recurso in recursos_asignados %}
				<tr data-id="{{ recurso.id }}">
					<td style="font-size: 12px; padding: 1px 5px;">{{ recurso.tipo.nombre }}</td>
					<td style="font-size: 12px; padding: 1px 5px;">{{ recurso.nombre }}</td>
					<td style="font-size: 12px; padding: 1px 5px;">{{ recurso.descripcion }}</td>
					<td>
					<button style="background: red; color: white; font-size: 12px; padding: 1px 3px;" class="button link " data-message="Des-Asigna Servicio / Recurso ..." onclick="moverRecurso(this, 'id_tabla_disponibles')">◀</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

		<!-- Formulario oculto -->
		<br/>
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="recursos" id="recursos_input">
			<button  class="button"   type="submit">Guarda Seleccion</button>
			<a href="{% url 'Envia_Ev_RACI' proceso.pk  'B'  %}"  
			class="confirm-link link" data-message="Envia a la definicion del esquema de Autorizaciones RACI" con-message="Confirma Envio a Autorizacion RACI ?. Debe guardar ultimo Cambio (flecha verde indica Asignacion no guardada)."><rr class="button">Asigna RACI ...</rr></a>
		</form>
			

	</div><!--- Fin Seccion Asignados --------------------------------------->

</div><!------- Fin Bloque A ------->



	{% endblock %}

	<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>

<br/>
<aa style="font-size: 8px;">[asigna_activos_v2]</aa>
{% endblock %}
