<!Programa HTML>
<!Despliega el formulario para la revision de Asignacion de Activos por autorizacion RACI rechazada>
<!Programado por Marco A. Villalobos M.>
<!==================================================================================================>

{% extends "base_generic.html" %}

{% block content %}


   {% block enc_RevAsig %}
   <ul class="encabezado_B">
   <p><aa><strong>FORMULARIO DE REVISION DE OBSERVACIONES A SERVICIOS CRITICOS ASIGNADOS:</aa></strong></p>
   </ul>
   <ul class='encabezado_SB'>  
   <p><aa>{{proceso.path}}</aa></p>
   </ul>
  {% endblock %}

<!==========================>
<!Despliega Observaciones>
<!==========================>

  {%block comentarios%}
  <h5><strong>1.- OBSERVACIONES:</strong></h5>
  <!=========================================>
  <ul class="scr2">

  <h5><strong>Observaciones realizadas</strong></h5></p>
  <p>El siguiente cuadro muestra las observaciones realizadas por el <strong>Gestor Autorizador</strong> para ser revisadas e implementadas.</p></h5>
 
   <table class="lta">

    <thead class='encabezado_D'>
      <tr>
	<th scope="col">Fecha</th>
	<th scope="col">Aprobador</th>
	<th scope="col">Estado</th>
	<th scope="col">Servicio</th>
	<th scope="col">Observacion</th>
	
      </tr> 
    </thead>
    <tbody>
    
       {%for log_auth in proceso.log_auth.all %}
	{% if log_auth.p_status == 'AB' or log_auth.p_status == 'xB' %}
	<tr>
			<tr>
      	  		<th scope="row"><bb>{{log_auth.fecha}}</bb></th>
			<th scope="row"><bb>{{log_auth.gestor_aprobador}}</bb></th>
			<th scope="row">
				{% if log_auth.Aprobado %}
					<bb>Aprobado</bb>
				{%else%}
					<bb>Observado</bb>
				{%endif%}
			</th>
			<th scope="row"><bb>{{log_auth.item}}</bb></th>
	  		<th scope="row"><bb>{{log_auth.observacion}}</bb></th>
	  
	</tr>
	{%endif%}
        {% if not forloop.last %}
        {%endif%}
      {%endfor%}
    </tbody>

    </table>
  </ul>
 
{%endblock%}


{% block rev_asigna_proc %}
<h5><strong>2.- REVISION DE ASIGNACION DE SERVICIOS CRITICOS</strong></h5>
<!=====================================================================>
<ul class="scr3">

<h5><P>Seleccione del cuadro de la izquierda aquellos <strong>Servicios</strong>  que, de acuerdo a lo señalado por el <strong>Gestor Autorizador</strong> en  las observaciones (Seccion 1 del Formulario),
deben ser incorporados a la seleccion de Servicios Criticos asociados al Proceso <strong>{{proceso.nombre}}</strong>.</p>
<p>De-seleccione del cuadro de la derecha aquellos <strong>Servicios</strong> o Recursos que, de acuerdo a lo señalado por
el <strong>Gestor Autorizador</strong>, <strong>NO</strong> deben ser asociado al Proceso.</p><h5>
	
    	<form action="" method="post">
        	{% csrf_token %}
       		{{ form.media}}
        	<p>{{ form.activos}}
		<br/>
		<p><span style='font-size:20px;'>&#128231&emsp;</span>Notifica?..:{{ form.notifica}}</p>
       		<br/>
			
		</ul>

		<a href="{% url 'Lista-Recursos' %}" ><bb class="button">... Anterior</bb></a>&nbsp;&nbsp;&nbsp;
		<input type="submit" class="button" value="Registrar y Salir" />
	   </form>

{% endblock %}


{% endblock %}