<!Programa HTML>
<!Lista los Procesos del Mapa en modalidad Scrool>
<!Para establecer las relaciones entre Activos y Procesos
<!Programado por Marco A. Villalobos M>
<!===============================================>


{% extends "base_generic.html" %}

{% block content %}
<ul class="encabezado_SB"><strong><aa>M A P E O</aa></strong></ul>
	<!------ Menu Encabezado ---------------------------------->
	<div class="flex-container">

		<!---- Opcion 1 ----->
		<div class="flex-item" style="width: 25%;">
		<ul class="encabezado_B">
			<a href="{% url 'Lista-Procesos' %}"><strong><aa>Definicion de Procesos</sa></strong></a>
		</ul>
		</div><!---- Fin  Opcion 1 ----->
	
		<!---- Opcion 2 ----->
		<div class="flex-item" style="width: 25%;">
			<ul class="encabezado_B">
				<a href="{% url 'Lista-Evaluaciones' %}"><strong><aa>Analisis BIA</aa></strong></a>		</ul>
		</div><!---- Fin  Opcion 2 ----->
		
		<!---- Opcion 3 ----->
		<div class="flex-item" style="width: 30%;">
			<ul class="encabezado_B"  style="background: rgba(0, 128, 0, 0.1); ">
				<img src="/static/img/servicio_1.webp" width="30" height="30"></img>
				<a href="{% url 'Lista-Recursos' %}"><strong><sa>Servicios/Recursos Criticos</sa></strong></a>		</ul>
			</ul>
		</div><!---- Fin  Opcion 3 ----->
	
		<!---- Opcion 4 ----->
		<div class="flex-item" style="width: 25%;">
			<ul class="encabezado_B">
				<a href="{% url 'Lista-Escenarios' %}"><strong><aa>Escenarios de Riesgo</aa></strong></a>		</ul>
			</ul>
		</div><!---- Fin  Opcion 2 ----->
	
		</div><!------ Fin Menu Encabezado ---------------------------------->

	{%block lista%}
	<ul class="BarraScroll" style="background: rgba(0, 128, 0, 0.1); height: 310px">  
                         
		{% if lista_procesos %}

			{% for proceso in lista_procesos.all %}
			      <p> 
			      <!**********************>
			      <!* Despliega Opciones *>
			      <!**********************>

			   <! Indenta >
			  {% for i in proceso.proceso %} &nbsp; {% endfor %%}

				{% if proceso.proceso_padre == '/' %}
					<br/}
				{%endif%}

                              {% if proceso.es_subproceso  %}

			 	{% if proceso.subproceso.fase_status == 'B' %} <! Si fase es Mapeo Servicios Criticos>
	   
				   {%if proceso.subproceso.status != 'R' %} <!Si proceso no vigenteado en esta etapa>

					{% if proceso.subproceso.status == 'C' %}


						<!Asignacion de responsables RACI y envio a aprobacion>
    						<!****************************************************>
						{%if request.user.pk == proceso.subproceso.gestor_C.user_pk %}

							<a href="{% url 'asigna-raci' proceso.pk  'Mapeo de Servicios Criticos' %}"
							class="link blink " data-message="Define mapa de Autorizaciones RACI ..."><rr><strong>&#8476</strong></rr>.</a>

						{%else%}

							.<yy>&#8476</yy>..

						{%endif%}

					{%endif%}					

					<!Proceso a Aprobacion x  Gestor [A]utorizador>
					<!********************************************>
					{% if proceso.subproceso.status == 'A' %}

						{%if proceso.subproceso.gestor_A.user_pk == request.user.pk %}
						<!-- Si el usuario en sesion es Autorizador-->
							<a href="{% url 'Aut-Asigna-Activos' proceso.pk  %}"
							class="link blink" data-message="Revisar Asignacion de Servicios/Recursos y Autorizar u Observar ..."
							><img src="/static/img/revision_sc1.png" width="20" height="20"></img>
							</a>
						{%else%}
						<!--- Si no es el Autorizador -->
							<a class="link " data-message="En Revision y Autorizacion por Gestor Autorizador ...({{proceso.subproceso.gestor_A}})">
							<img src="/static/img/revision_sc1.png" width="20" height="20"></img></a>
						{%endif%}
	
					{%endif%}

					<!Proceso a aprobacion por Responsable Area>
					{%if proceso.subproceso.status == 'r' %}

						{%if proceso.subproceso.gestor_R.user_pk == request.user.pk %}
						<!-- Si usuario sesion es Responsable -->
							<a href="{% url 'Aut-Asigna-Activos' proceso.pk  %}"
							class="link blink" data-message="Revisar Asignacion de Servicios/Recursos y Autorizar u Observar ..."
							><img src="/static/img/revision_sc1.png" width="20" height="20"></img>
							</a>
						{%else%}
							<a class="link " data-message="En Revision y Autorizacion por Gestor Responsable ...({{proceso.subproceso.gestor_R}})">
							<img src="/static/img/revision_sc1.png" width="20" height="20"></img></a>
					{%endif%}
							
					{%endif%}


					<!Revision y correccion de observaciones x [C]onsultor>
					<!======================================>
					{%if proceso.subproceso.status == 'x' %}

						{%if  proceso.subproceso.gestor_C.user_pk == request.user.pk %}
						<!-- Si usuario sesion es Consultor -->
						  	<a href="{% url 'Rev-Asigna-Servicios' proceso.pk %}"
							class="link blink " data-message="Revisar Comentarios e implementar ...">
							<img src="/static/img/revision_servicio.png" width="20" height="20"></img>
						</a>
						{%else%}
							<yy class="link" data-message="En revision por Gestor Consultor ({{proceso.subproceso.gestor_C}})">
							<img src="/static/img/revision_servicio.png" width="20" height="20"></img></yy>
						{%endif%}
							
					{%endif%}

				    {%else%}
					<!Inicio de segundo ciclo de asignacion de Activos>
					<aa>..<strong>&#10004</strong>..</aa>
				    {%endif%}

				{%else%}<! Si la fase no es Mapeo de Servicios Criticos>


					{% if proceso.subproceso.status == 'R' and proceso.subproceso.fase_status == 'V' %}
					<!Asigna los Activos >
					<!*******************>
						<!--- Si usuario en sesion es [C]onsultor -->
						{% if proceso.subproceso.gestor_C.user_pk == request.user.pk %}
						  <a href="{% url 'Asigna-Servicio' proceso.pk %}"
						  class="link blink" data-message="Asignar Servicios/Recursos al Proceso ..."
						  ><img src="/static/img/servicio_1.webp" width="17" height="17"></img></a>
						{%else%}
						<!-- Su usuario en sesion No es [C]onsultor-->
						  <a 	class="link " data-message="En Asignacion de Servicios/Recursos al Proceso x Gestor Consultor ({{proceso.subproceso.gestor_C}})"
						  ><img src="/static/img/servicio_1.webp" width="17" height="17"></img>
						  </a>
						{%endif%}
	
					{%else%}<!Si no ha sido aprobado en fase anterior>

					   {% if proceso.subproceso.fase_status  == 'E' %} <!Si el proceso esta en fases posteriores>
						{% if  proceso.subproceso.status  == 'R' and proceso.subproceso.fase_status == 'E' %} <!Si el Proceso ya esta aprobado en todas las fases>
						   <aa>..<strong>&#9989</strong>.
						{%else%}
					   	   <aa>...<strong>&#10004</strong>.. <!Tilde simple>
						{%endif%}
					   	
					   {%endif%}
					   <! En caso de no estar aprobado en etapas anteriores no despliega nada>
			
					   
					{% endif %}

		   		{%endif%}<!Fin Si la fase es Mapeo de Servicios Criticos>
                          	
                           
                           {% endif %}<!Fin Si es Subproceso>
                        
			   
 		   
                        <! Fin Despliega Opciones>
			<!****************************************************************************************************************************************************>


			<!*****************************************>
			<!* Despliega codigo y nombre del Proceso *>
			<!*****************************************>
			{% if proceso.es_subproceso %} <!--- Si es Subproceso -->

			  {% if proceso.subproceso.fase_status not in 'MV' or proceso.subproceso.fase_status == 'V' and  proceso.subproceso.status == 'R' %}
				<!Si el Proceso no se encuentra  en aprobacion en fases anteriores>

				<!Opcion para ver detalle del Proceso>
			   	<a href="{% url 'Detalle-Proceso' proceso.pk %}"><bb>&#128065</bb></a>

				<!-- Despliega nombre del Proceso -->
                            	<aa> &nbsp;&nbsp; &#10149 {{ proceso.nombre }} </aa>
 				</p> <!Salta linea al desplegar el nombre del Proceso>

			  {%endif%}

            {%else%}<! Si no es Subproceso>

			    {% if proceso.nro_hijos > 0 %} <! Si el Proceso no tiene Subprocesos definidos no se despliega>
                               <aa><strong>{{ proceso.nombre }}</strong> </aa>
			       </p> <!Salta linea al desplegar el nombre del Proceso>

			    {%endif%}

                        {%endif%}
         		
			
		      <! Fin Despliega codigo y nombre del Proceso>
		      <! *************************************************************************************************************************************************************>
 	
			{% endfor %}

		{% else %}
      			<p>No hay Procesos definidos.</p>
    		{% endif %}
		
	</ul>
	{%endblock%}

<!----- CSS para Scripts ----------------------------------->
	<!---------------------------------------------------------->
		<!-- Caja de Comentario -->

		<div id="comment-box" class="hidden" style="font-size: 13px;">
			<p style="text-align: center;"><img src="/static/img/Pin.png" width="50" height="50"></p>
			<h5><strong>Comentario de Revision:</strong></h5>
			<textarea id="comment-text" rows="5" cols="30"></textarea>
			<button id="save-comment">Guardar</button> <!-- Cambiado de "Enviar Comentario" a "Guardar" -->
			<button id="close-comment">Cerrar</button>
		</div>
		
		<!-- Globo de cómic -->
		<div id="comicBalloon"></div>

		<!-- Contenedor del cuadro de confirmación de Eliminacion  -->
		<div id="confirmation-dialog" class="hidden">
			<div class="dialog-content">
				<p id="confirmation-message"></p>
				<button id="confirm-yes">Sí</button>
				<button id="confirm-no">No</button>
			</div>
		</div>
		

	<!--------- Fin CSS para Scripts ------------------------->


{%endblock%}

