<!Programa en HTML>
<!Mensaje de error >
<!Programado por Marco A. Villalobos Michelson>


{%extends "base_generic_2.html"%}


{% block content %}


	<h1>defcon-5 / bcp</h1>
	<br/>
	
	<p> <strong>Error !!.....:</strong> &emsp;<aa>{{mensaje}}</aa></p>

	{% if error != 'NA' %}
		<a href="{{ request.META.HTTP_REFERER }}"><span style='font-size:30px;'>&#128281</span></a>
	{%else%}
		<a href="{% url 'login'%}?next={{request.path}}"><span style='font-size:30px;'>&#128281</span></a>
	{%endif%}
{% endblock %}

