<!Programa en HTML>
<!Mensaje de error >
<!Programado por Marco A. Villalobos Michelson>


{%extends "base_generic_2.html"%}


{% block content %}


	<ul class="encabezado_B"><h1>defcon5</h1></ul>
	<br/>
	<br/>
	<br/>
	
	<ul style="font-size: 2rem; border: 2px solid red;border-radius: 10px;">
	<p style="text-align: center; padding: 10px 5px"><sa style="font-size: 2rem; color:yellow">Warning..!! :</sa> &emsp;<rr class="blink">{{mensaje}}</rr></p>
	</ul>
	<br/>
	<br/>

	{% if error != 'NA' %}
		<a href="{{ request.META.HTTP_REFERER }}"><span style='font-size:30px;'>&#128281</span></a>
	{%else%}
		<a href="{% url 'login'%}?next={{request.path}}"><span style='font-size:30px;'>&#128281</span></a>
	{%endif%}
{% endblock %}

